# TFL Bike data prep
___

#### Data prep as part of my MSc thesis, "Using machine learning to analyse and predict Transport for London bike sharing habits in the post COVID-19 era".

The following code for downloading the data has been adopted from [Markus Hauru's](https://github.com/mhauru) analysis, 'Predicting Boris Bike usage'.

In [2]:
# importing libraries

import os
import pickle
import requests
import zipfile
import pandas as pd
import numpy as np
import scipy as sp
import statsmodels.api as sm
from sklearn import linear_model, svm, neighbors, tree
from matplotlib import pyplot as plt
import matplotlib
import seaborn as sns
from pathlib import Path
from timeit import default_timer as timer
from IPython.display import set_matplotlib_formats
from urllib.parse import urlparse
import openpyxl

try:
    import xlrd
except Exception as e:
    msg = (
        "Please install the package xlrd: `pip install --user xlrd`"
        "It's an optional requirement for pandas, and we'll be needing it."
    )
    print(msg)
    raise e

In [3]:
# For pretty and exportable matplotlib plots.
# If you are running this yourself and want interactivity,
# try `%matplotlib widget` instead.
set_matplotlib_formats("svg")
%matplotlib inline
# %matplotlib widget
# Set a consistent plotting style across the notebook using Seaborn.
sns.set_style("darkgrid")
sns.set_context("notebook")
# Make pandas cooperate with pyplot
pd.plotting.register_matplotlib_converters()

C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\99259732.py:4: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats("svg")

1. Processing and cleaning the bike data
Before getting anywhere with it, we'll need to process the bike data quite a bit. The data comes in CSV files, each of which covers a period of time. Up first, we need to download the data from the TfL website. If you are running this code yourself, here's a script that does that. Be warned though, it's almost seven gigs of data. You can run it repeatedly, and it'll only download data that it doesn't have already.

In [4]:
bikefolder = "data/bikes"

In [5]:
def download_file(datafolder, url, verbosity=0):
    """Download the data from the given URL into the datafolder, unless it's
    already there. Return path to downloaded file.
    """
    # data folder variable for where the folder for where the downloaded file should be stores 
    # using the path() function to converted the data folder string into a path
    datafolder = Path(datafolder)
    datafolder.mkdir(parents=True, exist_ok=True)

    # using the url parse function to extract the file from the url and create a filepath for it to be stored
    a = urlparse(url)
    filename = Path(os.path.basename(a.path))
    filepath = datafolder / filename
    # Don't redownload if we already have this file.
    if filepath.exists():
        if verbosity > 1:
            print("Already have {}".format(filename))
    else:
        if verbosity > 0:
            print("Downloading {}".format(filename))
        # sends a GET request to the URL using the requests module and raises an exception if there is an error
        rqst = requests.get(url)
        rqst.raise_for_status()
        with open(filepath, "wb") as f:
            f.write(rqst.content)
    return filepath

In [6]:
# Adjust whether to print progress reports of the downloads.
# verbosity=0 is silence, verbosity=1 reports only when actually doing things,
# verbosity>1 also reports when there's nothing to do.
verbosity = 1

# Most files are individual CSV files, listed in bike_data_urls.txt. Download them.
urlsfile = "data/bikes/bike_data_urls.txt"
with open(urlsfile, "r") as f:
    urls = f.read().splitlines()
# There are a few comments in the file, marked by lines starting with #.
# Filter them out.
urls = [u for u in urls if u[0] != "#"]
for url in urls:
    download_file(bikefolder, url, verbosity)

# The early years come in zips. Download and unzip them.
zipsfolder = Path("data/bikes/bikezips")
bikezipurls = [
    "https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2012.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2013.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2014.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/2015TripDatazip.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/2016TripDataZip.zip",
]
# A list of CSV files that are already there. Only unzip if some of the files
# in the zip aren't present already.
current_csvs = sorted(os.listdir(bikefolder))
for url in bikezipurls:
    zippath = download_file(zipsfolder, url, verbosity)
    with zipfile.ZipFile(zippath, "r") as z:
        namelist = z.namelist()
        has_been_extracted = any(name not in current_csvs for name in namelist)
        if has_been_extracted:
            if verbosity > 0:
                print("Unzipping {}".format(zippath))
            z.extractall(bikefolder)
        else:
            if verbosity > 1:
                print("{} has already been extracted.".format(zippath))

# Finally, there's an odd one out: One week's data comes in as an .xlsx.
# Download it and use pandas to convert it to csv.
xlsxurl = "https://cycling.data.tfl.gov.uk/usage-stats/49JourneyDataExtract15Mar2017-21Mar2017.xlsx"
xlsxfile = download_file(bikefolder, xlsxurl)
csvfile = xlsxfile.with_suffix(".csv")
if not csvfile.exists():
    if verbosity > 0:
        print("Converting .xlsx to .csv.")
    pd.read_excel(xlsxfile).to_csv(csvfile, date_format="%d/%m/%Y %H:%M:%S")
else:
    if verbosity > 1:
        print("Already have {}".format(csvfile))

The data we have now lists on each line of the CSV file a single bike trip, with starting point and time, end point and time, and things like bike ID number. Here's an example.

In [7]:
example_file  = Path(bikefolder) / Path("47JourneyDataExtract01Mar2017-07Mar2017.csv")
pd.read_csv(example_file, encoding="ISO-8859-2").head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,62857677,3780.0,7851,06/03/2017 19:20,43.0,"Crawford Street, Marylebone",06/03/2017 18:17,811,"Westferry Circus, Canary Wharf"
1,62863035,540.0,4089,06/03/2017 22:17,295.0,"Swan Street, The Borough",06/03/2017 22:08,272,"Baylis Road, Waterloo"
2,62775896,600.0,4895,02/03/2017 21:27,295.0,"Swan Street, The Borough",02/03/2017 21:17,197,"Stamford Street, South Bank"
3,62747748,420.0,4347,01/03/2017 21:08,295.0,"Swan Street, The Borough",01/03/2017 21:01,803,"Southwark Street, Bankside"
4,62843939,420.0,3192,06/03/2017 09:28,193.0,"Bankside Mix, Bankside",06/03/2017 09:21,197,"Stamford Street, South Bank"

In [8]:
from glob import glob 

# using glob to list all the csv file in the bikefolder filepath
all_csv = glob(bikefolder+str('/*.csv'))
all_csv

['data/bikes\\01aJourneyDataExtract10Jan16-23Jan16.csv',
 'data/bikes\\01bJourneyDataExtract24Jan16-06Feb16.csv',
 'data/bikes\\02aJourneyDataExtract07Feb16-20Feb2016.csv',
 'data/bikes\\02bJourneyDataExtract21Feb16-05Mar2016.csv',
 'data/bikes\\03JourneyDataExtract06Mar2016-31Mar2016.csv',
 'data/bikes\\04JourneyDataExtract01Apr2016-30Apr2016.csv',
 'data/bikes\\05JourneyDataExtract01May2016-17May2016.csv',
 'data/bikes\\06JourneyDataExtract18May2016-24May2016.csv',
 'data/bikes\\07JourneyDataExtract25May2016-31May2016.csv',
 'data/bikes\\08JourneyDataExtract01Jun2016-07Jun2016.csv',
 'data/bikes\\09JourneyDataExtract08Jun2016-14Jun2016.csv',
 'data/bikes\\1. Journey Data Extract 01Jan-05Jan13.csv',
 'data/bikes\\1. Journey Data Extract 04Jan-31Jan 12.csv',
 'data/bikes\\1. Journey Data Extract 05Jan14-02Feb14.csv',
 'data/bikes\\10. Journey Data Extract 18Aug-13Sep13.csv',
 'data/bikes\\10. Journey Data Extract 21Aug-22 Aug12.csv',
 'data/bikes\\10a Journey Data Extract 20Sep15-03Oct15.csv',
 'data/bikes\\10a. Journey Data Extract 14Sep14-27Sep14.csv',
 'data/bikes\\10b Journey Data Extract 04Oct15-17Oct15.csv',
 'data/bikes\\10b. Journey Data Extract 28Sep14-11Oct14.csv',
 'data/bikes\\10JourneyDataExtract15Jun2016-21Jun2016.csv',
 'data/bikes\\11. Journey Data Extract 14Sep13-12Oct13.csv',
 'data/bikes\\11. Journey Data Extract 23Aug-25 Aug12.csv',
 'data/bikes\\11a Journey Data Extract 18Oct15-31Oct15.csv',
 'data/bikes\\11a. Journey Data Extract 12Oct14-08Nov14.csv',
 'data/bikes\\11b Journey Data Extract 01Nov15-14Nov15.csv',
 'data/bikes\\11b. Journey Data Extract 12Oct14-08Nov14.csv',
 'data/bikes\\11JourneyDataExtract22Jun2016-28Jun2016.csv',
 'data/bikes\\12. Journey Data Extract 13Oct13-09Nov13.csv',
 'data/bikes\\12. Journey Data Extract 26Aug-27 Aug12.csv',
 'data/bikes\\12a Journey Data Extract 15Nov15-27Nov15.csv',
 'data/bikes\\12a. Journey Data Extract 09Nov14-06Dec14.csv',
 'data/bikes\\12b Journey Data Extract 28Nov15-12Dec15.csv',
 'data/bikes\\12b. Journey Data Extract 09Nov14-06Dec14.csv',
 'data/bikes\\12JourneyDataExtract29Jun2016-05Jul2016.csv',
 'data/bikes\\13. Journey Data Extract 10Nov13-07Dec13.csv',
 'data/bikes\\13. Journey Data Extract 28Aug-29 Aug12.csv',
 'data/bikes\\13a Journey Data Extract 13Dec15-24Dec15.csv',
 'data/bikes\\13a. Journey Data Extract 07Dec14-21Dec14.csv',
 'data/bikes\\13b Journey Data Extract 25Dec15-09Jan16.csv',
 'data/bikes\\13b. Journey Data Extract 22Dec14-03Jan15.csv',
 'data/bikes\\13JourneyDataExtract06Jul2016-12Jul2016.csv',
 'data/bikes\\14. Journey Data Extract 08Dec13-04Jan14.csv',
 'data/bikes\\14. Journey Data Extract 30Aug-31 Aug12.csv',
 'data/bikes\\142JourneyDataExtract26Dec2018-01Jan2019.csv',
 'data/bikes\\143JourneyDataExtract02Jan2019-08Jan2019.csv',
 'data/bikes\\144JourneyDataExtract09Jan2019-15Jan2019.csv',
 'data/bikes\\145JourneyDataExtract16Jan2019-22Jan2019.csv',
 'data/bikes\\146JourneyDataExtract23Jan2019-29Jan2019.csv',
 'data/bikes\\147JourneyDataExtract30Jan2019-05Feb2019.csv',
 'data/bikes\\148JourneyDataExtract06Feb2019-12Feb2019.csv',
 'data/bikes\\149JourneyDataExtract13Feb2019-19Feb2019.csv',
 'data/bikes\\14JourneyDataExtract13Jul2016-19Jul2016.csv',
 'data/bikes\\15. Journey Data Extract 01Sep-30Sep12.csv',
 'data/bikes\\150JourneyDataExtract20Feb2019-26Feb2019.csv',
 'data/bikes\\151JourneyDataExtract27Feb2019-05Mar2019.csv',
 'data/bikes\\152JourneyDataExtract06Mar2019-12Mar2019.csv',
 'data/bikes\\153JourneyDataExtract13Mar2019-19Mar2019.csv',
 'data/bikes\\154JourneyDataExtract20Mar2019-26Mar2019.csv',
 'data/bikes\\155JourneyDataExtract27Mar2019-02Apr2019.csv',
 'data/bikes\\156JourneyDataExtract03Apr2019-09Apr2019.csv',
 'data/bikes\\157JourneyDataExtract10Apr2019-16Apr2019.csv',
 'data/bikes\\158JourneyDataExtract17Apr2019-23Apr2019.csv',
 'data/bikes\\159JourneyDataExtract24Apr2019-30Apr2019.csv',
 'data/bikes\\15JourneyDataExtract20Jul2016-26Jul2016.csv',
 'data/bikes\\16. Journey Data Extract 01Oct-31Oct12.csv',
 'data/bikes\\160JourneyDataExtract01May2019-07May2019.csv',
 'data/bikes\\161JourneyDataExtract08May2019-14May2019.csv',
 'data/bikes\\162JourneyDataExtract15May2019-21May2019.csv',
 'data/bikes\\163JourneyDataExtract22May2019-28May2019.csv',
 'data/bikes\\164JourneyDataExtract29May2019-04Jun2019.csv',
 'data/bikes\\165JourneyDataExtract05Jun2019-11Jun2019.csv',
 'data/bikes\\166JourneyDataExtract12Jun2019-18Jun2019.csv',
 'data/bikes\\167JourneyDataExtract19Jun2019-25Jun2019.csv',
 'data/bikes\\168JourneyDataExtract26Jun2019-02Jul2019.csv',
 'data/bikes\\169JourneyDataExtract03Jul2019-09Jul2019.csv',
 'data/bikes\\16JourneyDataExtract27Jul2016-02Aug2016.csv',
 'data/bikes\\17. Journey Data Extract 01Nov-30Nov12.csv',
 'data/bikes\\170JourneyDataExtract10Jul2019-16Jul2019.csv',
 'data/bikes\\171JourneyDataExtract17Jul2019-23Jul2019.csv',
 'data/bikes\\172JourneyDataExtract24Jul2019-30Jul2019.csv',
 'data/bikes\\173JourneyDataExtract31Jul2019-06Aug2019.csv',
 'data/bikes\\174JourneyDataExtract07Aug2019-13Aug2019.csv',
 'data/bikes\\175JourneyDataExtract14Aug2019-20Aug2019.csv',
 'data/bikes\\176JourneyDataExtract21Aug2019-27Aug2019.csv',
 'data/bikes\\177JourneyDataExtract28Aug2019-03Sep2019.csv',
 'data/bikes\\178JourneyDataExtract04Sep2019-10Sep2019.csv',
 'data/bikes\\179JourneyDataExtract11Sep2019-17Sep2019.csv',
 'data/bikes\\17JourneyDataExtract03Aug2016-09Aug2016.csv',
 'data/bikes\\18. Journey Data Extract 01Dec-31Dec12.csv',
 'data/bikes\\180JourneyDataExtract18Sep2019-24Sep2019.csv',
 'data/bikes\\181JourneyDataExtract25Sep2019-01Oct2019.csv',
 'data/bikes\\182JourneyDataExtract02Oct2019-08Oct2019.csv',
 'data/bikes\\183JourneyDataExtract09Oct2019-15Oct2019.csv',
 'data/bikes\\184JourneyDataExtract16Oct2019-22Oct2019.csv',
 'data/bikes\\185JourneyDataExtract23Oct2019-29Oct2019.csv',
 'data/bikes\\186JourneyDataExtract30Oct2019-05Nov2019.csv',
 'data/bikes\\187JourneyDataExtract06Nov2019-12Nov2019.csv',
 'data/bikes\\188JourneyDataExtract13Nov2019-19Nov2019.csv',
 'data/bikes\\189JourneyDataExtract20Nov2019-26Nov2019.csv',
 'data/bikes\\18JourneyDataExtract10Aug2016-16Aug2016.csv',
 'data/bikes\\190JourneyDataExtract27Nov2019-03Dec2019.csv',
 'data/bikes\\191JourneyDataExtract04Dec2019-10Dec2019.csv',
 'data/bikes\\192JourneyDataExtract11Dec2019-17Dec2019.csv',
 'data/bikes\\193JourneyDataExtract18Dec2019-24Dec2019.csv',
 'data/bikes\\194JourneyDataExtract25Dec2019-31Dec2019.csv',
 'data/bikes\\19JourneyDataExtract17Aug2016-23Aug2016.csv',
 'data/bikes\\1a.JourneyDataExtract04Jan15-17Jan15.csv',
 'data/bikes\\1b.JourneyDataExtract18Jan15-31Jan15.csv',
 'data/bikes\\2. Journey Data Extract 03Feb14-01Mar14.csv',
 'data/bikes\\2. Journey Data Extract 06Jan-02Feb13.csv',
 'data/bikes\\2. Journey Data Extract_01Feb-29Feb 12.csv',
 'data/bikes\\20JourneyDataExtract24Aug2016-30Aug2016.csv',
 'data/bikes\\21JourneyDataExtract31Aug2016-06Sep2016.csv',
 'data/bikes\\22JourneyDataExtract07Sep2016-13Sep2016.csv',
 'data/bikes\\23JourneyDataExtract14Sep2016-20Sep2016.csv',
 'data/bikes\\24JourneyDataExtract21Sep2016-27Sep2016.csv',
 'data/bikes\\25JourneyDataExtract28Sep2016-04Oct2016.csv',
 'data/bikes\\26JourneyDataExtract05Oct2016-11Oct2016.csv',
 'data/bikes\\27JourneyDataExtract12Oct2016-18Oct2016.csv',
 'data/bikes\\28JourneyDataExtract19Oct2016-25Oct2016.csv',
 'data/bikes\\298JourneyDataExtract29Dec2021-04Jan2022.csv',
 'data/bikes\\299JourneyDataExtract05Jan2022-11Jan2022.csv',
 'data/bikes\\29JourneyDataExtract26Oct2016-01Nov2016.csv',
 'data/bikes\\2a.JourneyDataExtract01Feb15-14Feb15.csv',
 'data/bikes\\2b.JourneyDataExtract15Feb15-28Feb15.csv',
 'data/bikes\\3. Journey Data Extract 02Mar14-31Mar14.csv',
 'data/bikes\\3. Journey Data Extract 03Feb-02Mar13.csv',
 'data/bikes\\3. Journey Data Extract_01Mar-31Mar12.csv',
 'data/bikes\\300JourneyDataExtract12Jan2022-18Jan2022.csv',
 'data/bikes\\301JourneyDataExtract19Jan2022-25Jan2022.csv',
 'data/bikes\\302JourneyDataExtract26Jan2022-01Feb2022.csv',
 'data/bikes\\303JourneyDataExtract02Feb2022-08Feb2022.csv',
 'data/bikes\\304JourneyDataExtract09Feb2022-15Feb2022.csv',
 'data/bikes\\305JourneyDataExtract16Feb2022-22Feb2022.csv',
 'data/bikes\\306JourneyDataExtract23Feb2022-01Mar2022.csv',
 'data/bikes\\307JourneyDataExtract02Mar2022-08Mar2022.csv',
 'data/bikes\\308JourneyDataExtract09Mar2022-15Mar2022.csv',
 'data/bikes\\309JourneyDataExtract16Mar2022-22Mar2022.csv',
 'data/bikes\\30JourneyDataExtract02Nov2016-08Nov2016.csv',
 'data/bikes\\310JourneyDataExtract23Mar2022-29Mar2022.csv',
 'data/bikes\\311JourneyDataExtract30Mar2022-05Apr2022.csv',
 'data/bikes\\312JourneyDataExtract06Apr2022-12Apr2022.csv',
 'data/bikes\\313JourneyDataExtract13Apr2022-19Apr2022.csv',
 'data/bikes\\314JourneyDataExtract20Apr2022-26Apr2022.csv',
 'data/bikes\\315JourneyDataExtract27Apr2022-03May2022.csv',
 'data/bikes\\316JourneyDataExtract04May2022-10May2022.csv',
 'data/bikes\\317JourneyDataExtract11May2022-17May2022.csv',
 'data/bikes\\318JourneyDataExtract18May2022-24May2022.csv',
 'data/bikes\\319JourneyDataExtract25May2022-31May2022.csv',
 'data/bikes\\31JourneyDataExtract09Nov2016-15Nov2016.csv',
 'data/bikes\\320JourneyDataExtract01Jun2022-07Jun2022.csv',
 'data/bikes\\321JourneyDataExtract08Jun2022-14Jun2022.csv',
 'data/bikes\\322JourneyDataExtract15Jun2022-21Jun2022.csv',
 'data/bikes\\323JourneyDataExtract22Jun2022-28Jun2022.csv',
 'data/bikes\\324JourneyDataExtract29Jun2022-05Jul2022.csv',
 'data/bikes\\325JourneyDataExtract06Jul2022-12Jul2022.csv',
 'data/bikes\\326JourneyDataExtract13Jul2022-19Jul2022.csv',
 'data/bikes\\327JourneyDataExtract20Jul2022-26Jul2022.csv',
 'data/bikes\\328JourneyDataExtract27Jul2022-02Aug2022.csv',
 'data/bikes\\329JourneyDataExtract03Aug2022-09Aug2022.csv',
 'data/bikes\\32JourneyDataExtract16Nov2016-22Nov2016.csv',
 'data/bikes\\330JourneyDataExtract10Aug2022-16Aug2022.csv',
 'data/bikes\\331JourneyDataExtract17Aug2022-23Aug2022.csv',
 'data/bikes\\332JourneyDataExtract24Aug2022-30Aug2022.csv',
 'data/bikes\\333JourneyDataExtract31Aug2022-06Sep2022.csv',
 'data/bikes\\334JourneyDataExtract07Sep2022-11Sep2022.csv',
 'data/bikes\\335JourneyDataExtract12Sep2022-18Sep2022.csv',
 'data/bikes\\336JourneyDataExtract19Sep2022-25Sep2022.csv',
 'data/bikes\\337JourneyDataExtract26Sep2022-02Oct2022.csv',
 'data/bikes\\338JourneyDataExtract03Oct2022-09Oct2022.csv',
 'data/bikes\\339JourneyDataExtract10Oct2022-16Oct2022.csv',
 'data/bikes\\33JourneyDataExtract23Nov2016-29Nov2016.csv',
 'data/bikes\\340JourneyDataExtract17Oct2022-23Oct2022.csv',
 'data/bikes\\341JourneyDataExtract24Oct2022-30Oct2022.csv',
 'data/bikes\\342JourneyDataExtract31Oct2022-06Nov2022.csv',
 'data/bikes\\343JourneyDataExtract07Nov2022-13Nov2022.csv',
 'data/bikes\\344JourneyDataExtract14Nov2022-20Nov2022.csv',
 'data/bikes\\345JourneyDataExtract21Nov2022-27Nov2022.csv',
 'data/bikes\\346JourneyDataExtract28Nov2022-04Dec2022.csv',
 'data/bikes\\347JourneyDataExtract05Dec2022-11Dec2022.csv',
 'data/bikes\\348JourneyDataExtract12Dec2022-18Dec2022.csv',
 'data/bikes\\349JourneyDataExtract19Dec2022-25Dec2022.csv',
 'data/bikes\\34JourneyDataExtract30Nov2016-06Dec2016.csv',
 'data/bikes\\350JourneyDataExtract26Dec2022-01Jan2023.csv',
 'data/bikes\\35JourneyDataExtract07Dec2016-13Dec2016.csv',
 'data/bikes\\36JourneyDataExtract14Dec2016-20Dec2016.csv',
 'data/bikes\\37JourneyDataExtract21Dec2016-27Dec2016.csv',
 'data/bikes\\38JourneyDataExtract28Dec2016-03Jan2017.csv',
 'data/bikes\\39JourneyDataExtract04Jan2017-10Jan2017.csv',
 'data/bikes\\3a.JourneyDataExtract01Mar15-15Mar15.csv',
 'data/bikes\\3b.JourneyDataExtract16Mar15-31Mar15.csv',
 'data/bikes\\4. Journey Data Extract 01Apr14-26Apr14.csv',
 'data/bikes\\4. Journey Data Extract 03Mar-31Mar13.csv',
 'data/bikes\\4. Journey Data Extract_1Apr-28Apr12.csv',
 'data/bikes\\40JourneyDataExtract11Jan2017-17Jan2017.csv',
 'data/bikes\\41JourneyDataExtract18Jan2017-24Jan2017.csv',
 'data/bikes\\42JourneyDataExtract25Jan2017-31Jan2017.csv',
 'data/bikes\\43JourneyDataExtract01Feb2017-07Feb2017.csv',
 'data/bikes\\44JourneyDataExtract08Feb2017-14Feb2017.csv',
 'data/bikes\\45JourneyDataExtract15Feb2017-21Feb2017.csv',
 'data/bikes\\46JourneyDataExtract22Feb2017-28Feb2017.csv',
 'data/bikes\\47JourneyDataExtract01Mar2017-07Mar2017.csv',
 'data/bikes\\48JourneyDataExtract08Mar2017-14Mar2017.csv',
 'data/bikes\\49JourneyDataExtract15Mar2017-21Mar2017.csv',
 'data/bikes\\4a.JourneyDataExtract01Apr15-16Apr15.csv',
 'data/bikes\\4b.JourneyDataExtract 17Apr15-02May15.csv',
 'data/bikes\\5. Journey Data Extract 01Apr-27Apr13.csv',
 'data/bikes\\5. Journey Data Extract 27Apr14-24May14.csv',
 'data/bikes\\5. Journey Data Extract_29Apr-26May12.csv',
 'data/bikes\\50 Journey Data Extract 22Mar2017-28Mar2017.csv',
 'data/bikes\\51 Journey Data Extract 29Mar2017-04Apr2017.csv',
 'data/bikes\\52 Journey Data Extract 05Apr2017-11Apr2017.csv',
 'data/bikes\\53JourneyDataExtract12Apr2017-18Apr2017.csv',
 'data/bikes\\54JourneyDataExtract19Apr2017-25Apr2017.csv',
 'data/bikes\\55JourneyData Extract26Apr2017-02May2017.csv',
 'data/bikes\\56JourneyDataExtract 03May2017-09May2017.csv',
 'data/bikes\\57JourneyDataExtract10May2017-16May2017.csv',
 'data/bikes\\5a.JourneyDataExtract03May15-16May15.csv',
 'data/bikes\\5b.JourneyDataExtract17May15-30May15.csv',
 'data/bikes\\6. Journey Data Extract 25May14-21Jun14.csv',
 'data/bikes\\6. Journey Data Extract 28Apr-25May13.csv',
 'data/bikes\\6. Journey Data Extract_27May-23Jun12.csv',
 'data/bikes\\6aJourneyDataExtract31May15-12Jun15.csv',
 'data/bikes\\6bJourneyDataExtract13Jun15-27Jun15.csv',
 'data/bikes\\7. Journey Data Extract 22Jun14-19Jul14.csv',
 'data/bikes\\7. Journey Data Extract 26May-22Jun13.csv',
 'data/bikes\\7. Journey Data Extract_24Jun-21Jul12.csv',
 'data/bikes\\7a.JourneyDataExtract28Jun15-11Jul15.csv',
 'data/bikes\\7b.JourneyDataExtract12Jul15-25Jul15.csv',
 'data/bikes\\8. Journey Data Extract 22Jul-18Aug12.csv',
 'data/bikes\\8. Journey Data Extract 23Jun-20Jul13.csv',
 'data/bikes\\8a Journey Data Extract 20Jul14-31Jul14.csv',
 'data/bikes\\8aJourneyDataExtract26Jul15-07Aug15.csv',
 'data/bikes\\8b Journey Data Extract 01Aug14-16Aug14.csv',
 'data/bikes\\8bJourneyData Extract 08Aug15-22Aug15.csv',
 'data/bikes\\9. Journey Data Extract 19Aug-20 Aug12.csv',
 'data/bikes\\9. Journey Data Extract 21Jul-17Aug13.csv',
 'data/bikes\\9a Journey Data Extract 17Aug14-31Aug14.csv',
 'data/bikes\\9a-Journey-Data-Extract-23Aug15-05Sep15.csv',
 'data/bikes\\9b Journey Data Extract 01Sep14-13Sep14.csv',
 'data/bikes\\9b-Journey-Data-Extract-06Sep15-19Sep15.csv']

### 2019 data prep

In [35]:
# creating a list of csv files that contain '2019' and '2022' respectively
csv_2019 = [item for item in all_csv if '2019' in item]
csv_2022 = [item for item in all_csv if '2022' in item]

In [13]:
csv_2019

['data/bikes\\142JourneyDataExtract26Dec2018-01Jan2019.csv',
 'data/bikes\\143JourneyDataExtract02Jan2019-08Jan2019.csv',
 'data/bikes\\144JourneyDataExtract09Jan2019-15Jan2019.csv',
 'data/bikes\\145JourneyDataExtract16Jan2019-22Jan2019.csv',
 'data/bikes\\146JourneyDataExtract23Jan2019-29Jan2019.csv',
 'data/bikes\\147JourneyDataExtract30Jan2019-05Feb2019.csv',
 'data/bikes\\148JourneyDataExtract06Feb2019-12Feb2019.csv',
 'data/bikes\\149JourneyDataExtract13Feb2019-19Feb2019.csv',
 'data/bikes\\150JourneyDataExtract20Feb2019-26Feb2019.csv',
 'data/bikes\\151JourneyDataExtract27Feb2019-05Mar2019.csv',
 'data/bikes\\152JourneyDataExtract06Mar2019-12Mar2019.csv',
 'data/bikes\\153JourneyDataExtract13Mar2019-19Mar2019.csv',
 'data/bikes\\154JourneyDataExtract20Mar2019-26Mar2019.csv',
 'data/bikes\\155JourneyDataExtract27Mar2019-02Apr2019.csv',
 'data/bikes\\156JourneyDataExtract03Apr2019-09Apr2019.csv',
 'data/bikes\\157JourneyDataExtract10Apr2019-16Apr2019.csv',
 'data/bikes\\158JourneyDataExtract17Apr2019-23Apr2019.csv',
 'data/bikes\\159JourneyDataExtract24Apr2019-30Apr2019.csv',
 'data/bikes\\160JourneyDataExtract01May2019-07May2019.csv',
 'data/bikes\\161JourneyDataExtract08May2019-14May2019.csv',
 'data/bikes\\162JourneyDataExtract15May2019-21May2019.csv',
 'data/bikes\\163JourneyDataExtract22May2019-28May2019.csv',
 'data/bikes\\164JourneyDataExtract29May2019-04Jun2019.csv',
 'data/bikes\\165JourneyDataExtract05Jun2019-11Jun2019.csv',
 'data/bikes\\166JourneyDataExtract12Jun2019-18Jun2019.csv',
 'data/bikes\\167JourneyDataExtract19Jun2019-25Jun2019.csv',
 'data/bikes\\168JourneyDataExtract26Jun2019-02Jul2019.csv',
 'data/bikes\\169JourneyDataExtract03Jul2019-09Jul2019.csv',
 'data/bikes\\170JourneyDataExtract10Jul2019-16Jul2019.csv',
 'data/bikes\\171JourneyDataExtract17Jul2019-23Jul2019.csv',
 'data/bikes\\172JourneyDataExtract24Jul2019-30Jul2019.csv',
 'data/bikes\\173JourneyDataExtract31Jul2019-06Aug2019.csv',
 'data/bikes\\174JourneyDataExtract07Aug2019-13Aug2019.csv',
 'data/bikes\\175JourneyDataExtract14Aug2019-20Aug2019.csv',
 'data/bikes\\176JourneyDataExtract21Aug2019-27Aug2019.csv',
 'data/bikes\\177JourneyDataExtract28Aug2019-03Sep2019.csv',
 'data/bikes\\178JourneyDataExtract04Sep2019-10Sep2019.csv',
 'data/bikes\\179JourneyDataExtract11Sep2019-17Sep2019.csv',
 'data/bikes\\180JourneyDataExtract18Sep2019-24Sep2019.csv',
 'data/bikes\\181JourneyDataExtract25Sep2019-01Oct2019.csv',
 'data/bikes\\182JourneyDataExtract02Oct2019-08Oct2019.csv',
 'data/bikes\\183JourneyDataExtract09Oct2019-15Oct2019.csv',
 'data/bikes\\184JourneyDataExtract16Oct2019-22Oct2019.csv',
 'data/bikes\\185JourneyDataExtract23Oct2019-29Oct2019.csv',
 'data/bikes\\186JourneyDataExtract30Oct2019-05Nov2019.csv',
 'data/bikes\\187JourneyDataExtract06Nov2019-12Nov2019.csv',
 'data/bikes\\188JourneyDataExtract13Nov2019-19Nov2019.csv',
 'data/bikes\\189JourneyDataExtract20Nov2019-26Nov2019.csv',
 'data/bikes\\190JourneyDataExtract27Nov2019-03Dec2019.csv',
 'data/bikes\\191JourneyDataExtract04Dec2019-10Dec2019.csv',
 'data/bikes\\192JourneyDataExtract11Dec2019-17Dec2019.csv',
 'data/bikes\\193JourneyDataExtract18Dec2019-24Dec2019.csv',
 'data/bikes\\194JourneyDataExtract25Dec2019-31Dec2019.csv']

In [14]:
# using list comprehension that reads each csv file from the list and gnerators a sequence of dataframes
dfs = (pd.read_csv(csv) for csv in csv_2019)

# concatenate csvs them into a single DataFrame using pd.concat()
# ignore_index=True parameter resets the index of the resulting DataFrame, so that it is a continuous sequence of integers.
data_2019 = pd.concat(dfs, ignore_index=True)

In [15]:
print(data_2019.shape)
data_2019.head()

(10388411, 9)

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,83252102,720,2077,31/12/2018 19:05,272,"Baylis Road, Waterloo",31/12/2018 18:53,94,"Bricklayers Arms, Borough"
1,83195883,120,10781,27/12/2018 19:47,93,"Cloudesley Road, Angel",27/12/2018 19:45,339,"Risinghill Street, Angel"
2,83196070,120,2977,27/12/2018 20:11,339,"Risinghill Street, Angel",27/12/2018 20:09,234,"Liverpool Road (N1 Centre), Angel"
3,83197932,660,10802,28/12/2018 07:35,282,"Royal London Hospital, Whitechapel",28/12/2018 07:24,698,"Shoreditch Court, Haggerston"
4,83176351,1380,15749,26/12/2018 11:55,785,"Aquatic Centre, Queen Elizabeth Olympic Park",26/12/2018 11:32,783,"Monier Road, Hackney Wick"

In [16]:
# 2019

## Add some extra variables to the dataset for use later in filtering

import datetime

## Feeding a specififed date format speeds up the pd.to_datetime function immeasurably, especially over large datasets
## e.g. http://stackoverflow.com/questions/32034689/why-is-pandas-to-datetime-slow-for-non-standard-time-format-such-as-2014-12-31

format = "%d/%m/%Y %H:%M"

## Some routes had dates with a seconds component, whereas some didn't - the below code cuts these seconds off
data_2019['Start Date']= data_2019['Start Date'].str[:16]

data_2019['Start Date Time']= pd.to_datetime(data_2019['Start Date'], format=format)

data_2019['Hour']= pd.to_datetime(data_2019['Start Date'], format=format).dt.hour

data_2019['Day']= pd.to_datetime(data_2019['Start Date'], format=format).dt.weekday

data_2019.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Start Date Time,Hour,Day
0,83252102,720,2077,31/12/2018 19:05,272,"Baylis Road, Waterloo",31/12/2018 18:53,94,"Bricklayers Arms, Borough",2018-12-31 18:53:00,18,0
1,83195883,120,10781,27/12/2018 19:47,93,"Cloudesley Road, Angel",27/12/2018 19:45,339,"Risinghill Street, Angel",2018-12-27 19:45:00,19,3
2,83196070,120,2977,27/12/2018 20:11,339,"Risinghill Street, Angel",27/12/2018 20:09,234,"Liverpool Road (N1 Centre), Angel",2018-12-27 20:09:00,20,3
3,83197932,660,10802,28/12/2018 07:35,282,"Royal London Hospital, Whitechapel",28/12/2018 07:24,698,"Shoreditch Court, Haggerston",2018-12-28 07:24:00,7,4
4,83176351,1380,15749,26/12/2018 11:55,785,"Aquatic Centre, Queen Elizabeth Olympic Park",26/12/2018 11:32,783,"Monier Road, Hackney Wick",2018-12-26 11:32:00,11,2

In [17]:
# 2019 filtering data - remove any rows that aren't from 2019
# remember the first csv contained data from 2018... 26Dec2018-01Jan2019.csv
bike_data_2019 = data_2019[data_2019['Start Date Time'].dt.year == 2019]
print(bike_data_2019.shape)

(10310063, 12)

In [19]:
# bike_data_2019 has no null values, perfect
#bike_data_2019.isnull().sum()

Rental Id            0
Duration             0
Bike Id              0
End Date             0
EndStation Id        0
EndStation Name      0
Start Date           0
StartStation Id      0
StartStation Name    0
Start Date Time      0
Hour                 0
Day                  0
dtype: int64

### 2022 data prep

- In September 2022 the column names change slightly and additional clumns have been added
- for example the 'Bike model' column has been added (classic or PBSC_EBIKE)

Cycle Hire Data - data format change & new data https://techforum.tfl.gov.uk/t/cycle-hire-data-data-format-change-new-data/2520

### Exploring the 2022 data

In [9]:
csv_2022 = [item for item in all_csv if '2022' in item]

In [10]:
# CSVs before September 2022 part 1 data 
# use slicing to includes all elements of the previous list except for the last 16
csv_2022_p1 = csv_2022[:-16]

# CSVs From september 12th 2022 
# use slicing to create a new list that includes only the last 16 elements
csv_2022_p2 = csv_2022[-16:]

In [11]:
# doing the same for the 2022 data
# passing errors within the csv files as per https://stackoverflow.com/questions/52105659/pandas-read-csv-unexpected-end-of-data-error
dfs_2022_p1 = (pd.read_csv(csv, engine='python', encoding='utf-8', on_bad_lines='skip') for csv in csv_2022_p1)
data_2022_p1 = pd.concat(dfs_2022_p1, ignore_index=True)

In [12]:
data_2022_p1.isnull().sum()
# for the part 1 data, there were 312144 records with null station ids  

#es_id_null = data_2022_p1.loc[data_2022_p1['EndStation Id'].isnull()] 
#es_id_null.sort_values(by='Start Date', ascending=False)

# filtering the data above reveal the journeys taken between 06/07/2022 00:00 and 12/07/2022 23:56 did not record an end station Id

Rental Id                 0
Duration                  0
Bike Id                   0
End Date                  0
EndStation Id        312144
EndStation Name           0
Start Date                0
StartStation Id           0
StartStation Name         0
dtype: int64

In [13]:
data_2022_p1.count()

Rental Id            8677104
Duration             8677104
Bike Id              8677104
End Date             8677104
EndStation Id        8364960
EndStation Name      8677104
Start Date           8677104
StartStation Id      8677104
StartStation Name    8677104
dtype: int64

In [14]:
# read in data with datetime data type for column 2 and column 5
dfs_2022_p2 = (pd.read_csv(csv) for csv in csv_2022_p2)
#dfs_2022_p2 = (pd.read_csv(csv, parse_dates={'Start date': 'datetime64', 'End date': 'datetime64'}) for csv in csv_2022_p2)
data_2022_p2 = pd.concat(dfs_2022_p2, ignore_index=True)

C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\3155316714.py:2: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs_2022_p2 = (pd.read_csv(csv) for csv in csv_2022_p2)

In [15]:
data_2022_p2.isnull().sum()

Number                  0
Start date              0
Start station number    0
Start station           0
End date                0
End station number      0
End station             0
Bike number             0
Bike model              0
Total duration          0
Total duration (ms)     0
dtype: int64

In [16]:
data_2022_p2.count()

Number                  2555077
Start date              2555077
Start station number    2555077
Start station           2555077
End date                2555077
End station number      2555077
End station             2555077
Bike number             2555077
Bike model              2555077
Total duration          2555077
Total duration (ms)     2555077
dtype: int64

In [17]:
# doing the same for the 2022 data
# passing errors within the csv files as per https://stackoverflow.com/questions/52105659/pandas-read-csv-unexpected-end-of-data-error
dfs_2022 = (pd.read_csv(csv, engine='python', encoding='utf-8', on_bad_lines='skip') for csv in csv_2022)
data_2022 = pd.concat(dfs_2022, ignore_index=True)

In [18]:
# check the data type of the 'date' column
print(data_2022['Start date'].dtype)

object

In [19]:
# 2022

# Let's clean this up and get all the data into single columns


#creating a copy of the orginal data
data_2022_clean = data_2022.copy()

In [20]:
#let's start by sorting out the date time formatting
format = "%d/%m/%Y %H:%M"
format2 = "%Y/%m/%d %H:%M"


data_2022_clean['Start Date'] = data_2022_clean['Start Date'].str[:16]


# let's create some extra columns to store the newly formatted datetime data,
#remember the date columns have different formatting before and after September
# we will merge them into single columns later on 
data_2022_clean['Start Date Time'] = pd.to_datetime(data_2022_clean['Start Date'], format=format)
data_2022_clean['Start Date Time 2']= pd.to_datetime(data_2022_clean['Start date'], format=format2)
data_2022_clean['End Date Time'] = pd.to_datetime(data_2022_clean['End Date'], format=format)
data_2022_clean['End Date Time 2'] = pd.to_datetime(data_2022_clean['Start date'], format=format2)

In [21]:
data_2022_clean

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,...,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms),Start Date Time,Start Date Time 2,End Date Time,End Date Time 2
0,115967515.0,1260.0,15338.0,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529.0,"Manresa Road, Chelsea",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01 22:52:00,NaT,2022-01-01 23:13:00,NaT
1,116017034.0,720.0,19861.0,04/01/2022 19:08,11.0,"Brunswick Square, Bloomsbury",04/01/2022 18:56,804.0,"Good's Way, King's Cross",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 18:56:00,NaT,2022-01-04 19:08:00,NaT
2,115895660.0,360.0,19666.0,29/12/2021 16:34,70.0,"Calshot Street , King's Cross",29/12/2021 16:28,57.0,"Guilford Street , Bloomsbury",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-29 16:28:00,NaT,2021-12-29 16:34:00,NaT
3,116016563.0,480.0,19861.0,04/01/2022 18:46,804.0,"Good's Way, King's Cross",04/01/2022 18:38,57.0,"Guilford Street , Bloomsbury",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 18:38:00,NaT,2022-01-04 18:46:00,NaT
4,116014412.0,1260.0,17235.0,04/01/2022 17:45,14.0,"Belgrove Street , King's Cross",04/01/2022 17:24,297.0,"Geraldine Street, Elephant & Castle",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 17:24:00,NaT,2022-01-04 17:45:00,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11232176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641458.0,...,200249,"Queen Mary's, Mile End",53664.0,CLASSIC,1h 49m 4s,6544593.0,NaT,2022-12-26 00:02:00,NaT,2022-12-26 00:02:00
11232177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641459.0,...,200147,"Salmon Lane, Limehouse",54303.0,CLASSIC,32m 16s,1936877.0,NaT,2022-12-26 00:02:00,NaT,2022-12-26 00:02:00
11232178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641453.0,...,200160,"Langdon Park, Poplar",21426.0,CLASSIC,49m 15s,2955280.0,NaT,2022-12-26 00:00:00,NaT,2022-12-26 00:00:00
11232179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641454.0,...,22167,"Millharbour, Millwall",54786.0,CLASSIC,1h 30m 27s,5427555.0,NaT,2022-12-26 00:00:00,NaT,2022-12-26 00:00:00
11232180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641455.0,...,200160,"Langdon Park, Poplar",30605.0,CLASSIC,48m 22s,2902467.0,NaT,2022-12-26 00:00:00,NaT,2022-12-26 00:00:00

In [22]:
data_2022_clean.isnull().sum()

Rental Id               2555077
Duration                2555077
Bike Id                 2555077
End Date                2555077
EndStation Id           2867221
EndStation Name         2555077
Start Date              2555077
StartStation Id         2555077
StartStation Name       2555077
Number                  8677104
Start date              8677104
Start station number    8677104
Start station           8677104
End date                8677104
End station number      8677104
End station             8677104
Bike number             8677104
Bike model              8677104
Total duration          8677104
Total duration (ms)     8677104
Start Date Time         2555077
Start Date Time 2       8677104
End Date Time           2555077
End Date Time 2         8677104
dtype: int64

In [23]:
# transfering values from one pandas column to another pandas column only for null rows

data_2022_clean.loc[data_2022_clean['Rental Id'].isnull(), 'Rental Id'] = data_2022_clean['Number']
# converting from milliseconds to seconds, multipyling by 1000 
data_2022_clean.loc[data_2022_clean['Duration'].isnull(), 'Duration'] = data_2022_clean['Total duration (ms)'] / 1000
data_2022_clean.loc[data_2022_clean['Bike Id'].isnull(), 'Bike Id'] = data_2022_clean['Bike number']
data_2022_clean.loc[data_2022_clean['End Date'].isnull(), 'End Date'] = data_2022_clean['End date']
data_2022_clean.loc[data_2022_clean['EndStation Name'].isnull(), 'EndStation Name'] = data_2022_clean['End station']
data_2022_clean.loc[data_2022_clean['Start Date'].isnull(), 'Start Date'] = data_2022_clean['Start Date Time 2']
data_2022_clean.loc[data_2022_clean['End Date'].isnull(), 'End Date'] = data_2022_clean['End Date Time']
data_2022_clean.loc[data_2022_clean['StartStation Name'].isnull(), 'StartStation Name'] = data_2022_clean['Start station']

#data_2022_clean.sort_values(by='Bike model', ascending=False)

In [24]:
data_2022_clean.isnull().sum()

Rental Id                     0
Duration                      0
Bike Id                       0
End Date                      0
EndStation Id           2867221
EndStation Name               0
Start Date                    0
StartStation Id         2555077
StartStation Name             0
Number                  8677104
Start date              8677104
Start station number    8677104
Start station           8677104
End date                8677104
End station number      8677104
End station             8677104
Bike number             8677104
Bike model              8677104
Total duration          8677104
Total duration (ms)     8677104
Start Date Time         2555077
Start Date Time 2       8677104
End Date Time           2555077
End Date Time 2         8677104
dtype: int64

In [25]:
#ensuring a consistent format of the date columns, initially in string format
data_2022_clean['Start Date'] = pd.to_datetime(data_2022_clean['Start Date']).dt.strftime('%d/%m/%Y %H:%M')

In [26]:
# doing the same for end date
data_2022_clean['End Date'] = pd.to_datetime(data_2022_clean['End Date']).dt.strftime('%d/%m/%Y %H:%M')

In [1]:
data_2022_clean

NameError: name 'data_2022_clean' is not defined

In [95]:
data_2022_clean1 = data_2022_clean.copy()

MemoryError: Unable to allocate 686. MiB for an array with shape (8, 11232181) and data type float64

In [35]:
# adding hour and day columns  
data_2022_clean1['Hour']= pd.to_datetime(data_2022_clean1['Start Date'], format = "%d/%m/%Y %H:%M").dt.hour
data_2022_clean1['Day']= pd.to_datetime(data_2022_clean1['Start Date'], format = "%d/%m/%Y %H:%M").dt.weekday

In [94]:
# removing columns that are no longer needed
data_2022_clean_drop = data_2022_clean1.drop(['Number', 'Start date', 'Start station', 'End date', 'End station',
                                             'Bike number', 'Total duration', 'Total duration (ms)', 'Start Date Time', 'Start Date Time 2','End Date Time','End Date Time 2'], axis=1)

MemoryError: Unable to allocate 428. MiB for an array with shape (5, 11232181) and data type float64

In [37]:
data_2022_clean_drop

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Start station number,End station number,Bike model,Hour,Day
0,115967515.0,1260.000,15338.0,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529.0,"Manresa Road, Chelsea",NaN,NaN,NaN,22,5
1,116017034.0,720.000,19861.0,01/04/2022 19:08,11.0,"Brunswick Square, Bloomsbury",01/04/2022 18:56,804.0,"Good's Way, King's Cross",NaN,NaN,NaN,18,4
2,115895660.0,360.000,19666.0,29/12/2021 16:34,70.0,"Calshot Street , King's Cross",29/12/2021 16:28,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,16,2
3,116016563.0,480.000,19861.0,01/04/2022 18:46,804.0,"Good's Way, King's Cross",01/04/2022 18:38,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,18,4
4,116014412.0,1260.000,17235.0,01/04/2022 17:45,14.0,"Belgrove Street , King's Cross",01/04/2022 17:24,297.0,"Geraldine Street, Elephant & Castle",NaN,NaN,NaN,17,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11232176,127641458.0,6544.593,53664.0,26/12/2022 01:51,NaN,"Queen Mary's, Mile End",26/12/2022 00:02,NaN,"Woodstock Grove, Shepherd's Bush",200214,200249,CLASSIC,0,0
11232177,127641459.0,1936.877,54303.0,26/12/2022 00:34,NaN,"Salmon Lane, Limehouse",26/12/2022 00:02,NaN,"Curlew Street, Shad Thames",1213,200147,CLASSIC,0,0
11232178,127641453.0,2955.280,21426.0,26/12/2022 00:49,NaN,"Langdon Park, Poplar",26/12/2022 00:00,NaN,"Curlew Street, Shad Thames",1213,200160,CLASSIC,0,0
11232179,127641454.0,5427.555,54786.0,26/12/2022 01:31,NaN,"Millharbour, Millwall",26/12/2022 00:00,NaN,"Millharbour, Millwall",22167,22167,CLASSIC,0,0
11232180,127641455.0,2902.467,30605.0,26/12/2022 00:49,NaN,"Langdon Park, Poplar",26/12/2022 00:00,NaN,"Curlew Street, Shad Thames",1213,200160,CLASSIC,0,0

In [38]:
data_2022_clean_drop.isnull().sum()

Rental Id                     0
Duration                      0
Bike Id                       0
End Date                      0
EndStation Id           2867221
EndStation Name               0
Start Date                    0
StartStation Id         2555077
StartStation Name             0
Start station number    8677104
End station number      8677104
Bike model              8677104
Hour                          0
Day                           0
dtype: int64

In [92]:
# let's rename a couple of columns to make it clearer
# we will rename the Start and End station number column 
# these columns actually terminal to the station 'terminalName' as per https://tfl.gov.uk/tfl/syndication/feeds/cycle-hire/livecyclehireupdates.xml

data_2022_clean_drop = data_2022_clean_drop.rename(columns={'Start station number': 'SS Terminal Name', 'End station number': 'ES Terminal Name'})

In [93]:

# finally, 2022 filtering data - remove any rows that aren't from 2022
data_2022_clean_drop['Start Date Time'] = pd.to_datetime(data_2022_clean_drop["Start Date"], format="%d/%m/%Y %H:%M")
data_2022_clean_drop1 = data_2022_clean_drop[data_2022_clean_drop['Start Date Time'].dt.year == 2022]
print(data_2022_clean_drop1.shape)

MemoryError: Unable to allocate 85.2 MiB for an array with shape (11166111, 1) and data type datetime64[ns]

In [ ]:
#removing the additional column 
data_2022_clean_drop2 = data_2022_clean_drop1 .drop(['Start Date Time'], axis=1)

In [ ]:
data_2022_clean_drop2

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
0,115967515.0,1260.000,15338.0,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529.0,"Manresa Road, Chelsea",NaN,NaN,NaN,22,5
1,116017034.0,720.000,19861.0,01/04/2022 19:08,11.0,"Brunswick Square, Bloomsbury",01/04/2022 18:56,804.0,"Good's Way, King's Cross",NaN,NaN,NaN,18,4
3,116016563.0,480.000,19861.0,01/04/2022 18:46,804.0,"Good's Way, King's Cross",01/04/2022 18:38,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,18,4
4,116014412.0,1260.000,17235.0,01/04/2022 17:45,14.0,"Belgrove Street , King's Cross",01/04/2022 17:24,297.0,"Geraldine Street, Elephant & Castle",NaN,NaN,NaN,17,4
5,116013350.0,480.000,13790.0,01/04/2022 16:50,252.0,"Jubilee Gardens, South Bank",01/04/2022 16:42,310.0,"Black Prince Road, Vauxhall",NaN,NaN,NaN,16,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11232176,127641458.0,6544.593,53664.0,26/12/2022 01:51,NaN,"Queen Mary's, Mile End",26/12/2022 00:02,NaN,"Woodstock Grove, Shepherd's Bush",200214,200249,CLASSIC,0,0
11232177,127641459.0,1936.877,54303.0,26/12/2022 00:34,NaN,"Salmon Lane, Limehouse",26/12/2022 00:02,NaN,"Curlew Street, Shad Thames",1213,200147,CLASSIC,0,0
11232178,127641453.0,2955.280,21426.0,26/12/2022 00:49,NaN,"Langdon Park, Poplar",26/12/2022 00:00,NaN,"Curlew Street, Shad Thames",1213,200160,CLASSIC,0,0
11232179,127641454.0,5427.555,54786.0,26/12/2022 01:31,NaN,"Millharbour, Millwall",26/12/2022 00:00,NaN,"Millharbour, Millwall",22167,22167,CLASSIC,0,0
11232180,127641455.0,2902.467,30605.0,26/12/2022 00:49,NaN,"Langdon Park, Poplar",26/12/2022 00:00,NaN,"Curlew Street, Shad Thames",1213,200160,CLASSIC,0,0

In [41]:
bike_data_2022 = data_2022_clean_drop2.copy()

### Storing the data in an PostgreSQL databse

In [42]:
# psycopg2 library installed to connect to a PostgreSQL database from Python

import psycopg2
from sqlalchemy import create_engine

In [43]:
# connection to postgres database
conn = psycopg2.connect(
    user="postgres",
    password="password123",
    host="localhost",
    database="diss_data",
)

In [44]:
# Create a SQLAlchemy engine: Create a SQLAlchemy engine using the create_engine function, which will be used to write the DataFrame to the database.
engine = create_engine('postgresql+psycopg2://postgres:password123@localhost:5432/diss_data')

In [45]:
# Export the DataFrame to the database: Once you have the connection and engine set up, you can use the to_sql method of the DataFrame to export it to the database.
# save the DataFrame to the PostgreSQL database
# set the index parameter to False to avoid saving the DataFrame's index as a separate column in the database.
bike_data_2019.to_sql('bike_data_2019_tb', engine, if_exists='replace', index=False)

NameError: name 'bike_data_2019' is not defined

In [46]:
# save the DataFrame to the PostgreSQL database
bike_data_2022.to_sql('bike_data_2022_tb_v02', engine, if_exists='replace', index=False)

181

### Transforming the dataframes into a matrix, whereby the value of each cell is the number of events per hour

In [47]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

# connection to postgres database
conn = psycopg2.connect(
    user="postgres",
    password="password123",
    host="localhost",
    database="diss_data",
)

engine = sqlalchemy.create_engine('postgresql://postgres:password123@localhost:5432/diss_data')

# create a connection to the database
conn = psycopg2.connect(database="diss_data", user="postgres", password="password123", host="localhost", port="5432")

In [50]:
# define the SQL query to retrieve the data from the table
sql_query = "SELECT * FROM bike_data_2019_tb"

# use the read_sql function to read the table into a Pandas dataframe
df = pd.read_sql(sql_query, conn)

C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\229235612.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn)

In [48]:
# doing ther same for 2022
# define the SQL query to retrieve the data from the table
sql_query_2022 = "SELECT * FROM bike_data_2022_tb_v02"

# use the read_sql function to read the table into a Pandas dataframe
df_2022 = pd.read_sql(sql_query_2022, conn)

C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\2619909124.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_2022 = pd.read_sql(sql_query_2022, conn)

# Now lets create a matrix for all the data in 2019

In [51]:
#copying the dataframe
bike_data_2019 = df.copy()
bike_data_2022 = df_2022.copy()

In [67]:
def add_station_names(station_names, df, namecolumn, idcolumn):
    """Given a DataFrame df that has df[namecolumn] listing names of stations
    and df[idcolumn] listing station ID numbers, add to the dictionary
    station_names all the names that each ID is attached to.

    """
    namemaps = (
        df[[idcolumn, namecolumn]]
        .groupby(idcolumn)
        .aggregate(lambda x: x.unique())
    )
    for number, names in namemaps.iterrows():
        current_names = station_names.get(number, set())
        # The following two lines are a stupid dance around the annoying fact
        # that pd.unique sometimes returns a single value, sometimes a numpy
        # array of values, but since the single value is a string, it too is an
        # iterable.
        vals = names[0]
        new_names = set([vals]) if type(vals) == str else set(vals)
        current_names.update(new_names)
        station_names[number] = current_names

In [62]:
def clean_datetime_column(df, colname, roundto="H"):
    """Parse df[colname] from strings to datetime objects, and round the times
    to the nearest hour. 
    """

    format = "%d/%m/%Y %H:%M"
    df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
    df.loc[:, colname] = df[colname].dt.round(roundto)

    return df

In [73]:
def compute_single_events(df, which):
    """Read from df all the events, either departures or arrivals depending on
    whether `which` is "Start" or "End", and collect them in a DataFrame that
    lists event counts per station and time.
    """
    stationcol = "{}Station Id".format(which)
    datecol = "{} Date".format(which)
    events = (
        df.rename(columns={stationcol: "Station", datecol: "Date"})
        .groupby(["Date", "Station"])
        .size()
        .unstack("Station")
    )
    return events

In [71]:
def compute_both_events(df):
    """Read from df all the events, both arrivals and departures, and collect
    them in a DataFrame that lists event counts per station and time.
    """
    arrivals = compute_single_events(df, "End")
    departures = compute_single_events(df, "Start")
    both = (
        pd.concat(
            [arrivals, departures], keys=["Arrivals", "Departures"], axis=1
        )
        .reorder_levels([1, 0], axis=1)
        .fillna(0.0)
    )
    return both

In [68]:
station_allnames = {}
add_station_names(station_allnames, bike_data_2019, "EndStation Name", "EndStation Id")
add_station_names(station_allnames, bike_data_2019, "StartStation Name", "StartStation Id")

In [54]:
station_allnames_newdic = {key: value.pop() for key, value in station_allnames.items()}

print(station_allnames_newdic)

NameError: name 'station_allnames' is not defined

In [55]:
#clean start and end dates
bd_data_2019_clean1 = clean_datetime_column(bike_data_2019, "Start Date", roundto="H")
bd_data_2019_clean2 = clean_datetime_column(bd_data_2019_clean1, "End Date", roundto="H")

C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\1812963310.py:11: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\1812963310.py:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\1812963310.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\1812963310.py:11: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\1812963310.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, colname] = df[colname].dt.round(roundto)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\1812963310.py:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)

In [59]:
bike_data_2022.sort_values(by="End Date")

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Start station number,End station number,Bike model,Hour,Day
70045,115944485.0,780.000,17247.0,01/01/2022 00:00,804.0,"Good's Way, King's Cross",2022-01-01 00:00:00,109.0,"Soho Square , Soho",None,None,None,23,4
97426,115944427.0,900.000,16287.0,01/01/2022 00:00,100.0,"Albert Embankment, Vauxhall",2022-01-01 00:00:00,653.0,"Simpson Street, Clapham Junction",None,None,None,23,4
105178,115943720.0,2520.000,6665.0,01/01/2022 00:00,213.0,"Wellington Arch, Hyde Park",2021-12-31 23:00:00,839.0,"Sea Containers, South Bank",None,None,None,23,4
79304,115944542.0,660.000,21514.0,01/01/2022 00:00,163.0,"Sloane Avenue, Knightsbridge",2022-01-01 00:00:00,169.0,"Porchester Place, Paddington",None,None,None,23,4
7682,115944488.0,780.000,17373.0,01/01/2022 00:00,804.0,"Good's Way, King's Cross",2022-01-01 00:00:00,109.0,"Soho Square , Soho",None,None,None,23,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11183500,127691861.0,992.086,53770.0,31/12/2022 23:57,NaN,"Lower Thames Street, Monument",2023-01-01 00:00:00,NaN,"Pott Street, Bethnal Green",200156,1098,CLASSIC,23,5
11183944,127691406.0,3039.877,53091.0,31/12/2022 23:57,NaN,"Abbey Orchard Street, Westminster",2022-12-31 23:00:00,NaN,"Grosvenor Square, Mayfair",10627,3429,CLASSIC,23,5
11183599,127691782.0,1399.255,41612.0,31/12/2022 23:58,NaN,"Kennington Lane Rail Bridge, Vauxhall",2023-01-01 00:00:00,NaN,"Sheepcote Lane, Battersea",200176,1190,CLASSIC,23,5
11183597,127691780.0,1395.675,41081.0,31/12/2022 23:58,NaN,"Kennington Lane Rail Bridge, Vauxhall",2023-01-01 00:00:00,NaN,"Sheepcote Lane, Battersea",200176,1190,CLASSIC,23,5
11183372,127691998.0,612.267,50349.0,31/12/2022 23:59,NaN,"Lots Road, West Chelsea",2023-01-01 00:00:00,NaN,"Collingham Gardens, Earl's Court",3459,300076,CLASSIC,23,5

In [66]:
#clean start and end dates
bd_data_2022_clean1 = clean_datetime_column(bike_data_2022, "Start Date", roundto="H")
bd_data_2022_clean2 = clean_datetime_column(bd_data_2022_clean1, "End Date", roundto="H")
bd_data_2022_clean2

C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\2632925062.py:9: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\2632925062.py:10: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\2632925062.py:9: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_2668\2632925062.py:10: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)

In [97]:
bd_data_2022_clean2.sort_values(by="Start Date")

MemoryError: Unable to allocate 42.8 MiB for an array with shape (11232181,) and data type int32

In [76]:
events_data_2019 = compute_both_events(bd_data_2019_clean2)

In [74]:
events_data_2022 = compute_both_events(bd_data_2022_clean2)

In [186]:
# Finally rename the columns according to the chosen names for stations.
events_2019 = events_data_2019.rename(mapper=station_allnames_newdic, axis=1, level=0)
events_2019 = events_2019.sort_index(axis=1, level=0)

In [77]:
events_data_2019

Station,1,2,3,4,5,6,7,8,9,10,...,829,830,831,832,833,834,835,836,838,839
,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,...,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,4.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-01-01 01:00:00,1.0,0.0,0.0,5.0,1.0,0.0,0.0,2.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2019-01-01 02:00:00,0.0,0.0,5.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,2.0,0.0
2019-01-01 03:00:00,1.0,1.0,2.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,7.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
2019-01-01 04:00:00,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,4.0,0.0,0.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 19:00:00,0.0,2.0,0.0,0.0,3.0,0.0,1.0,1.0,3.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0
2019-12-31 20:00:00,0.0,0.0,0.0,0.0,1.0,0.0,3.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0
2019-12-31 21:00:00,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0
2019-12-31 22:00:00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-12-31 23:00:00,0.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
events_data_2022

Station,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,836.0,838.0,839.0,840.0,841.0,842.0,844.0,845.0,846.0,850.0
,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,...,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures
Date,,,,,,,,,,,,,,,,,,,,,
2021-12-29 00:00:00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2021-12-29 01:00:00,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2021-12-29 02:00:00,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
2021-12-29 03:00:00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-12-29 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-09 09:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-09 10:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-09 15:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-09 18:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-09 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Exporting the the events data frame as a pickle

In [203]:
import pickle
import os

events_path = Path("data/events_2019.p")

# Store the file on disk so we can read it later.
events_2019.to_pickle(events_path)