# TFL Bike data prep
___

#### Data prep as part of my MSc thesis, "Using machine learning to analyse and predict Transport for London bike sharing habits in the post COVID-19 era".

The following code for downloading the data has been adopted from [Markus Hauru's](https://github.com/mhauru) analysis, 'Predicting Boris Bike usage'.

In [4]:
# importing libraries

import os
import pickle
import requests
import zipfile
import pandas as pd
import numpy as np
import scipy as sp
import statsmodels.api as sm
from sklearn import linear_model, svm, neighbors, tree
from matplotlib import pyplot as plt
import matplotlib
import seaborn as sns
from pathlib import Path
from timeit import default_timer as timer
from IPython.display import set_matplotlib_formats
from urllib.parse import urlparse
import openpyxl

try:
    import xlrd
except Exception as e:
    msg = (
        "Please install the package xlrd: `pip install --user xlrd`"
        "It's an optional requirement for pandas, and we'll be needing it."
    )
    print(msg)
    raise e

In [5]:
# For pretty and exportable matplotlib plots.
# If you are running this yourself and want interactivity,
# try `%matplotlib widget` instead.
set_matplotlib_formats("svg")
%matplotlib inline
# %matplotlib widget
# Set a consistent plotting style across the notebook using Seaborn.
sns.set_style("darkgrid")
sns.set_context("notebook")
# Make pandas cooperate with pyplot
pd.plotting.register_matplotlib_converters()

C:\Users\EMoses\AppData\Local\Temp\ipykernel_13104\99259732.py:4: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats("svg")

1. Processing and cleaning the bike data
Before getting anywhere with it, we'll need to process the bike data quite a bit. The data comes in CSV files, each of which covers a period of time. Up first, we need to download the data from the TfL website. If you are running this code yourself, here's a script that does that. Be warned though, it's almost seven gigs of data. You can run it repeatedly, and it'll only download data that it doesn't have already.

In [6]:
bikefolder = "data/bikes"

In [7]:
def download_file(datafolder, url, verbosity=0):
    """Download the data from the given URL into the datafolder, unless it's
    already there. Return path to downloaded file.
    """
    # data folder variable for where the folder for where the downloaded file should be stores 
    # using the path() function to converted the data folder string into a path
    datafolder = Path(datafolder)
    datafolder.mkdir(parents=True, exist_ok=True)

    # using the url parse function to extract the file from the url and create a filepath for it to be stored
    a = urlparse(url)
    filename = Path(os.path.basename(a.path))
    filepath = datafolder / filename
    # Don't redownload if we already have this file.
    if filepath.exists():
        if verbosity > 1:
            print("Already have {}".format(filename))
    else:
        if verbosity > 0:
            print("Downloading {}".format(filename))
        # sends a GET request to the URL using the requests module and raises an exception if there is an error
        rqst = requests.get(url)
        rqst.raise_for_status()
        with open(filepath, "wb") as f:
            f.write(rqst.content)
    return filepath

In [8]:
# Adjust whether to print progress reports of the downloads.
# verbosity=0 is silence, verbosity=1 reports only when actually doing things,
# verbosity>1 also reports when there's nothing to do.
verbosity = 1

# Most files are individual CSV files, listed in bike_data_urls.txt. Download them.
urlsfile = "data/bikes/bike_data_urls.txt"
with open(urlsfile, "r") as f:
    urls = f.read().splitlines()
# There are a few comments in the file, marked by lines starting with #.
# Filter them out.
urls = [u for u in urls if u[0] != "#"]
for url in urls:
    download_file(bikefolder, url, verbosity)

# The early years come in zips. Download and unzip them.
zipsfolder = Path("data/bikes/bikezips")
bikezipurls = [
    "https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2012.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2013.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2014.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/2015TripDatazip.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/2016TripDataZip.zip",
]
# A list of CSV files that are already there. Only unzip if some of the files
# in the zip aren't present already.
current_csvs = sorted(os.listdir(bikefolder))
for url in bikezipurls:
    zippath = download_file(zipsfolder, url, verbosity)
    with zipfile.ZipFile(zippath, "r") as z:
        namelist = z.namelist()
        has_been_extracted = any(name not in current_csvs for name in namelist)
        if has_been_extracted:
            if verbosity > 0:
                print("Unzipping {}".format(zippath))
            z.extractall(bikefolder)
        else:
            if verbosity > 1:
                print("{} has already been extracted.".format(zippath))

# Finally, there's an odd one out: One week's data comes in as an .xlsx.
# Download it and use pandas to convert it to csv.
xlsxurl = "https://cycling.data.tfl.gov.uk/usage-stats/49JourneyDataExtract15Mar2017-21Mar2017.xlsx"
xlsxfile = download_file(bikefolder, xlsxurl)
csvfile = xlsxfile.with_suffix(".csv")
if not csvfile.exists():
    if verbosity > 0:
        print("Converting .xlsx to .csv.")
    pd.read_excel(xlsxfile).to_csv(csvfile, date_format="%d/%m/%Y %H:%M:%S")
else:
    if verbosity > 1:
        print("Already have {}".format(csvfile))

The data we have now lists on each line of the CSV file a single bike trip, with starting point and time, end point and time, and things like bike ID number. Here's an example.

In [9]:
example_file  = Path(bikefolder) / Path("47JourneyDataExtract01Mar2017-07Mar2017.csv")
pd.read_csv(example_file, encoding="ISO-8859-2").head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,62857677,3780.0,7851,06/03/2017 19:20,43.0,"Crawford Street, Marylebone",06/03/2017 18:17,811,"Westferry Circus, Canary Wharf"
1,62863035,540.0,4089,06/03/2017 22:17,295.0,"Swan Street, The Borough",06/03/2017 22:08,272,"Baylis Road, Waterloo"
2,62775896,600.0,4895,02/03/2017 21:27,295.0,"Swan Street, The Borough",02/03/2017 21:17,197,"Stamford Street, South Bank"
3,62747748,420.0,4347,01/03/2017 21:08,295.0,"Swan Street, The Borough",01/03/2017 21:01,803,"Southwark Street, Bankside"
4,62843939,420.0,3192,06/03/2017 09:28,193.0,"Bankside Mix, Bankside",06/03/2017 09:21,197,"Stamford Street, South Bank"

In [10]:
from glob import glob 

# using glob to list all the csv file in the bikefolder filepath
all_csv = glob(bikefolder+str('/*.csv'))
all_csv

['data/bikes\\01aJourneyDataExtract10Jan16-23Jan16.csv',
 'data/bikes\\01bJourneyDataExtract24Jan16-06Feb16.csv',
 'data/bikes\\02aJourneyDataExtract07Feb16-20Feb2016.csv',
 'data/bikes\\02bJourneyDataExtract21Feb16-05Mar2016.csv',
 'data/bikes\\03JourneyDataExtract06Mar2016-31Mar2016.csv',
 'data/bikes\\04JourneyDataExtract01Apr2016-30Apr2016.csv',
 'data/bikes\\05JourneyDataExtract01May2016-17May2016.csv',
 'data/bikes\\06JourneyDataExtract18May2016-24May2016.csv',
 'data/bikes\\07JourneyDataExtract25May2016-31May2016.csv',
 'data/bikes\\08JourneyDataExtract01Jun2016-07Jun2016.csv',
 'data/bikes\\09JourneyDataExtract08Jun2016-14Jun2016.csv',
 'data/bikes\\1. Journey Data Extract 01Jan-05Jan13.csv',
 'data/bikes\\1. Journey Data Extract 04Jan-31Jan 12.csv',
 'data/bikes\\1. Journey Data Extract 05Jan14-02Feb14.csv',
 'data/bikes\\10. Journey Data Extract 18Aug-13Sep13.csv',
 'data/bikes\\10. Journey Data Extract 21Aug-22 Aug12.csv',
 'data/bikes\\10a Journey Data Extract 20Sep15-03Oct15.csv',
 'data/bikes\\10a. Journey Data Extract 14Sep14-27Sep14.csv',
 'data/bikes\\10b Journey Data Extract 04Oct15-17Oct15.csv',
 'data/bikes\\10b. Journey Data Extract 28Sep14-11Oct14.csv',
 'data/bikes\\10JourneyDataExtract15Jun2016-21Jun2016.csv',
 'data/bikes\\11. Journey Data Extract 14Sep13-12Oct13.csv',
 'data/bikes\\11. Journey Data Extract 23Aug-25 Aug12.csv',
 'data/bikes\\11a Journey Data Extract 18Oct15-31Oct15.csv',
 'data/bikes\\11a. Journey Data Extract 12Oct14-08Nov14.csv',
 'data/bikes\\11b Journey Data Extract 01Nov15-14Nov15.csv',
 'data/bikes\\11b. Journey Data Extract 12Oct14-08Nov14.csv',
 'data/bikes\\11JourneyDataExtract22Jun2016-28Jun2016.csv',
 'data/bikes\\12. Journey Data Extract 13Oct13-09Nov13.csv',
 'data/bikes\\12. Journey Data Extract 26Aug-27 Aug12.csv',
 'data/bikes\\12a Journey Data Extract 15Nov15-27Nov15.csv',
 'data/bikes\\12a. Journey Data Extract 09Nov14-06Dec14.csv',
 'data/bikes\\12b Journey Data Extract 28Nov15-12Dec15.csv',
 'data/bikes\\12b. Journey Data Extract 09Nov14-06Dec14.csv',
 'data/bikes\\12JourneyDataExtract29Jun2016-05Jul2016.csv',
 'data/bikes\\13. Journey Data Extract 10Nov13-07Dec13.csv',
 'data/bikes\\13. Journey Data Extract 28Aug-29 Aug12.csv',
 'data/bikes\\13a Journey Data Extract 13Dec15-24Dec15.csv',
 'data/bikes\\13a. Journey Data Extract 07Dec14-21Dec14.csv',
 'data/bikes\\13b Journey Data Extract 25Dec15-09Jan16.csv',
 'data/bikes\\13b. Journey Data Extract 22Dec14-03Jan15.csv',
 'data/bikes\\13JourneyDataExtract06Jul2016-12Jul2016.csv',
 'data/bikes\\14. Journey Data Extract 08Dec13-04Jan14.csv',
 'data/bikes\\14. Journey Data Extract 30Aug-31 Aug12.csv',
 'data/bikes\\142JourneyDataExtract26Dec2018-01Jan2019.csv',
 'data/bikes\\143JourneyDataExtract02Jan2019-08Jan2019.csv',
 'data/bikes\\144JourneyDataExtract09Jan2019-15Jan2019.csv',
 'data/bikes\\145JourneyDataExtract16Jan2019-22Jan2019.csv',
 'data/bikes\\146JourneyDataExtract23Jan2019-29Jan2019.csv',
 'data/bikes\\147JourneyDataExtract30Jan2019-05Feb2019.csv',
 'data/bikes\\148JourneyDataExtract06Feb2019-12Feb2019.csv',
 'data/bikes\\149JourneyDataExtract13Feb2019-19Feb2019.csv',
 'data/bikes\\14JourneyDataExtract13Jul2016-19Jul2016.csv',
 'data/bikes\\15. Journey Data Extract 01Sep-30Sep12.csv',
 'data/bikes\\150JourneyDataExtract20Feb2019-26Feb2019.csv',
 'data/bikes\\151JourneyDataExtract27Feb2019-05Mar2019.csv',
 'data/bikes\\152JourneyDataExtract06Mar2019-12Mar2019.csv',
 'data/bikes\\153JourneyDataExtract13Mar2019-19Mar2019.csv',
 'data/bikes\\154JourneyDataExtract20Mar2019-26Mar2019.csv',
 'data/bikes\\155JourneyDataExtract27Mar2019-02Apr2019.csv',
 'data/bikes\\156JourneyDataExtract03Apr2019-09Apr2019.csv',
 'data/bikes\\157JourneyDataExtract10Apr2019-16Apr2019.csv',
 'data/bikes\\158JourneyDataExtract17Apr2019-23Apr2019.csv',
 'data/bikes\\159JourneyDataExtract24Apr2019-30Apr2019.csv',
 'data/bikes\\15JourneyDataExtract20Jul2016-26Jul2016.csv',
 'data/bikes\\16. Journey Data Extract 01Oct-31Oct12.csv',
 'data/bikes\\160JourneyDataExtract01May2019-07May2019.csv',
 'data/bikes\\161JourneyDataExtract08May2019-14May2019.csv',
 'data/bikes\\162JourneyDataExtract15May2019-21May2019.csv',
 'data/bikes\\163JourneyDataExtract22May2019-28May2019.csv',
 'data/bikes\\164JourneyDataExtract29May2019-04Jun2019.csv',
 'data/bikes\\165JourneyDataExtract05Jun2019-11Jun2019.csv',
 'data/bikes\\166JourneyDataExtract12Jun2019-18Jun2019.csv',
 'data/bikes\\167JourneyDataExtract19Jun2019-25Jun2019.csv',
 'data/bikes\\168JourneyDataExtract26Jun2019-02Jul2019.csv',
 'data/bikes\\169JourneyDataExtract03Jul2019-09Jul2019.csv',
 'data/bikes\\16JourneyDataExtract27Jul2016-02Aug2016.csv',
 'data/bikes\\17. Journey Data Extract 01Nov-30Nov12.csv',
 'data/bikes\\170JourneyDataExtract10Jul2019-16Jul2019.csv',
 'data/bikes\\171JourneyDataExtract17Jul2019-23Jul2019.csv',
 'data/bikes\\172JourneyDataExtract24Jul2019-30Jul2019.csv',
 'data/bikes\\173JourneyDataExtract31Jul2019-06Aug2019.csv',
 'data/bikes\\174JourneyDataExtract07Aug2019-13Aug2019.csv',
 'data/bikes\\175JourneyDataExtract14Aug2019-20Aug2019.csv',
 'data/bikes\\176JourneyDataExtract21Aug2019-27Aug2019.csv',
 'data/bikes\\177JourneyDataExtract28Aug2019-03Sep2019.csv',
 'data/bikes\\178JourneyDataExtract04Sep2019-10Sep2019.csv',
 'data/bikes\\179JourneyDataExtract11Sep2019-17Sep2019.csv',
 'data/bikes\\17JourneyDataExtract03Aug2016-09Aug2016.csv',
 'data/bikes\\18. Journey Data Extract 01Dec-31Dec12.csv',
 'data/bikes\\180JourneyDataExtract18Sep2019-24Sep2019.csv',
 'data/bikes\\181JourneyDataExtract25Sep2019-01Oct2019.csv',
 'data/bikes\\182JourneyDataExtract02Oct2019-08Oct2019.csv',
 'data/bikes\\183JourneyDataExtract09Oct2019-15Oct2019.csv',
 'data/bikes\\184JourneyDataExtract16Oct2019-22Oct2019.csv',
 'data/bikes\\185JourneyDataExtract23Oct2019-29Oct2019.csv',
 'data/bikes\\186JourneyDataExtract30Oct2019-05Nov2019.csv',
 'data/bikes\\187JourneyDataExtract06Nov2019-12Nov2019.csv',
 'data/bikes\\188JourneyDataExtract13Nov2019-19Nov2019.csv',
 'data/bikes\\189JourneyDataExtract20Nov2019-26Nov2019.csv',
 'data/bikes\\18JourneyDataExtract10Aug2016-16Aug2016.csv',
 'data/bikes\\190JourneyDataExtract27Nov2019-03Dec2019.csv',
 'data/bikes\\191JourneyDataExtract04Dec2019-10Dec2019.csv',
 'data/bikes\\192JourneyDataExtract11Dec2019-17Dec2019.csv',
 'data/bikes\\193JourneyDataExtract18Dec2019-24Dec2019.csv',
 'data/bikes\\194JourneyDataExtract25Dec2019-31Dec2019.csv',
 'data/bikes\\19JourneyDataExtract17Aug2016-23Aug2016.csv',
 'data/bikes\\1a.JourneyDataExtract04Jan15-17Jan15.csv',
 'data/bikes\\1b.JourneyDataExtract18Jan15-31Jan15.csv',
 'data/bikes\\2. Journey Data Extract 03Feb14-01Mar14.csv',
 'data/bikes\\2. Journey Data Extract 06Jan-02Feb13.csv',
 'data/bikes\\2. Journey Data Extract_01Feb-29Feb 12.csv',
 'data/bikes\\20JourneyDataExtract24Aug2016-30Aug2016.csv',
 'data/bikes\\21JourneyDataExtract31Aug2016-06Sep2016.csv',
 'data/bikes\\22JourneyDataExtract07Sep2016-13Sep2016.csv',
 'data/bikes\\23JourneyDataExtract14Sep2016-20Sep2016.csv',
 'data/bikes\\24JourneyDataExtract21Sep2016-27Sep2016.csv',
 'data/bikes\\25JourneyDataExtract28Sep2016-04Oct2016.csv',
 'data/bikes\\26JourneyDataExtract05Oct2016-11Oct2016.csv',
 'data/bikes\\27JourneyDataExtract12Oct2016-18Oct2016.csv',
 'data/bikes\\28JourneyDataExtract19Oct2016-25Oct2016.csv',
 'data/bikes\\298JourneyDataExtract29Dec2021-04Jan2022.csv',
 'data/bikes\\299JourneyDataExtract05Jan2022-11Jan2022.csv',
 'data/bikes\\29JourneyDataExtract26Oct2016-01Nov2016.csv',
 'data/bikes\\2a.JourneyDataExtract01Feb15-14Feb15.csv',
 'data/bikes\\2b.JourneyDataExtract15Feb15-28Feb15.csv',
 'data/bikes\\3. Journey Data Extract 02Mar14-31Mar14.csv',
 'data/bikes\\3. Journey Data Extract 03Feb-02Mar13.csv',
 'data/bikes\\3. Journey Data Extract_01Mar-31Mar12.csv',
 'data/bikes\\300JourneyDataExtract12Jan2022-18Jan2022.csv',
 'data/bikes\\301JourneyDataExtract19Jan2022-25Jan2022.csv',
 'data/bikes\\302JourneyDataExtract26Jan2022-01Feb2022.csv',
 'data/bikes\\303JourneyDataExtract02Feb2022-08Feb2022.csv',
 'data/bikes\\304JourneyDataExtract09Feb2022-15Feb2022.csv',
 'data/bikes\\305JourneyDataExtract16Feb2022-22Feb2022.csv',
 'data/bikes\\306JourneyDataExtract23Feb2022-01Mar2022.csv',
 'data/bikes\\307JourneyDataExtract02Mar2022-08Mar2022.csv',
 'data/bikes\\308JourneyDataExtract09Mar2022-15Mar2022.csv',
 'data/bikes\\309JourneyDataExtract16Mar2022-22Mar2022.csv',
 'data/bikes\\30JourneyDataExtract02Nov2016-08Nov2016.csv',
 'data/bikes\\310JourneyDataExtract23Mar2022-29Mar2022.csv',
 'data/bikes\\311JourneyDataExtract30Mar2022-05Apr2022.csv',
 'data/bikes\\312JourneyDataExtract06Apr2022-12Apr2022.csv',
 'data/bikes\\313JourneyDataExtract13Apr2022-19Apr2022.csv',
 'data/bikes\\314JourneyDataExtract20Apr2022-26Apr2022.csv',
 'data/bikes\\315JourneyDataExtract27Apr2022-03May2022.csv',
 'data/bikes\\316JourneyDataExtract04May2022-10May2022.csv',
 'data/bikes\\317JourneyDataExtract11May2022-17May2022.csv',
 'data/bikes\\318JourneyDataExtract18May2022-24May2022.csv',
 'data/bikes\\319JourneyDataExtract25May2022-31May2022.csv',
 'data/bikes\\31JourneyDataExtract09Nov2016-15Nov2016.csv',
 'data/bikes\\320JourneyDataExtract01Jun2022-07Jun2022.csv',
 'data/bikes\\321JourneyDataExtract08Jun2022-14Jun2022.csv',
 'data/bikes\\322JourneyDataExtract15Jun2022-21Jun2022.csv',
 'data/bikes\\323JourneyDataExtract22Jun2022-28Jun2022.csv',
 'data/bikes\\324JourneyDataExtract29Jun2022-05Jul2022.csv',
 'data/bikes\\325JourneyDataExtract06Jul2022-12Jul2022.csv',
 'data/bikes\\326JourneyDataExtract13Jul2022-19Jul2022.csv',
 'data/bikes\\327JourneyDataExtract20Jul2022-26Jul2022.csv',
 'data/bikes\\328JourneyDataExtract27Jul2022-02Aug2022.csv',
 'data/bikes\\329JourneyDataExtract03Aug2022-09Aug2022.csv',
 'data/bikes\\32JourneyDataExtract16Nov2016-22Nov2016.csv',
 'data/bikes\\330JourneyDataExtract10Aug2022-16Aug2022.csv',
 'data/bikes\\331JourneyDataExtract17Aug2022-23Aug2022.csv',
 'data/bikes\\332JourneyDataExtract24Aug2022-30Aug2022.csv',
 'data/bikes\\333JourneyDataExtract31Aug2022-06Sep2022.csv',
 'data/bikes\\334JourneyDataExtract07Sep2022-11Sep2022.csv',
 'data/bikes\\335JourneyDataExtract12Sep2022-18Sep2022.csv',
 'data/bikes\\336JourneyDataExtract19Sep2022-25Sep2022.csv',
 'data/bikes\\337JourneyDataExtract26Sep2022-02Oct2022.csv',
 'data/bikes\\338JourneyDataExtract03Oct2022-09Oct2022.csv',
 'data/bikes\\339JourneyDataExtract10Oct2022-16Oct2022.csv',
 'data/bikes\\33JourneyDataExtract23Nov2016-29Nov2016.csv',
 'data/bikes\\340JourneyDataExtract17Oct2022-23Oct2022.csv',
 'data/bikes\\341JourneyDataExtract24Oct2022-30Oct2022.csv',
 'data/bikes\\342JourneyDataExtract31Oct2022-06Nov2022.csv',
 'data/bikes\\343JourneyDataExtract07Nov2022-13Nov2022.csv',
 'data/bikes\\344JourneyDataExtract14Nov2022-20Nov2022.csv',
 'data/bikes\\345JourneyDataExtract21Nov2022-27Nov2022.csv',
 'data/bikes\\346JourneyDataExtract28Nov2022-04Dec2022.csv',
 'data/bikes\\347JourneyDataExtract05Dec2022-11Dec2022.csv',
 'data/bikes\\348JourneyDataExtract12Dec2022-18Dec2022.csv',
 'data/bikes\\349JourneyDataExtract19Dec2022-25Dec2022.csv',
 'data/bikes\\34JourneyDataExtract30Nov2016-06Dec2016.csv',
 'data/bikes\\350JourneyDataExtract26Dec2022-01Jan2023.csv',
 'data/bikes\\35JourneyDataExtract07Dec2016-13Dec2016.csv',
 'data/bikes\\36JourneyDataExtract14Dec2016-20Dec2016.csv',
 'data/bikes\\37JourneyDataExtract21Dec2016-27Dec2016.csv',
 'data/bikes\\38JourneyDataExtract28Dec2016-03Jan2017.csv',
 'data/bikes\\39JourneyDataExtract04Jan2017-10Jan2017.csv',
 'data/bikes\\3a.JourneyDataExtract01Mar15-15Mar15.csv',
 'data/bikes\\3b.JourneyDataExtract16Mar15-31Mar15.csv',
 'data/bikes\\4. Journey Data Extract 01Apr14-26Apr14.csv',
 'data/bikes\\4. Journey Data Extract 03Mar-31Mar13.csv',
 'data/bikes\\4. Journey Data Extract_1Apr-28Apr12.csv',
 'data/bikes\\40JourneyDataExtract11Jan2017-17Jan2017.csv',
 'data/bikes\\41JourneyDataExtract18Jan2017-24Jan2017.csv',
 'data/bikes\\42JourneyDataExtract25Jan2017-31Jan2017.csv',
 'data/bikes\\43JourneyDataExtract01Feb2017-07Feb2017.csv',
 'data/bikes\\44JourneyDataExtract08Feb2017-14Feb2017.csv',
 'data/bikes\\45JourneyDataExtract15Feb2017-21Feb2017.csv',
 'data/bikes\\46JourneyDataExtract22Feb2017-28Feb2017.csv',
 'data/bikes\\47JourneyDataExtract01Mar2017-07Mar2017.csv',
 'data/bikes\\48JourneyDataExtract08Mar2017-14Mar2017.csv',
 'data/bikes\\49JourneyDataExtract15Mar2017-21Mar2017.csv',
 'data/bikes\\4a.JourneyDataExtract01Apr15-16Apr15.csv',
 'data/bikes\\4b.JourneyDataExtract 17Apr15-02May15.csv',
 'data/bikes\\5. Journey Data Extract 01Apr-27Apr13.csv',
 'data/bikes\\5. Journey Data Extract 27Apr14-24May14.csv',
 'data/bikes\\5. Journey Data Extract_29Apr-26May12.csv',
 'data/bikes\\50 Journey Data Extract 22Mar2017-28Mar2017.csv',
 'data/bikes\\51 Journey Data Extract 29Mar2017-04Apr2017.csv',
 'data/bikes\\52 Journey Data Extract 05Apr2017-11Apr2017.csv',
 'data/bikes\\53JourneyDataExtract12Apr2017-18Apr2017.csv',
 'data/bikes\\54JourneyDataExtract19Apr2017-25Apr2017.csv',
 'data/bikes\\55JourneyData Extract26Apr2017-02May2017.csv',
 'data/bikes\\56JourneyDataExtract 03May2017-09May2017.csv',
 'data/bikes\\57JourneyDataExtract10May2017-16May2017.csv',
 'data/bikes\\5a.JourneyDataExtract03May15-16May15.csv',
 'data/bikes\\5b.JourneyDataExtract17May15-30May15.csv',
 'data/bikes\\6. Journey Data Extract 25May14-21Jun14.csv',
 'data/bikes\\6. Journey Data Extract 28Apr-25May13.csv',
 'data/bikes\\6. Journey Data Extract_27May-23Jun12.csv',
 'data/bikes\\6aJourneyDataExtract31May15-12Jun15.csv',
 'data/bikes\\6bJourneyDataExtract13Jun15-27Jun15.csv',
 'data/bikes\\7. Journey Data Extract 22Jun14-19Jul14.csv',
 'data/bikes\\7. Journey Data Extract 26May-22Jun13.csv',
 'data/bikes\\7. Journey Data Extract_24Jun-21Jul12.csv',
 'data/bikes\\7a.JourneyDataExtract28Jun15-11Jul15.csv',
 'data/bikes\\7b.JourneyDataExtract12Jul15-25Jul15.csv',
 'data/bikes\\8. Journey Data Extract 22Jul-18Aug12.csv',
 'data/bikes\\8. Journey Data Extract 23Jun-20Jul13.csv',
 'data/bikes\\8a Journey Data Extract 20Jul14-31Jul14.csv',
 'data/bikes\\8aJourneyDataExtract26Jul15-07Aug15.csv',
 'data/bikes\\8b Journey Data Extract 01Aug14-16Aug14.csv',
 'data/bikes\\8bJourneyData Extract 08Aug15-22Aug15.csv',
 'data/bikes\\9. Journey Data Extract 19Aug-20 Aug12.csv',
 'data/bikes\\9. Journey Data Extract 21Jul-17Aug13.csv',
 'data/bikes\\9a Journey Data Extract 17Aug14-31Aug14.csv',
 'data/bikes\\9a-Journey-Data-Extract-23Aug15-05Sep15.csv',
 'data/bikes\\9b Journey Data Extract 01Sep14-13Sep14.csv',
 'data/bikes\\9b-Journey-Data-Extract-06Sep15-19Sep15.csv']

### 2019 data prep

In [11]:
# creating a list of csv files that contain '2019' and '2022' respectively
csv_2019 = [item for item in all_csv if '2019' in item]
csv_2022 = [item for item in all_csv if '2022' in item]

In [12]:
csv_2019

['data/bikes\\142JourneyDataExtract26Dec2018-01Jan2019.csv',
 'data/bikes\\143JourneyDataExtract02Jan2019-08Jan2019.csv',
 'data/bikes\\144JourneyDataExtract09Jan2019-15Jan2019.csv',
 'data/bikes\\145JourneyDataExtract16Jan2019-22Jan2019.csv',
 'data/bikes\\146JourneyDataExtract23Jan2019-29Jan2019.csv',
 'data/bikes\\147JourneyDataExtract30Jan2019-05Feb2019.csv',
 'data/bikes\\148JourneyDataExtract06Feb2019-12Feb2019.csv',
 'data/bikes\\149JourneyDataExtract13Feb2019-19Feb2019.csv',
 'data/bikes\\150JourneyDataExtract20Feb2019-26Feb2019.csv',
 'data/bikes\\151JourneyDataExtract27Feb2019-05Mar2019.csv',
 'data/bikes\\152JourneyDataExtract06Mar2019-12Mar2019.csv',
 'data/bikes\\153JourneyDataExtract13Mar2019-19Mar2019.csv',
 'data/bikes\\154JourneyDataExtract20Mar2019-26Mar2019.csv',
 'data/bikes\\155JourneyDataExtract27Mar2019-02Apr2019.csv',
 'data/bikes\\156JourneyDataExtract03Apr2019-09Apr2019.csv',
 'data/bikes\\157JourneyDataExtract10Apr2019-16Apr2019.csv',
 'data/bikes\\158JourneyDataExtract17Apr2019-23Apr2019.csv',
 'data/bikes\\159JourneyDataExtract24Apr2019-30Apr2019.csv',
 'data/bikes\\160JourneyDataExtract01May2019-07May2019.csv',
 'data/bikes\\161JourneyDataExtract08May2019-14May2019.csv',
 'data/bikes\\162JourneyDataExtract15May2019-21May2019.csv',
 'data/bikes\\163JourneyDataExtract22May2019-28May2019.csv',
 'data/bikes\\164JourneyDataExtract29May2019-04Jun2019.csv',
 'data/bikes\\165JourneyDataExtract05Jun2019-11Jun2019.csv',
 'data/bikes\\166JourneyDataExtract12Jun2019-18Jun2019.csv',
 'data/bikes\\167JourneyDataExtract19Jun2019-25Jun2019.csv',
 'data/bikes\\168JourneyDataExtract26Jun2019-02Jul2019.csv',
 'data/bikes\\169JourneyDataExtract03Jul2019-09Jul2019.csv',
 'data/bikes\\170JourneyDataExtract10Jul2019-16Jul2019.csv',
 'data/bikes\\171JourneyDataExtract17Jul2019-23Jul2019.csv',
 'data/bikes\\172JourneyDataExtract24Jul2019-30Jul2019.csv',
 'data/bikes\\173JourneyDataExtract31Jul2019-06Aug2019.csv',
 'data/bikes\\174JourneyDataExtract07Aug2019-13Aug2019.csv',
 'data/bikes\\175JourneyDataExtract14Aug2019-20Aug2019.csv',
 'data/bikes\\176JourneyDataExtract21Aug2019-27Aug2019.csv',
 'data/bikes\\177JourneyDataExtract28Aug2019-03Sep2019.csv',
 'data/bikes\\178JourneyDataExtract04Sep2019-10Sep2019.csv',
 'data/bikes\\179JourneyDataExtract11Sep2019-17Sep2019.csv',
 'data/bikes\\180JourneyDataExtract18Sep2019-24Sep2019.csv',
 'data/bikes\\181JourneyDataExtract25Sep2019-01Oct2019.csv',
 'data/bikes\\182JourneyDataExtract02Oct2019-08Oct2019.csv',
 'data/bikes\\183JourneyDataExtract09Oct2019-15Oct2019.csv',
 'data/bikes\\184JourneyDataExtract16Oct2019-22Oct2019.csv',
 'data/bikes\\185JourneyDataExtract23Oct2019-29Oct2019.csv',
 'data/bikes\\186JourneyDataExtract30Oct2019-05Nov2019.csv',
 'data/bikes\\187JourneyDataExtract06Nov2019-12Nov2019.csv',
 'data/bikes\\188JourneyDataExtract13Nov2019-19Nov2019.csv',
 'data/bikes\\189JourneyDataExtract20Nov2019-26Nov2019.csv',
 'data/bikes\\190JourneyDataExtract27Nov2019-03Dec2019.csv',
 'data/bikes\\191JourneyDataExtract04Dec2019-10Dec2019.csv',
 'data/bikes\\192JourneyDataExtract11Dec2019-17Dec2019.csv',
 'data/bikes\\193JourneyDataExtract18Dec2019-24Dec2019.csv',
 'data/bikes\\194JourneyDataExtract25Dec2019-31Dec2019.csv']

In [13]:
# using list comprehension that reads each csv file from the list and gnerators a sequence of dataframes
dfs = (pd.read_csv(csv) for csv in csv_2019)

# concatenate csvs them into a single DataFrame using pd.concat()
# ignore_index=True parameter resets the index of the resulting DataFrame, so that it is a continuous sequence of integers.
data_2019 = pd.concat(dfs, ignore_index=True)

In [14]:
print(data_2019.shape)
data_2019.head()

(10388411, 9)

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,83252102,720,2077,31/12/2018 19:05,272,"Baylis Road, Waterloo",31/12/2018 18:53,94,"Bricklayers Arms, Borough"
1,83195883,120,10781,27/12/2018 19:47,93,"Cloudesley Road, Angel",27/12/2018 19:45,339,"Risinghill Street, Angel"
2,83196070,120,2977,27/12/2018 20:11,339,"Risinghill Street, Angel",27/12/2018 20:09,234,"Liverpool Road (N1 Centre), Angel"
3,83197932,660,10802,28/12/2018 07:35,282,"Royal London Hospital, Whitechapel",28/12/2018 07:24,698,"Shoreditch Court, Haggerston"
4,83176351,1380,15749,26/12/2018 11:55,785,"Aquatic Centre, Queen Elizabeth Olympic Park",26/12/2018 11:32,783,"Monier Road, Hackney Wick"

In [15]:
# 2019

## Add some extra variables to the dataset for use later in filtering

import datetime

## Feeding a specififed date format speeds up the pd.to_datetime function immeasurably, especially over large datasets
## e.g. http://stackoverflow.com/questions/32034689/why-is-pandas-to-datetime-slow-for-non-standard-time-format-such-as-2014-12-31

format = "%d/%m/%Y %H:%M"

## Some routes had dates with a seconds component, whereas some didn't - the below code cuts these seconds off
data_2019['Start Date'] = data_2019['Start Date'].str[:16]
data_2019['End Date'] = data_2019['End Date'].str[:16]

data_2019['Start Date']= pd.to_datetime(data_2019['Start Date'], format=format)

data_2019['End Date']= pd.to_datetime(data_2019['End Date'], format=format)

data_2019['Hour']= pd.to_datetime(data_2019['Start Date'], format=format).dt.hour

data_2019['Day']= pd.to_datetime(data_2019['Start Date'], format=format).dt.weekday

data_2019.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Hour,Day
0,83252102,720,2077,2018-12-31 19:05:00,272,"Baylis Road, Waterloo",2018-12-31 18:53:00,94,"Bricklayers Arms, Borough",18,0
1,83195883,120,10781,2018-12-27 19:47:00,93,"Cloudesley Road, Angel",2018-12-27 19:45:00,339,"Risinghill Street, Angel",19,3
2,83196070,120,2977,2018-12-27 20:11:00,339,"Risinghill Street, Angel",2018-12-27 20:09:00,234,"Liverpool Road (N1 Centre), Angel",20,3
3,83197932,660,10802,2018-12-28 07:35:00,282,"Royal London Hospital, Whitechapel",2018-12-28 07:24:00,698,"Shoreditch Court, Haggerston",7,4
4,83176351,1380,15749,2018-12-26 11:55:00,785,"Aquatic Centre, Queen Elizabeth Olympic Park",2018-12-26 11:32:00,783,"Monier Road, Hackney Wick",11,2

In [16]:
data_2019

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Hour,Day
0,83252102,720,2077,2018-12-31 19:05:00,272,"Baylis Road, Waterloo",2018-12-31 18:53:00,94,"Bricklayers Arms, Borough",18,0
1,83195883,120,10781,2018-12-27 19:47:00,93,"Cloudesley Road, Angel",2018-12-27 19:45:00,339,"Risinghill Street, Angel",19,3
2,83196070,120,2977,2018-12-27 20:11:00,339,"Risinghill Street, Angel",2018-12-27 20:09:00,234,"Liverpool Road (N1 Centre), Angel",20,3
3,83197932,660,10802,2018-12-28 07:35:00,282,"Royal London Hospital, Whitechapel",2018-12-28 07:24:00,698,"Shoreditch Court, Haggerston",7,4
4,83176351,1380,15749,2018-12-26 11:55:00,785,"Aquatic Centre, Queen Elizabeth Olympic Park",2018-12-26 11:32:00,783,"Monier Road, Hackney Wick",11,2
...,...,...,...,...,...,...,...,...,...,...,...
10388406,93988500,1200,8454,2019-12-31 14:07:00,216,"Old Brompton Road, South Kensington",2019-12-31 13:47:00,303,"Albert Gate, Hyde Park",13,1
10388407,93973049,3960,11780,2019-12-30 14:56:00,303,"Albert Gate, Hyde Park",2019-12-30 13:50:00,303,"Albert Gate, Hyde Park",13,0
10388408,93989586,2820,2080,2019-12-31 15:40:00,303,"Albert Gate, Hyde Park",2019-12-31 14:53:00,303,"Albert Gate, Hyde Park",14,1
10388409,93969138,840,4499,2019-12-30 11:01:00,99,"Old Quebec Street, Marylebone",2019-12-30 10:47:00,303,"Albert Gate, Hyde Park",10,0
10388410,93974189,2040,2603,2019-12-30 15:08:00,348,"Grosvenor Square, Mayfair",2019-12-30 14:34:00,303,"Albert Gate, Hyde Park",14,0

In [17]:
# 2019 filtering data - remove any rows that aren't from 2019
# remember the first csv contained data from 2018... 26Dec2018-01Jan2019.csv
bike_data_2019 = data_2019[data_2019['Start Date'].dt.year == 2019]
bike_data_2019

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Hour,Day
12,83262236,540,6571,2019-01-01 13:13:00,783,"Monier Road, Hackney Wick",2019-01-01 13:04:00,812,"Here East North, Queen Elizabeth Olympic Park",13,1
28,83259622,480,13179,2019-01-01 08:45:00,719,"Victoria Park Road, Hackney Central",2019-01-01 08:37:00,722,"Finnis Street, Bethnal Green",8,1
67,83266845,660,3667,2019-01-01 16:40:00,79,"Arundel Street, Temple",2019-01-01 16:29:00,230,"Poured Lines, Bankside",16,1
71,83268124,540,8565,2019-01-01 18:19:00,819,"Belvedere Road 2, South Bank",2019-01-01 18:10:00,230,"Poured Lines, Bankside",18,1
83,83265146,660,5572,2019-01-01 15:25:00,334,"Concert Hall Approach 1, South Bank",2019-01-01 15:14:00,230,"Poured Lines, Bankside",15,1
...,...,...,...,...,...,...,...,...,...,...,...
10388406,93988500,1200,8454,2019-12-31 14:07:00,216,"Old Brompton Road, South Kensington",2019-12-31 13:47:00,303,"Albert Gate, Hyde Park",13,1
10388407,93973049,3960,11780,2019-12-30 14:56:00,303,"Albert Gate, Hyde Park",2019-12-30 13:50:00,303,"Albert Gate, Hyde Park",13,0
10388408,93989586,2820,2080,2019-12-31 15:40:00,303,"Albert Gate, Hyde Park",2019-12-31 14:53:00,303,"Albert Gate, Hyde Park",14,1
10388409,93969138,840,4499,2019-12-30 11:01:00,99,"Old Quebec Street, Marylebone",2019-12-30 10:47:00,303,"Albert Gate, Hyde Park",10,0
10388410,93974189,2040,2603,2019-12-30 15:08:00,348,"Grosvenor Square, Mayfair",2019-12-30 14:34:00,303,"Albert Gate, Hyde Park",14,0

In [18]:
# bike_data_2019 has no null values, perfect
#bike_data_2019.isnull().sum()

### 2022 data prep

- In September 2022 the column names change slightly and additional clumns have been added
- for example the 'Bike model' column has been added (classic or PBSC_EBIKE)

Cycle Hire Data - data format change & new data https://techforum.tfl.gov.uk/t/cycle-hire-data-data-format-change-new-data/2520

### Exploring the 2022 data

In [8]:
csv_2022 = [item for item in all_csv if '2022' in item]

In [9]:
# CSVs before September 2022 part 1 data 
# use slicing to includes all elements of the previous list except for the last 16
csv_2022_p1 = csv_2022[:-16]

# CSVs From september 12th 2022 
# use slicing to create a new list that includes only the last 16 elements
csv_2022_p2 = csv_2022[-16:]

In [10]:
# doing the same for the 2022 data
# passing errors within the csv files as per https://stackoverflow.com/questions/52105659/pandas-read-csv-unexpected-end-of-data-error
dfs_2022_p1 = (pd.read_csv(csv, engine='python', encoding='utf-8', on_bad_lines='skip') for csv in csv_2022_p1)
data_2022_p1 = pd.concat(dfs_2022_p1, ignore_index=True)

In [11]:
data_2022_p1.isnull().sum()
# for the part 1 data, there were 312144 records with null station ids  

#es_id_null = data_2022_p1.loc[data_2022_p1['EndStation Id'].isnull()] 
#es_id_null.sort_values(by='Start Date', ascending=False)

# filtering the data above reveal the journeys taken between 06/07/2022 00:00 and 12/07/2022 23:56 did not record an end station Id

Rental Id                 0
Duration                  0
Bike Id                   0
End Date                  0
EndStation Id        312144
EndStation Name           0
Start Date                0
StartStation Id           0
StartStation Name         0
dtype: int64

In [12]:
data_2022_p1.count()

Rental Id            8677104
Duration             8677104
Bike Id              8677104
End Date             8677104
EndStation Id        8364960
EndStation Name      8677104
Start Date           8677104
StartStation Id      8677104
StartStation Name    8677104
dtype: int64

In [13]:
data_2022_p1

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,115967515,1260,15338,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529,"Manresa Road, Chelsea"
1,116017034,720,19861,04/01/2022 19:08,11.0,"Brunswick Square, Bloomsbury",04/01/2022 18:56,804,"Good's Way, King's Cross"
2,115895660,360,19666,29/12/2021 16:34,70.0,"Calshot Street , King's Cross",29/12/2021 16:28,57,"Guilford Street , Bloomsbury"
3,116016563,480,19861,04/01/2022 18:46,804.0,"Good's Way, King's Cross",04/01/2022 18:38,57,"Guilford Street , Bloomsbury"
4,116014412,1260,17235,04/01/2022 17:45,14.0,"Belgrove Street , King's Cross",04/01/2022 17:24,297,"Geraldine Street, Elephant & Castle"
...,...,...,...,...,...,...,...,...,...
8677099,125044170,3840,21738,11/09/2022 09:45,201.0,"Dorset Square, Marylebone",11/09/2022 08:41,514,"Portman Square, Marylebone"
8677100,125102716,360,10886,11/09/2022 10:19,5.0,"Sedding Street, Sloane Square",11/09/2022 10:13,826,"Allington Street, Victoria"
8677101,125102718,540,8719,11/09/2022 10:53,270.0,"Kennington Lane Rail Bridge, Vauxhall",11/09/2022 10:44,826,"Allington Street, Victoria"
8677102,125044249,6000,8881,11/09/2022 14:13,757.0,"Harcourt Terrace, West Brompton",11/09/2022 12:33,757,"Harcourt Terrace, West Brompton"
8677103,125044312,480,23806,12/09/2022 00:06,339.0,"Risinghill Street, Angel",11/09/2022 23:58,189,"Claremont Square, Angel"

In [15]:
# read in data with datetime data type for column 2 and column 5
dfs_2022_p2 = (pd.read_csv(csv) for csv in csv_2022_p2)
#dfs_2022_p2 = (pd.read_csv(csv, parse_dates={'Start date': 'datetime64', 'End date': 'datetime64'}) for csv in csv_2022_p2)
data_2022_p2 = pd.concat(dfs_2022_p2, ignore_index=True)

C:\Users\EMoses\AppData\Local\Temp\ipykernel_19860\3155316714.py:2: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs_2022_p2 = (pd.read_csv(csv) for csv in csv_2022_p2)

In [16]:
data_2022_p2.isnull().sum()

Number                  0
Start date              0
Start station number    0
Start station           0
End date                0
End station number      0
End station             0
Bike number             0
Bike model              0
Total duration          0
Total duration (ms)     0
dtype: int64

In [17]:
data_2022_p2.count()

Number                  2555077
Start date              2555077
Start station number    2555077
Start station           2555077
End date                2555077
End station number      2555077
End station             2555077
Bike number             2555077
Bike model              2555077
Total duration          2555077
Total duration (ms)     2555077
dtype: int64

In [18]:
# doing the same for the 2022 data
# passing errors within the csv files as per https://stackoverflow.com/questions/52105659/pandas-read-csv-unexpected-end-of-data-error
dfs_2022 = (pd.read_csv(csv, engine='python', encoding='utf-8', on_bad_lines='skip') for csv in csv_2022)
data_2022 = pd.concat(dfs_2022, ignore_index=True)

In [19]:
data_2022

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,115967515.0,1260.0,15338.0,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529.0,"Manresa Road, Chelsea",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,116017034.0,720.0,19861.0,04/01/2022 19:08,11.0,"Brunswick Square, Bloomsbury",04/01/2022 18:56,804.0,"Good's Way, King's Cross",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,115895660.0,360.0,19666.0,29/12/2021 16:34,70.0,"Calshot Street , King's Cross",29/12/2021 16:28,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,116016563.0,480.0,19861.0,04/01/2022 18:46,804.0,"Good's Way, King's Cross",04/01/2022 18:38,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,116014412.0,1260.0,17235.0,04/01/2022 17:45,14.0,"Belgrove Street , King's Cross",04/01/2022 17:24,297.0,"Geraldine Street, Elephant & Castle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11232176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641458.0,2022-12-26 00:02,200214,"Woodstock Grove, Shepherd's Bush",2022-12-26 01:51,200249,"Queen Mary's, Mile End",53664.0,CLASSIC,1h 49m 4s,6544593.0
11232177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641459.0,2022-12-26 00:02,1213,"Curlew Street, Shad Thames",2022-12-26 00:34,200147,"Salmon Lane, Limehouse",54303.0,CLASSIC,32m 16s,1936877.0
11232178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641453.0,2022-12-26 00:00,1213,"Curlew Street, Shad Thames",2022-12-26 00:49,200160,"Langdon Park, Poplar",21426.0,CLASSIC,49m 15s,2955280.0
11232179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641454.0,2022-12-26 00:00,22167,"Millharbour, Millwall",2022-12-26 01:31,22167,"Millharbour, Millwall",54786.0,CLASSIC,1h 30m 27s,5427555.0
11232180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641455.0,2022-12-26 00:00,1213,"Curlew Street, Shad Thames",2022-12-26 00:49,200160,"Langdon Park, Poplar",30605.0,CLASSIC,48m 22s,2902467.0

In [20]:
# check the data type of the 'date' column
print(data_2022['Start date'].dtype)

object

In [21]:
# 2022

# Let's clean this up and get all the data into single columns


#creating a copy of the orginal data
data_2022_clean = data_2022.copy()

In [22]:
#let's start by sorting out the date time formatting
format = "%d/%m/%Y %H:%M"
format2 = "%Y/%m/%d %H:%M"


data_2022_clean['Start Date'] = data_2022_clean['Start Date'].str[:16]
#data_2022_clean['End Date'] = data_2022_clean['End Date'].str[:16]

# let's create some extra columns to store the newly formatted datetime data,
#remember the date columns have different formatting before and after September
# we will merge them into single columns later on 
data_2022_clean['Start Date Time'] = pd.to_datetime(data_2022_clean['Start Date'], format=format)
data_2022_clean['Start Date Time 2']= pd.to_datetime(data_2022_clean['Start date'], format=format2)
data_2022_clean['End Date Time'] = pd.to_datetime(data_2022_clean['End Date'], format=format)
data_2022_clean['End Date Time 2'] = pd.to_datetime(data_2022_clean['Start date'], format=format2)

In [23]:
data_2022_clean

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,...,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms),Start Date Time,Start Date Time 2,End Date Time,End Date Time 2
0,115967515.0,1260.0,15338.0,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529.0,"Manresa Road, Chelsea",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01 22:52:00,NaT,2022-01-01 23:13:00,NaT
1,116017034.0,720.0,19861.0,04/01/2022 19:08,11.0,"Brunswick Square, Bloomsbury",04/01/2022 18:56,804.0,"Good's Way, King's Cross",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 18:56:00,NaT,2022-01-04 19:08:00,NaT
2,115895660.0,360.0,19666.0,29/12/2021 16:34,70.0,"Calshot Street , King's Cross",29/12/2021 16:28,57.0,"Guilford Street , Bloomsbury",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-29 16:28:00,NaT,2021-12-29 16:34:00,NaT
3,116016563.0,480.0,19861.0,04/01/2022 18:46,804.0,"Good's Way, King's Cross",04/01/2022 18:38,57.0,"Guilford Street , Bloomsbury",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 18:38:00,NaT,2022-01-04 18:46:00,NaT
4,116014412.0,1260.0,17235.0,04/01/2022 17:45,14.0,"Belgrove Street , King's Cross",04/01/2022 17:24,297.0,"Geraldine Street, Elephant & Castle",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 17:24:00,NaT,2022-01-04 17:45:00,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11232176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641458.0,...,200249,"Queen Mary's, Mile End",53664.0,CLASSIC,1h 49m 4s,6544593.0,NaT,2022-12-26 00:02:00,NaT,2022-12-26 00:02:00
11232177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641459.0,...,200147,"Salmon Lane, Limehouse",54303.0,CLASSIC,32m 16s,1936877.0,NaT,2022-12-26 00:02:00,NaT,2022-12-26 00:02:00
11232178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641453.0,...,200160,"Langdon Park, Poplar",21426.0,CLASSIC,49m 15s,2955280.0,NaT,2022-12-26 00:00:00,NaT,2022-12-26 00:00:00
11232179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641454.0,...,22167,"Millharbour, Millwall",54786.0,CLASSIC,1h 30m 27s,5427555.0,NaT,2022-12-26 00:00:00,NaT,2022-12-26 00:00:00
11232180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127641455.0,...,200160,"Langdon Park, Poplar",30605.0,CLASSIC,48m 22s,2902467.0,NaT,2022-12-26 00:00:00,NaT,2022-12-26 00:00:00

In [24]:
data_2022_clean.isnull().sum()

Rental Id               2555077
Duration                2555077
Bike Id                 2555077
End Date                2555077
EndStation Id           2867221
EndStation Name         2555077
Start Date              2555077
StartStation Id         2555077
StartStation Name       2555077
Number                  8677104
Start date              8677104
Start station number    8677104
Start station           8677104
End date                8677104
End station number      8677104
End station             8677104
Bike number             8677104
Bike model              8677104
Total duration          8677104
Total duration (ms)     8677104
Start Date Time         2555077
Start Date Time 2       8677104
End Date Time           2555077
End Date Time 2         8677104
dtype: int64

In [25]:

data_2022_clean1 = data_2022_clean.copy()

In [26]:
# transfering values from one pandas column to another pandas column only for null rows
data_2022_clean1.loc[data_2022_clean1['Rental Id'].isnull(), 'Rental Id'] = data_2022_clean1['Number']
data_2022_clean1.loc[data_2022_clean1['Bike Id'].isnull(), 'Bike Id'] = data_2022_clean1['Bike number']
data_2022_clean1['End Date'] = data_2022_clean1['End Date Time']
data_2022_clean1['Start Date'] = data_2022_clean1['Start Date Time']

data_2022_clean1.loc[data_2022_clean1['End Date'].isnull(), 'End Date'] = data_2022_clean1['End Date Time 2']
data_2022_clean1.loc[data_2022_clean1['EndStation Name'].isnull(), 'EndStation Name'] = data_2022_clean1['End station']
data_2022_clean1.loc[data_2022_clean1['Start Date'].isnull(), 'Start Date'] = data_2022_clean1['Start Date Time 2']
data_2022_clean1.loc[data_2022_clean1['StartStation Name'].isnull(), 'StartStation Name'] = data_2022_clean1['Start station']

#data_2022_clean.sort_values(by='Bike model', ascending=False)

In [27]:
data_2022_clean1

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,...,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms),Start Date Time,Start Date Time 2,End Date Time,End Date Time 2
0,115967515.0,1260.0,15338.0,2022-01-01 23:13:00,310.0,"Black Prince Road, Vauxhall",2022-01-01 22:52:00,529.0,"Manresa Road, Chelsea",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01 22:52:00,NaT,2022-01-01 23:13:00,NaT
1,116017034.0,720.0,19861.0,2022-01-04 19:08:00,11.0,"Brunswick Square, Bloomsbury",2022-01-04 18:56:00,804.0,"Good's Way, King's Cross",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 18:56:00,NaT,2022-01-04 19:08:00,NaT
2,115895660.0,360.0,19666.0,2021-12-29 16:34:00,70.0,"Calshot Street , King's Cross",2021-12-29 16:28:00,57.0,"Guilford Street , Bloomsbury",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-29 16:28:00,NaT,2021-12-29 16:34:00,NaT
3,116016563.0,480.0,19861.0,2022-01-04 18:46:00,804.0,"Good's Way, King's Cross",2022-01-04 18:38:00,57.0,"Guilford Street , Bloomsbury",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 18:38:00,NaT,2022-01-04 18:46:00,NaT
4,116014412.0,1260.0,17235.0,2022-01-04 17:45:00,14.0,"Belgrove Street , King's Cross",2022-01-04 17:24:00,297.0,"Geraldine Street, Elephant & Castle",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 17:24:00,NaT,2022-01-04 17:45:00,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11232176,127641458.0,NaN,53664.0,2022-12-26 00:02:00,NaN,"Queen Mary's, Mile End",2022-12-26 00:02:00,NaN,"Woodstock Grove, Shepherd's Bush",127641458.0,...,200249,"Queen Mary's, Mile End",53664.0,CLASSIC,1h 49m 4s,6544593.0,NaT,2022-12-26 00:02:00,NaT,2022-12-26 00:02:00
11232177,127641459.0,NaN,54303.0,2022-12-26 00:02:00,NaN,"Salmon Lane, Limehouse",2022-12-26 00:02:00,NaN,"Curlew Street, Shad Thames",127641459.0,...,200147,"Salmon Lane, Limehouse",54303.0,CLASSIC,32m 16s,1936877.0,NaT,2022-12-26 00:02:00,NaT,2022-12-26 00:02:00
11232178,127641453.0,NaN,21426.0,2022-12-26 00:00:00,NaN,"Langdon Park, Poplar",2022-12-26 00:00:00,NaN,"Curlew Street, Shad Thames",127641453.0,...,200160,"Langdon Park, Poplar",21426.0,CLASSIC,49m 15s,2955280.0,NaT,2022-12-26 00:00:00,NaT,2022-12-26 00:00:00
11232179,127641454.0,NaN,54786.0,2022-12-26 00:00:00,NaN,"Millharbour, Millwall",2022-12-26 00:00:00,NaN,"Millharbour, Millwall",127641454.0,...,22167,"Millharbour, Millwall",54786.0,CLASSIC,1h 30m 27s,5427555.0,NaT,2022-12-26 00:00:00,NaT,2022-12-26 00:00:00
11232180,127641455.0,NaN,30605.0,2022-12-26 00:00:00,NaN,"Langdon Park, Poplar",2022-12-26 00:00:00,NaN,"Curlew Street, Shad Thames",127641455.0,...,200160,"Langdon Park, Poplar",30605.0,CLASSIC,48m 22s,2902467.0,NaT,2022-12-26 00:00:00,NaT,2022-12-26 00:00:00

In [28]:
filtered_df = data_2022_clean1[data_2022_clean1['Start Date'].dt.date == pd.to_datetime('2022-01-11').date()]

# Display the filtered DataFrame
filtered_df

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,...,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms),Start Date Time,Start Date Time 2,End Date Time,End Date Time 2
128945,116141309.0,660.0,20008.0,2022-01-11 09:26:00,338.0,"Wellington Street , Strand",2022-01-11 09:15:00,17.0,"Hatton Wall, Holborn",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-11 09:15:00,NaT,2022-01-11 09:26:00,NaT
128959,116148847.0,660.0,8806.0,2022-01-11 17:10:00,154.0,"Waterloo Station 3, Waterloo",2022-01-11 16:59:00,17.0,"Hatton Wall, Holborn",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-11 16:59:00,NaT,2022-01-11 17:10:00,NaT
128973,116151199.0,1380.0,17508.0,2022-01-11 18:32:00,238.0,"Frampton Street, Paddington",2022-01-11 18:09:00,17.0,"Hatton Wall, Holborn",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-11 18:09:00,NaT,2022-01-11 18:32:00,NaT
128974,116153009.0,600.0,11783.0,2022-01-11 19:11:00,58.0,"New Inn Yard, Shoreditch",2022-01-11 19:01:00,17.0,"Hatton Wall, Holborn",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-11 19:01:00,NaT,2022-01-11 19:11:00,NaT
128983,116143657.0,60.0,19714.0,2022-01-11 11:31:00,66.0,"Holborn Circus, Holborn",2022-01-11 11:30:00,17.0,"Hatton Wall, Holborn",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-11 11:30:00,NaT,2022-01-11 11:31:00,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263309,116156427.0,840.0,20611.0,2022-01-11 22:40:00,461.0,"Aston Street, Stepney",2022-01-11 22:26:00,132.0,"Bethnal Green Road, Shoreditch",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-11 22:26:00,NaT,2022-01-11 22:40:00,NaT
263313,116145008.0,960.0,19834.0,2022-01-11 13:09:00,804.0,"Good's Way, King's Cross",2022-01-11 12:53:00,132.0,"Bethnal Green Road, Shoreditch",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-11 12:53:00,NaT,2022-01-11 13:09:00,NaT
263314,116153223.0,1260.0,18741.0,2022-01-11 19:29:00,79.0,"Arundel Street, Temple",2022-01-11 19:08:00,132.0,"Bethnal Green Road, Shoreditch",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-11 19:08:00,NaT,2022-01-11 19:29:00,NaT
263315,116155117.0,840.0,20108.0,2022-01-11 20:55:00,321.0,"Bermondsey Street, Bermondsey",2022-01-11 20:41:00,132.0,"Bethnal Green Road, Shoreditch",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-11 20:41:00,NaT,2022-01-11 20:55:00,NaT
263316,116152949.0,660.0,11492.0,2022-01-11 19:09:00,577.0,"Globe Town Market, Bethnal Green",2022-01-11 18:58:00,132.0,"Bethnal Green Road, Shoreditch",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-11 18:58:00,NaT,2022-01-11 19:09:00,NaT

In [29]:
data_2022_clean1.isnull().sum()

Rental Id                     0
Duration                2555077
Bike Id                       0
End Date                      0
EndStation Id           2867221
EndStation Name               0
Start Date                    0
StartStation Id         2555077
StartStation Name             0
Number                  8677104
Start date              8677104
Start station number    8677104
Start station           8677104
End date                8677104
End station number      8677104
End station             8677104
Bike number             8677104
Bike model              8677104
Total duration          8677104
Total duration (ms)     8677104
Start Date Time         2555077
Start Date Time 2       8677104
End Date Time           2555077
End Date Time 2         8677104
dtype: int64

In [30]:
# adding hour and day columns  
data_2022_clean1['Hour']= pd.to_datetime(data_2022_clean1['Start Date'], format = "%d/%m/%Y %H:%M").dt.hour
data_2022_clean1['Day']= pd.to_datetime(data_2022_clean1['Start Date'], format = "%d/%m/%Y %H:%M").dt.weekday

In [31]:
# removing columns that are no longer needed
data_2022_clean_drop = data_2022_clean1.drop(['Number', 'Start date', 'Start station', 'End date', 'End station',
                                             'Bike number', 'Total duration', 'Total duration (ms)', 'Start Date Time', 'Start Date Time 2','End Date Time','End Date Time 2'], axis=1)

In [32]:
data_2022_clean_drop

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Start station number,End station number,Bike model,Hour,Day
0,115967515.0,1260.0,15338.0,2022-01-01 23:13:00,310.0,"Black Prince Road, Vauxhall",2022-01-01 22:52:00,529.0,"Manresa Road, Chelsea",NaN,NaN,NaN,22,5
1,116017034.0,720.0,19861.0,2022-01-04 19:08:00,11.0,"Brunswick Square, Bloomsbury",2022-01-04 18:56:00,804.0,"Good's Way, King's Cross",NaN,NaN,NaN,18,1
2,115895660.0,360.0,19666.0,2021-12-29 16:34:00,70.0,"Calshot Street , King's Cross",2021-12-29 16:28:00,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,16,2
3,116016563.0,480.0,19861.0,2022-01-04 18:46:00,804.0,"Good's Way, King's Cross",2022-01-04 18:38:00,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,18,1
4,116014412.0,1260.0,17235.0,2022-01-04 17:45:00,14.0,"Belgrove Street , King's Cross",2022-01-04 17:24:00,297.0,"Geraldine Street, Elephant & Castle",NaN,NaN,NaN,17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11232176,127641458.0,NaN,53664.0,2022-12-26 00:02:00,NaN,"Queen Mary's, Mile End",2022-12-26 00:02:00,NaN,"Woodstock Grove, Shepherd's Bush",200214,200249,CLASSIC,0,0
11232177,127641459.0,NaN,54303.0,2022-12-26 00:02:00,NaN,"Salmon Lane, Limehouse",2022-12-26 00:02:00,NaN,"Curlew Street, Shad Thames",1213,200147,CLASSIC,0,0
11232178,127641453.0,NaN,21426.0,2022-12-26 00:00:00,NaN,"Langdon Park, Poplar",2022-12-26 00:00:00,NaN,"Curlew Street, Shad Thames",1213,200160,CLASSIC,0,0
11232179,127641454.0,NaN,54786.0,2022-12-26 00:00:00,NaN,"Millharbour, Millwall",2022-12-26 00:00:00,NaN,"Millharbour, Millwall",22167,22167,CLASSIC,0,0
11232180,127641455.0,NaN,30605.0,2022-12-26 00:00:00,NaN,"Langdon Park, Poplar",2022-12-26 00:00:00,NaN,"Curlew Street, Shad Thames",1213,200160,CLASSIC,0,0

In [33]:
data_2022_clean_drop.isnull().sum()

Rental Id                     0
Duration                2555077
Bike Id                       0
End Date                      0
EndStation Id           2867221
EndStation Name               0
Start Date                    0
StartStation Id         2555077
StartStation Name             0
Start station number    8677104
End station number      8677104
Bike model              8677104
Hour                          0
Day                           0
dtype: int64

In [34]:
# let's rename a couple of columns to make it clearer
# we will rename the Start and End station number column 
# these columns actually terminal to the station 'terminalName' as per https://tfl.gov.uk/tfl/syndication/feeds/cycle-hire/livecyclehireupdates.xml

data_2022_clean_drop = data_2022_clean_drop.rename(columns={'Start station number': 'SS Terminal Name', 'End station number': 'ES Terminal Name'})

In [35]:
# finally, 2022 filtering data - remove any rows that aren't from 2022
data_2022_clean_drop1 = data_2022_clean_drop[data_2022_clean_drop['Start Date'].dt.year == 2022]
print(data_2022_clean_drop1.shape)

(11166111, 14)

In [36]:
data_2022_clean_drop1

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
0,115967515.0,1260.0,15338.0,2022-01-01 23:13:00,310.0,"Black Prince Road, Vauxhall",2022-01-01 22:52:00,529.0,"Manresa Road, Chelsea",NaN,NaN,NaN,22,5
1,116017034.0,720.0,19861.0,2022-01-04 19:08:00,11.0,"Brunswick Square, Bloomsbury",2022-01-04 18:56:00,804.0,"Good's Way, King's Cross",NaN,NaN,NaN,18,1
3,116016563.0,480.0,19861.0,2022-01-04 18:46:00,804.0,"Good's Way, King's Cross",2022-01-04 18:38:00,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,18,1
4,116014412.0,1260.0,17235.0,2022-01-04 17:45:00,14.0,"Belgrove Street , King's Cross",2022-01-04 17:24:00,297.0,"Geraldine Street, Elephant & Castle",NaN,NaN,NaN,17,1
5,116013350.0,480.0,13790.0,2022-01-04 16:50:00,252.0,"Jubilee Gardens, South Bank",2022-01-04 16:42:00,310.0,"Black Prince Road, Vauxhall",NaN,NaN,NaN,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11232176,127641458.0,NaN,53664.0,2022-12-26 00:02:00,NaN,"Queen Mary's, Mile End",2022-12-26 00:02:00,NaN,"Woodstock Grove, Shepherd's Bush",200214,200249,CLASSIC,0,0
11232177,127641459.0,NaN,54303.0,2022-12-26 00:02:00,NaN,"Salmon Lane, Limehouse",2022-12-26 00:02:00,NaN,"Curlew Street, Shad Thames",1213,200147,CLASSIC,0,0
11232178,127641453.0,NaN,21426.0,2022-12-26 00:00:00,NaN,"Langdon Park, Poplar",2022-12-26 00:00:00,NaN,"Curlew Street, Shad Thames",1213,200160,CLASSIC,0,0
11232179,127641454.0,NaN,54786.0,2022-12-26 00:00:00,NaN,"Millharbour, Millwall",2022-12-26 00:00:00,NaN,"Millharbour, Millwall",22167,22167,CLASSIC,0,0
11232180,127641455.0,NaN,30605.0,2022-12-26 00:00:00,NaN,"Langdon Park, Poplar",2022-12-26 00:00:00,NaN,"Curlew Street, Shad Thames",1213,200160,CLASSIC,0,0

In [37]:
filtered_df = data_2022_clean_drop1[data_2022_clean_drop1['Start Date'].dt.date == pd.to_datetime('2022-05-12').date()]

# Display the filtered DataFrame
filtered_df

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
3740430,120031839.0,1080.0,22129.0,2022-05-12 17:17:00,421.0,"Southwark Station 2, Southwark",2022-05-12 16:59:00,69.0,"Euston Road, Euston",NaN,NaN,NaN,16,3
3740456,120025320.0,360.0,22264.0,2022-05-12 13:49:00,353.0,"Greycoat Street , Westminster",2022-05-12 13:43:00,185.0,"Alderney Street, Pimlico",NaN,NaN,NaN,13,3
3740459,120011084.0,240.0,3620.0,2022-05-12 07:48:00,353.0,"Greycoat Street , Westminster",2022-05-12 07:44:00,185.0,"Alderney Street, Pimlico",NaN,NaN,NaN,7,3
3740467,120041406.0,900.0,20410.0,2022-05-12 19:33:00,17.0,"Hatton Wall, Holborn",2022-05-12 19:18:00,194.0,"Hop Exchange, The Borough",NaN,NaN,NaN,19,3
3740472,120022320.0,660.0,18126.0,2022-05-12 12:15:00,54.0,"Golden Lane, Barbican",2022-05-12 12:04:00,104.0,"Crosswall, Tower",NaN,NaN,NaN,12,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011012,120007710.0,180.0,15990.0,2022-05-12 00:57:00,534.0,"Goldsmith's Row, Haggerston",2022-05-12 00:54:00,401.0,"Columbia Road, Shoreditch",NaN,NaN,NaN,0,3
4011017,120008417.0,1140.0,22605.0,2022-05-12 06:29:00,532.0,"Jubilee Plaza, Canary Wharf",2022-05-12 06:10:00,401.0,"Columbia Road, Shoreditch",NaN,NaN,NaN,6,3
4011023,120010996.0,1200.0,20612.0,2022-05-12 08:02:00,15.0,"Great Russell Street, Bloomsbury",2022-05-12 07:42:00,401.0,"Columbia Road, Shoreditch",NaN,NaN,NaN,7,3
4011029,120007476.0,960.0,11368.0,2022-05-12 00:21:00,763.0,"Mile End Park Leisure Centre, Mile End",2022-05-12 00:05:00,399.0,"Brick Lane Market, Shoreditch",NaN,NaN,NaN,0,3
4011034,120008847.0,420.0,20446.0,2022-05-12 06:47:00,237.0,"Dock Street, Wapping",2022-05-12 06:40:00,399.0,"Brick Lane Market, Shoreditch",NaN,NaN,NaN,6,3

In [38]:
bike_data_2022 = data_2022_clean_drop1.copy()

### Storing the data in an PostgreSQL databse

In [19]:
# psycopg2 library installed to connect to a PostgreSQL database from Python

import psycopg2
from sqlalchemy import create_engine

In [20]:
# connection to postgres database
conn = psycopg2.connect(
    user="postgres",
    password="password123",
    host="localhost",
    database="diss_data",
)

In [21]:
# Create a SQLAlchemy engine: Create a SQLAlchemy engine using the create_engine function, which will be used to write the DataFrame to the database.
engine = create_engine('postgresql+psycopg2://postgres:password123@localhost:5432/diss_data')

In [22]:
# Export the DataFrame to the database: Once you have the connection and engine set up, you can use the to_sql method of the DataFrame to export it to the database.
# save the DataFrame to the PostgreSQL database
# set the index parameter to False to avoid saving the DataFrame's index as a separate column in the database.
bike_data_2019.to_sql('bike_data_2019_tb_v02', engine, if_exists='replace', index=False)

63

In [43]:
# save the DataFrame to the PostgreSQL database
bike_data_2022.to_sql('bike_data_2022_tb_v03', engine, if_exists='replace', index=False)

111

### Transforming the dataframes into a matrix, whereby the value of each cell is the number of events per hour

In [23]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

# connection to postgres database
conn = psycopg2.connect(
    user="postgres",
    password="password123",
    host="localhost",
    database="diss_data",
)

engine = sqlalchemy.create_engine('postgresql://postgres:password123@localhost:5432/diss_data')

# create a connection to the database
conn = psycopg2.connect(database="diss_data", user="postgres", password="password123", host="localhost", port="5432")

In [24]:
# define the SQL query to retrieve the data from the table
sql_query = "SELECT * FROM bike_data_2019_tb_v02"

# use the read_sql function to read the table into a Pandas dataframe
df = pd.read_sql(sql_query, conn)

C:\Users\EMoses\AppData\Local\Temp\ipykernel_13104\240701530.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn)

In [25]:
# doing ther same for 2022
# define the SQL query to retrieve the data from the table
sql_query_2022 = "SELECT * FROM bike_data_2022_tb_v02"

# use the read_sql function to read the table into a Pandas dataframe
df_2022 = pd.read_sql(sql_query_2022, conn)

C:\Users\EMoses\AppData\Local\Temp\ipykernel_13104\2619909124.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_2022 = pd.read_sql(sql_query_2022, conn)

In [33]:
df_2022

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
0,115964384.0,780.0,10825.0,01/01/2022 19:09,762.0,"Storey's Gate, Westminster",01/01/2022 18:56,325.0,"St. Martin's Street, West End",None,None,None,18,5
1,115966909.0,1020.0,13614.0,01/01/2022 22:10,259.0,"Bourne Street, Belgravia",01/01/2022 21:53,325.0,"St. Martin's Street, West End",None,None,None,21,5
2,115984745.0,1860.0,929.0,01/02/2022 23:31,462.0,"Bonny Street, Camden Town",01/02/2022 23:00,325.0,"St. Martin's Street, West End",None,None,None,23,1
3,115946833.0,900.0,17544.0,01/01/2022 01:33,815.0,"Lambeth Palace Road, Waterloo",01/01/2022 01:18,325.0,"St. Martin's Street, West End",None,None,None,1,5
4,115968215.0,420.0,20869.0,01/02/2022 00:15,751.0,"Newton Street, Covent Garden",01/02/2022 00:08,325.0,"St. Martin's Street, West End",None,None,None,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11166106,115953334.0,780.0,17932.0,01/01/2022 12:07,445.0,"Cheshire Street, Bethnal Green",01/01/2022 11:54,445.0,"Cheshire Street, Bethnal Green",None,None,None,11,5
11166107,116018337.0,1140.0,10440.0,01/04/2022 20:26,471.0,"Hewison Street, Old Ford",01/04/2022 20:07,445.0,"Cheshire Street, Bethnal Green",None,None,None,20,4
11166108,116011360.0,240.0,21413.0,01/04/2022 14:57,534.0,"Goldsmith's Row, Haggerston",01/04/2022 14:53,445.0,"Cheshire Street, Bethnal Green",None,None,None,14,4
11166109,115989148.0,1260.0,18210.0,01/03/2022 11:57,436.0,"Red Lion Street, Holborn",01/03/2022 11:36,445.0,"Cheshire Street, Bethnal Green",None,None,None,11,1
11166110,116015590.0,1140.0,12058.0,01/04/2022 18:24,789.0,"Podium, Queen Elizabeth Olympic Park",01/04/2022 18:05,445.0,"Cheshire Street, Bethnal Green",None,None,None,18,4

# Now lets create a matrix for all the data in 2019

In [26]:
#copying the dataframe
bike_data_2019 = df.copy()
bike_data_2022 = df_2022.copy()

In [27]:
def add_station_names(station_names, df, namecolumn, idcolumn):
    """Given a DataFrame df that has df[namecolumn] listing names of stations
    and df[idcolumn] listing station ID numbers, add to the dictionary
    station_names all the names that each ID is attached to.

    """
    namemaps = (
        df[[idcolumn, namecolumn]]
        .groupby(idcolumn)
        .aggregate(lambda x: x.unique())
    )
    for number, names in namemaps.iterrows():
        current_names = station_names.get(number, set())
        # The following two lines are a stupid dance around the annoying fact
        # that pd.unique sometimes returns a single value, sometimes a numpy
        # array of values, but since the single value is a string, it too is an
        # iterable.
        vals = names[0]
        new_names = set([vals]) if type(vals) == str else set(vals)
        current_names.update(new_names)
        station_names[number] = current_names

In [28]:
def clean_datetime_column(df, colname, roundto="H"):
    """Parse df[colname] from strings to datetime objects, and round the times
    to the nearest hour. 
    """

    format = "%d/%m/%Y %H:%M"
    df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
    df.loc[:, colname] = df[colname].dt.round(roundto)

    return df

In [29]:
def compute_single_events(df, which):
    """Read from df all the events, either departures or arrivals depending on
    whether `which` is "Start" or "End", and collect them in a DataFrame that
    lists event counts per station and time.
    """
    stationcol = "{}Station Id".format(which)
    datecol = "{} Date".format(which)
    events = (
        df.rename(columns={stationcol: "Station", datecol: "Date"})
        .groupby(["Date", "Station"])
        .size()
        .unstack("Station")
    )
    return events

In [30]:
def compute_both_events(df):
    """Read from df all the events, both arrivals and departures, and collect
    them in a DataFrame that lists event counts per station and time.
    """
    arrivals = compute_single_events(df, "End")
    departures = compute_single_events(df, "Start")
    both = (
        pd.concat(
            [arrivals, departures], keys=["Arrivals", "Departures"], axis=1
        )
        .reorder_levels([1, 0], axis=1)
        .fillna(0.0)
    )
    return both

In [31]:
station_allnames = {}
add_station_names(station_allnames, bike_data_2019, "EndStation Name", "EndStation Id")
add_station_names(station_allnames, bike_data_2019, "StartStation Name", "StartStation Id")

In [32]:
station_allnames_newdic = {key: value.pop() for key, value in station_allnames.items()}

print(station_allnames_newdic)

{1: 'River Street , Clerkenwell', 2: 'Phillimore Gardens, Kensington', 3: 'Christopher Street, Liverpool Street', 4: "St. Chad's Street, King's Cross", 5: 'Sedding Street, Sloane Square', 6: 'Broadcasting House, Marylebone', 7: "Charlbert Street, St. John's Wood", 8: 'Maida Vale, Maida Vale', 9: 'New Globe Walk, Bankside', 10: 'Park Street, Bankside', 11: 'Brunswick Square, Bloomsbury', 12: 'Malet Street, Bloomsbury', 13: 'Scala Street, Fitzrovia', 14: "Belgrove Street , King's Cross", 15: 'Great Russell Street, Bloomsbury', 16: 'Cartwright Gardens , Bloomsbury', 17: 'Hatton Wall, Holborn', 18: 'Drury Lane, Covent Garden', 19: 'Taviton Street, Bloomsbury', 20: 'Drummond Street , Euston', 21: 'Hampstead Road (Cartmel), Euston', 22: 'Northington Street , Holborn', 23: 'Red Lion Square, Holborn', 24: 'British Museum, Bloomsbury', 25: 'Doric Way , Somers Town', 26: 'Ampton Street , Clerkenwell', 27: 'Bouverie Street, Temple', 28: 'Bolsover Street, Fitzrovia', 29: 'Hereford Road, Bayswater', 30: 'Windsor Terrace, Hoxton', 31: 'Fanshaw Street, Hoxton', 32: 'Leonard Circus , Shoreditch', 33: 'Central House, Aldgate', 34: "Pancras Road, King's Cross", 36: 'De Vere Gardens, Kensington', 37: "Penywern Road, Earl's Court", 38: 'Abingdon Villas, Kensington', 39: 'Shoreditch High Street, Shoreditch', 40: 'Commercial Street, Shoreditch', 41: 'Pindar Street, Liverpool Street', 42: 'Wenlock Road , Hoxton', 43: 'Crawford Street, Marylebone', 44: 'Bruton Street, Mayfair', 45: 'Boston Place, Marylebone', 46: 'Nesham Street, Wapping', 47: 'Warwick Avenue Station, Maida Vale', 48: "Godliman Street, St. Paul's", 49: 'Curzon Street, Mayfair', 50: 'East Road, Hoxton', 51: 'Finsbury Library , Finsbury', 52: "Roscoe Street, St. Luke's", 53: 'Grafton Street, Mayfair', 54: 'Golden Lane, Barbican', 55: 'Finsbury Circus, Liverpool Street', 56: 'Paddington Street, Marylebone', 57: 'Guilford Street , Bloomsbury', 58: 'New Inn Yard, Shoreditch', 60: "Lisson Grove, St. John's Wood", 61: 'Great Dover Street, The Borough', 62: 'Cotton Garden Estate, Kennington', 63: 'Murray Grove , Hoxton', 64: 'William IV Street, Strand', 65: 'Gower Place , Euston', 66: 'Holborn Circus, Holborn', 67: 'Hatton Garden, Holborn', 68: "Theobald's Road , Holborn", 69: 'Euston Road, Euston', 70: "Calshot Street , King's Cross", 71: "Newgate Street , St. Paul's", 72: 'Farringdon Lane, Clerkenwell', 73: "Old Street Station, St. Luke's", 74: 'Vauxhall Cross, Vauxhall', 75: 'Torrens Street, Angel', 76: "Longford Street, The Regent's Park", 77: 'Russell Square Station, Bloomsbury', 78: 'Sadlers Sports Centre, Finsbury', 79: 'Arundel Street, Temple', 80: 'Webber Street , Southwark', 81: 'Great Titchfield Street, Fitzrovia', 82: 'Chancery Lane, Holborn', 83: 'Panton Street, West End', 84: 'Breams Buildings, Holborn', 85: 'Tanner Street, Bermondsey', 86: 'Sancroft Street, Vauxhall', 87: 'Devonshire Square, Liverpool Street', 88: 'Bayley Street , Bloomsbury', 89: 'Tavistock Place, Bloomsbury', 90: 'Harrington Square 1, Camden Town', 91: 'Walnut Tree Walk, Vauxhall', 92: 'Borough Road, Elephant & Castle', 93: 'Cloudesley Road, Angel', 94: 'Bricklayers Arms, Borough', 95: 'Aldersgate Street, Barbican', 96: 'Falkirk Street, Hoxton', 97: 'Gloucester Road (North), Kensington', 98: 'Hampstead Road, Euston', 99: 'Old Quebec Street, Marylebone', 100: 'Albert Embankment, Vauxhall', 101: 'Queen Street 1, Bank', 102: 'Jewry Street, Aldgate', 103: 'Vicarage Gate, Kensington', 104: 'Crosswall, Tower', 105: 'Westbourne Grove, Bayswater', 106: 'Woodstock Street, Mayfair', 107: "Finsbury Leisure Centre, St. Luke's", 108: 'Abbey Orchard Street, Westminster', 109: 'Soho Square , Soho', 110: "Wellington Road, St. John's Wood", 111: 'Park Lane , Hyde Park', 112: 'Stonecutter Street, Holborn', 113: 'Gloucester Road (Central), South Kensington', 114: "Park Road (Baker Street), The Regent's Park", 115: 'Braham Street, Aldgate', 116: 'Little Argyll Street, West End', 117: 'Lollard Street, Vauxhall', 118: 'Rochester Row, Westminster', 119: "Bath Street, St. Luke's", 120: 'The Guildhall, Guildhall', 121: 'Baker Street, Marylebone', 122: 'Norton Folgate, Liverpool Street', 123: 'St. John Street, Finsbury', 124: 'Eaton Square, Belgravia', 125: 'Borough High Street, The Borough', 126: 'Museum of London, Barbican', 127: 'Wood Street, Guildhall', 128: "Emperor's Gate, South Kensington", 129: 'Golden Square, Soho', 130: 'Tower Gardens , Tower', 131: 'Eversholt Street , Camden Town', 132: 'Bethnal Green Road, Shoreditch', 133: 'Derry Street, Kensington', 134: 'Wapping High Street, Wapping', 135: 'Clerkenwell Green, Clerkenwell', 136: "Queen Victoria Street, St. Paul's", 138: 'Green Street, Mayfair', 139: 'Lambeth Road, Vauxhall', 140: 'Finsbury Square , Moorgate', 141: 'Chapel Place, Marylebone', 142: "West Cromwell Road, Earl's Court", 143: 'Pont Street, Knightsbridge', 144: 'Kennington Cross, Kennington', 145: 'Ilchester Place, Kensington', 146: 'Vauxhall Bridge , Pimlico', 148: 'Tachbrook Street, Victoria', 149: 'Kennington Road Post Office, Oval', 150: 'Holy Trinity Brompton, Knightsbridge', 151: 'Chepstow Villas, Notting Hill', 152: 'Hampton Street, Walworth', 153: 'Bayswater Road, Hyde Park', 154: 'Waterloo Station 3, Waterloo', 155: 'Lexham Gardens, Kensington', 156: 'New Kent Road, The Borough', 157: "Wright's Lane, Kensington", 158: "Trebovir Road, Earl's Court", 159: 'Great Marlborough Street, Soho', 160: "Waterloo Place, St. James's", 161: 'Guildhouse Street, Victoria', 162: 'Southampton Place, Holborn', 163: 'Sloane Avenue, Knightsbridge', 164: 'Cleveland Gardens, Bayswater', 165: 'Orsett Terrace, Bayswater', 166: 'Seville Street, Knightsbridge', 167: 'Eccleston Place, Victoria', 168: 'Argyll Road, Kensington', 169: 'Porchester Place, Paddington', 170: 'Hardwick Street, Clerkenwell', 171: "Collingham Gardens, Earl's Court", 172: 'Sumner Place, South Kensington', 173: 'Waterloo Road, South Bank', 174: 'Strand, Strand', 175: 'Worship Street, Shoreditch', 176: 'Gloucester Terrace, Bayswater', 177: 'Ashley Place, Victoria', 178: 'Warwick Square, Pimlico', 180: 'North Audley Street, Mayfair', 181: 'Belgrave Square, Belgravia', 182: 'Bell Street , Marylebone', 183: 'Riverlight North, Nine Elms', 184: 'Portland Place, Marylebone', 185: 'Alderney Street, Pimlico', 186: 'South Wharf Road, Paddington', 187: "Queen's Gate (South), South Kensington", 188: 'Nutford Place, Marylebone', 189: 'Claremont Square, Angel', 190: 'Rampayne Street, Pimlico', 191: 'Hyde Park Corner, Hyde Park', 192: 'Wardour Street, Soho', 193: 'Bankside Mix, Bankside', 194: 'Hop Exchange, The Borough', 195: 'Milroy Walk, South Bank', 196: 'Union Street, The Borough', 197: 'Stamford Street, South Bank', 199: 'Great Tower Street, Monument', 200: 'LMU Commercial Road, Whitechapel', 201: 'Dorset Square, Marylebone', 202: 'Leman Street, Aldgate', 203: 'West Smithfield Rotunda, Farringdon', 204: 'Margery Street, Clerkenwell', 206: 'New Road 1 , Whitechapel', 207: 'Grosvenor Crescent, Belgravia', 208: 'Mallory Street, Marylebone', 209: 'Denyer Street, Knightsbridge', 210: 'Hinde Street, Marylebone', 211: 'Cadogan Place, Knightsbridge', 212: 'Campden Hill Road, Notting Hill', 213: 'Wellington Arch, Hyde Park', 214: 'Endsleigh Gardens, Euston', 215: 'Moorfields, Moorgate', 216: 'Old Brompton Road, South Kensington', 217: 'Wormwood Street, Liverpool Street', 218: "St. Luke's Church, Chelsea", 219: "Bramham Gardens, Earl's Court", 220: 'Chelsea Green, Chelsea', 221: 'Horseferry Road, Westminster', 222: 'Knightsbridge, Hyde Park', 223: 'Rodney Road , Walworth', 224: 'Queensway, Westminster', 225: 'Notting Hill Gate Station, Notting Hill', 226: 'Charles II Street, West End', 227: 'Great Percy Street, Clerkenwell', 228: "St. James's Square, St. James's", 229: 'Whitehall Place, Strand', 230: 'Poured Lines, Bankside', 231: "Queen's Gate (Central), South Kensington", 232: 'Carey Street, Holborn', 233: 'Pall Mall East, West End', 234: 'Liverpool Road (N1 Centre), Angel', 235: 'Kennington Road  , Vauxhall', 236: 'Fashion Street, Whitechapel', 237: 'Dock Street, Wapping', 238: 'Frampton Street, Paddington', 239: 'Warren Street Station, Euston', 240: 'Colombo Street, Southwark', 242: 'Beaumont Street, Marylebone', 243: 'Gloucester Street, Pimlico', 244: 'Earnshaw Street , Covent Garden', 245: 'Grosvenor Road, Pimlico', 246: 'Berry Street, Clerkenwell', 247: "St. John's Wood Church, The Regent's Park", 248: 'Triangle Car Park, Hyde Park', 249: 'Harper Road, The Borough', 250: 'Royal Avenue 1, Chelsea', 251: 'Brushfield Street, Liverpool Street', 252: 'Jubilee Gardens, South Bank', 253: 'Shoreditch Park, Hoxton', 254: 'Chadwell Street, Angel', 255: 'Clifton Road, Maida Vale', 256: 'Houghton Street, Strand', 257: 'Westminster University, Marylebone', 258: 'Kensington Gore, Knightsbridge', 259: 'Bourne Street, Belgravia', 260: 'Broadwick Street, Soho', 261: 'Princes Square, Bayswater', 262: 'LSBU (Borough Road), Elephant & Castle', 263: 'St. Mary Axe, Aldgate', 264: 'Tysoe Street, Clerkenwell', 265: 'Southwick Street, Paddington', 266: "Queen's Gate (North), Kensington", 267: 'Regency Street, Westminster', 268: 'Belgrave Road, Victoria', 269: 'Empire Square, The Borough', 270: 'Kennington Lane Rail Bridge, Vauxhall', 271: "London Zoo,  The Regent's Park", 272: 'Baylis Road, Waterloo', 273: 'Belvedere Road 1, South Bank', 274: 'Warwick Road, Olympia', 275: 'Barbican Centre, Barbican', 276: 'Lower Thames Street, Monument', 277: 'Kensington Church Street, Kensington', 278: 'Tooley Street, Bermondsey', 279: 'North Wharf Road, Paddington', 280: 'Royal Avenue 2, Chelsea', 281: 'Smith Square, Westminster', 282: 'Royal London Hospital, Whitechapel', 283: 'Kingsway, Covent Garden', 284: 'Lambeth North Station, Waterloo', 286: "St. John's Wood Road, St. John's Wood", 287: 'Bedford Way, Bloomsbury', 288: 'Elizabeth Bridge, Victoria', 289: 'South Audley Street, Mayfair', 290: 'Winsland Street, Paddington', 291: 'Claverton Street, Pimlico', 292: 'Montpelier Street, Knightsbridge', 293: 'Kensington Olympia Station, Olympia', 294: "St. George's Square, Pimlico", 295: 'Swan Street, The Borough', 296: "Knaresborough Place, Earl's Court", 297: 'Geraldine Street, Elephant & Castle', 298: 'Curlew Street, Shad Thames', 299: 'Vincent Square, Westminster', 300: 'Serpentine Car Park, Hyde Park', 301: 'Marylebone Lane, Marylebone', 302: 'Putney Pier, Wandsworth', 303: 'Albert Gate, Hyde Park', 305: 'Kennington Lane Tesco, Vauxhall', 306: 'Rathbone Street, Fitzrovia', 307: 'Black Lion Gate, Kensington Gardens', 308: 'Long Lane , Bermondsey', 309: 'Embankment (Savoy), Strand', 310: 'Black Prince Road, Vauxhall', 311: 'Foley Street, Fitzrovia', 312: "Grove End Road, St. John's Wood", 313: 'Wells Street, Fitzrovia', 314: 'Tyers Gate, Bermondsey', 315: "The Tennis Courts, The Regent's Park", 316: 'Warwick Row, Westminster', 317: 'Dickens Square, Borough', 318: 'Sackville Street, Mayfair', 319: "Baldwin Street, St. Luke's", 320: 'Queen Mother Sports Centre, Victoria', 321: 'Bermondsey Street, Bermondsey', 322: 'Palissy Street, Shoreditch', 323: 'Clifton Street, Shoreditch', 324: 'Ontario Street, Elephant & Castle', 325: "St. Martin's Street, West End", 326: 'Graham Street, Angel', 327: 'New North Road 1, Hoxton', 328: 'New North Road 2, Hoxton', 329: "Prince Albert Road, The Regent's Park", 330: 'Eastbourne Mews, Paddington', 331: 'Bunhill Row, Moorgate', 332: "Nevern Place, Earl's Court", 333: 'Palace Gardens Terrace, Notting Hill', 334: 'Concert Hall Approach 1, South Bank', 335: 'Tavistock Street, Covent Garden', 336: 'Concert Hall Approach 2, South Bank', 337: 'Pembridge Villas, Notting Hill', 338: 'Wellington Street , Strand', 339: 'Risinghill Street, Angel', 340: 'Bank of England Museum, Bank', 341: 'Craven Street, Strand', 343: "London Zoo Car Park, The Regent's Park", 344: 'Goswell Road (City Uni), Finsbury', 345: 'Flood Street, Chelsea', 347: 'Lower Marsh, Waterloo', 348: 'Grosvenor Square, Mayfair', 349: 'St. George Street, Mayfair', 350: "Queen's Gate, Kensington Gardens", 351: 'Macclesfield Rd, St Lukes', 352: 'Vauxhall Street, Vauxhall', 353: 'Greycoat Street , Westminster', 354: 'Northumberland Avenue, Strand', 355: 'Oval Way, Vauxhall', 356: 'South Kensington Station, South Kensington', 357: 'Howland Street, Fitzrovia', 358: 'High Holborn , Covent Garden', 359: 'Butler Place, Westminster', 360: 'Howick Place, Westminster', 361: 'Waterloo Station 2, Waterloo', 362: 'Royal College Street, Camden Town', 363: "Lord's, St. John's Wood", 364: 'Alfred Place, Bloomsbury', 365: 'City Road, Angel', 366: 'Millennium Hotel, Mayfair', 367: 'Harrowby Street, Marylebone', 368: 'Harriet Street, Knightsbridge', 370: 'Paddington Green, Paddington', 371: 'King Edward Walk, Waterloo', 372: 'Sardinia Street, Holborn', 373: 'Prince Consort Road, Knightsbridge', 374: 'Waterloo Station 1, Waterloo', 375: 'Kensington Town Hall, Kensington', 376: 'Millbank Tower, Pimlico', 377: 'Waterloo Bridge, South Bank', 378: 'Natural History Museum, South Kensington', 379: 'Turquoise Island, Notting Hill', 380: 'Stanhope Gate, Mayfair', 381: 'Charlotte Street, Fitzrovia', 382: 'Farm Street, Mayfair', 383: 'Frith Street, Soho', 384: 'Marloes Road, Kensington', 386: 'Moor Street, Soho', 387: 'Fire Brigade Pier, Vauxhall', 388: 'Southampton Street, Strand', 389: 'Upper Grosvenor Street, Mayfair', 390: 'Buxton Street 1, Shoreditch', 392: 'Imperial College, Knightsbridge', 393: 'Snow Hill, Farringdon', 394: "Aberdeen Place, St. John's Wood", 395: 'Cadogan Gardens, Chelsea', 396: 'Shouldham Street, Marylebone', 397: 'Devonshire Terrace, Bayswater', 398: 'Holland Park, Kensington', 399: 'Brick Lane Market, Shoreditch', 400: 'George Street, Marylebone', 401: 'Columbia Road, Shoreditch', 402: 'Penfold Street, Marylebone', 403: 'George Place Mews, Marylebone', 404: 'Palace Gate, Kensington Gardens', 405: 'Gloucester Road Station, South Kensington', 408: 'Paddington Green Police Station, Paddington', 409: 'Strata, Elephant & Castle', 410: 'Edgware Road Station, Marylebone', 411: 'Walworth Road, Elephant & Castle', 412: 'Cleaver Street, Kennington', 419: 'Chelsea Bridge, Pimlico', 420: 'Southwark Station 1, Southwark', 421: 'Southwark Station 2, Southwark', 423: 'Eaton Square (South), Belgravia', 424: 'Ebury Bridge, Pimlico', 425: 'Harrington Square 2, Camden Town', 426: 'Vincent Street, Pimlico', 427: 'Cheapside, Bank', 428: 'Exhibition Road, Knightsbridge', 430: 'South Parade, Chelsea', 431: "Crinan Street, King's Cross", 432: 'Exhibition Road Museums, South Kensington', 433: 'Wren Street, Holborn', 435: 'Kennington Station, Kennington', 436: 'Red Lion Street, Holborn', 437: 'Vauxhall Walk, Vauxhall', 439: "Killick Street, King's Cross", 440: 'Kennington Oval, Oval', 441: 'Sail Street, Vauxhall', 442: 'Walmer Road, Avondale', 443: 'Philpot Street, Whitechapel', 444: 'Bethnal Green Garden, Bethnal Green', 445: 'Cheshire Street, Bethnal Green', 446: 'York Hall, Bethnal Green', 447: 'Jubilee Crescent, Cubitt Town', 448: "Fisherman's Walk West, Canary Wharf", 449: 'Shadwell Station, Shadwell', 450: 'Jubilee Street, Stepney', 451: 'Hermitage Court, Wapping', 452: "St. Katharine's Way, Tower", 453: 'Garnet Street, Shadwell', 454: 'Napier Avenue, Millwall', 455: 'East Ferry Road, Cubitt Town', 456: 'Parkway, Camden Town', 457: 'Castlehaven Road, Camden Town', 458: 'Wapping Lane, Wapping', 459: 'Gunmakers Lane, Old Ford', 460: 'Burdett Road, Mile End', 461: 'Aston Street, Stepney', 462: 'Bonny Street, Camden Town', 463: 'Thurtle road, Haggerston', 464: 'St. Mary & St. Michael Church, Stepney', 465: 'Pitfield Street North,Hoxton', 466: 'Whiston Road, Haggerston', 467: 'Southern Grove, Bow', 468: 'Cantrell Road, Bow', 469: 'Lindfield Street, Poplar', 470: 'Mostyn Grove, Bow', 471: 'Hewison Street, Old Ford', 472: 'Malmesbury Road, Bow', 473: 'Millharbour, Millwall', 474: 'Castalia Square, Cubitt Town', 475: 'Lightermans Road, Millwall', 476: 'Stebondale Street, Cubitt Town', 477: 'Spindrift Avenue, Millwall', 478: 'Stepney Green Station, Stepney', 479: 'Pott Street, Bethnal Green', 480: 'Flamborough Street, Limehouse', 481: 'Saunders Ness Road, Cubitt Town', 483: 'Albert Gardens, Stepney', 484: 'Bromley High Street, Bow', 485: 'Old Ford Road, Bethnal Green', 486: 'Granby Street, Shoreditch', 487: 'Canton Street, Poplar', 488: 'Reardon Street, Wapping', 489: 'Christian Street, Whitechapel', 490: 'Pennington Street, Wapping', 491: "Queen Mary's, Mile End", 492: 'The Green Bridge, Mile End', 494: 'South Quay East, Canary Wharf', 495: 'Bow Church Station, Bow', 496: 'Devons Road, Bow', 497: 'Merchant Street, Bow', 498: 'Bow Road Station, Bow', 499: 'Furze Green, Bow', 500: 'Ansell House, Stepney', 501: 'Cephas Street, Bethnal Green', 502: 'Bonner Gate, Victoria Park', 503: 'Cleveland Way, Stepney', 504: "St. John's Park, Cubitt Town", 505: 'Ackroyd Drive, Bow', 506: 'Bell Lane, Liverpool Street', 507: 'Clarkson Street, Bethnal Green', 508: 'Fournier Street, Whitechapel', 509: 'Fore Street, Guildhall', 510: 'Westferry DLR, Limehouse', 511: 'Sutton Street, Shadwell', 512: "Pritchard's Road, Bethnal Green", 513: 'Watney Market, Stepney', 514: 'Portman Square, Marylebone', 515: 'Russell Gardens, Olympia', 516: 'Chrisp Street Market, Poplar', 517: 'Ford Road, Old Ford', 518: 'Antill Road, Mile End', 519: 'Teviot Street, Poplar', 520: 'Bancroft Road, Bethnal Green', 521: 'Driffield Road, Old Ford', 522: 'Clinton Road, Mile End', 523: 'Langdon Park, Poplar', 524: 'Lancaster Gate , Bayswater', 526: 'Lancaster Drive, Blackwall', 527: 'Hansard Mews, Holland Park', 528: 'Clarges Street, Mayfair', 529: 'Manresa Road, Chelsea', 530: 'Newby Place, Poplar', 531: 'Twig Folly Bridge, Mile End', 532: 'Jubilee Plaza, Canary Wharf', 533: 'Wellington Row, Bethnal Green', 534: "Goldsmith's Row, Haggerston", 535: 'Gloucester Avenue, Camden Town', 536: 'Queensbridge Road, Haggerston', 537: 'Old Montague Street, Whitechapel', 538: 'Naval Row, Blackwall', 539: 'Hoxton Station, Hoxton', 540: "Albany Street, The Regent's Park", 541: 'Green Park Station, Mayfair', 542: 'Salmon Lane, Limehouse', 543: 'Lansdowne Walk, Ladbroke Grove', 544: 'Percival Street, Finsbury', 545: 'Arlington Road, Camden Town', 546: 'New Fetter Lane, Holborn', 547: 'East India DLR, Blackwall', 548: 'Westminster Bridge Road, Elephant & Castle', 549: 'Gaywood  Street, Elephant & Castle', 550: 'Harford Street, Mile End', 551: 'Import Dock, Canary Wharf', 552: 'Watney Street, Shadwell', 553: "Regent's Row , Haggerston ", 554: 'Aberfeldy Street, Poplar', 556: 'Heron Quays DLR, Canary Wharf', 557: 'King Edward Street, St Pauls', 558: 'Page Street, Westminster', 559: 'Abbotsbury Road, Holland Park', 560: 'Ladbroke Grove Central, Ladbroke Grove', 561: 'Rectory Square, Stepney', 562: 'Bury Place, Holborn', 563: "Preston's Road, Cubitt Town", 564: 'Somerset House, Strand', 565: 'Selby Street, Whitechapel', 566: 'Westfield Ariel Way, White City', 568: "Bishop's Bridge Road West, Bayswater", 569: 'Pitfield Street Central, Hoxton', 570: 'Upper Bank Street, Canary Wharf', 571: "Westfield Southern Terrace ,Shepherd's Bush", 572: 'Greenland Road, Camden Town', 573: 'Limerston Street, West Chelsea', 574: 'Eagle Wharf Road, Hoxton', 576: 'Alpha Grove, Millwall', 577: 'Globe Town Market, Bethnal Green', 578: 'Hollybush Gardens, Bethnal Green', 579: 'Queen Street 2, Bank', 580: 'Doddington Grove, Kennington', 581: 'New Cavendish Street, Marylebone', 583: 'Abingdon Green, Westminster', 584: 'Ilchester Gardens, Bayswater', 586: 'Mudchute DLR, Cubitt Town', 587: 'Monument Street, Monument', 588: 'Hoxton Street, Hoxton', 589: 'Drayton Gardens, West Chelsea', 590: "Greenberry Street, St.John's Wood", 591: "Westfield Library Corner, Shepherd's Bush", 592: "Bishop's Bridge Road East, Bayswater", 593: "Northdown Street, King's Cross", 594: 'Kingsway Southbound, Strand', 595: 'Hammersmith Road, Hammersmith', 596: "Parson's Green , Parson's Green", 597: 'Fulham Park Road, Fulham', 598: 'Southerton Road, Hammersmith', 599: 'M

In [34]:
#clean start and end dates
bd_data_2019_clean1 = clean_datetime_column(bike_data_2019, "Start Date", roundto="H")
bd_data_2019_clean2 = clean_datetime_column(bd_data_2019_clean1, "End Date", roundto="H")

C:\Users\EMoses\AppData\Local\Temp\ipykernel_13104\2479039630.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_13104\2479039630.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_13104\2479039630.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_13104\2479039630.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)

In [35]:
#clean start and end dates
bd_data_2022_clean1 = clean_datetime_column(bike_data_2022, "Start Date", roundto="H")
bd_data_2022_clean2 = clean_datetime_column(bd_data_2022_clean1, "End Date", roundto="H")

C:\Users\EMoses\AppData\Local\Temp\ipykernel_13104\2479039630.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_13104\2479039630.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_13104\2479039630.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_13104\2479039630.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)

In [36]:
bd_data_2022_clean2.sort_values(by="End Date")

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
11123282,115945099.0,360.000,20324.0,2022-01-01 00:00:00,534.0,"Goldsmith's Row, Haggerston",2022-01-01 00:00:00,39.0,"Shoreditch High Street, Shoreditch",None,None,None,0,5
11121393,115944779.0,720.000,12755.0,2022-01-01 00:00:00,85.0,"Tanner Street, Bermondsey",2022-01-01 00:00:00,94.0,"Bricklayers Arms, Borough",None,None,None,0,5
11124421,115944964.0,660.000,15153.0,2022-01-01 00:00:00,92.0,"Borough Road, Elephant & Castle",2022-01-01 00:00:00,374.0,"Waterloo Station 1, Waterloo",None,None,None,0,5
11147821,115944839.0,1140.000,16272.0,2022-01-01 00:00:00,270.0,"Kennington Lane Rail Bridge, Vauxhall",2022-01-01 00:00:00,146.0,"Vauxhall Bridge , Pimlico",None,None,None,0,5
11161863,115945153.0,240.000,16428.0,2022-01-01 00:00:00,178.0,"Warwick Square, Pimlico",2022-01-01 00:00:00,245.0,"Grosvenor Road, Pimlico",None,None,None,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10086228,126746579.0,5397866.849,57670.0,2023-01-13 15:00:00,NaN,"Risinghill Street, Angel",2022-11-12 04:00:00,NaN,"Royal London Hospital, Whitechapel",1077,1127,CLASSIC,3,5
10394846,126795788.0,5239361.348,51936.0,2023-01-13 17:00:00,NaN,"Maplin Street, Mile End",2022-11-14 02:00:00,NaN,"Frith Street, Soho",2660,200230,CLASSIC,1,0
11055211,127691417.0,1106370.037,22970.0,2023-01-13 18:00:00,NaN,Mechanical Workshop Clapham,2022-12-31 23:00:00,NaN,"Knightsbridge, Hyde Park",1101,22168,CLASSIC,23,5
11044044,127553278.0,2399898.044,58786.0,2023-01-16 13:00:00,NaN,"Clinton Road, Mile End",2022-12-19 19:00:00,NaN,"Bayley Street , Bloomsbury",1006,200161,CLASSIC,18,0
10059785,126774197.0,5641531.917,60353.0,2023-01-17 08:00:00,NaN,"West Smithfield Rotunda, Farringdon",2022-11-13 01:00:00,NaN,"Westbourne Park Road, Portobello",300057,1040,PBSC_EBIKE,1,6

In [37]:
events_data_2019 = compute_both_events(bd_data_2019_clean2)

In [38]:
# Finally rename the columns according to the chosen names for stations.
events_2019 = events_data_2019.rename(mapper=station_allnames_newdic, axis=1, level=0)
events_2019 = events_2019.sort_index(axis=1, level=0)

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Start Date Time,Hour,Day
0,83262236,540,6571,2019-01-01 13:00:00,783,"Monier Road, Hackney Wick",2019-01-01 13:00:00,812,"Here East North, Queen Elizabeth Olympic Park",2019-01-01 13:04:00,13,1
1,83259622,480,13179,2019-01-01 09:00:00,719,"Victoria Park Road, Hackney Central",2019-01-01 09:00:00,722,"Finnis Street, Bethnal Green",2019-01-01 08:37:00,8,1
2,83266845,660,3667,2019-01-01 17:00:00,79,"Arundel Street, Temple",2019-01-01 16:00:00,230,"Poured Lines, Bankside",2019-01-01 16:29:00,16,1
3,83268124,540,8565,2019-01-01 18:00:00,819,"Belvedere Road 2, South Bank",2019-01-01 18:00:00,230,"Poured Lines, Bankside",2019-01-01 18:10:00,18,1
4,83265146,660,5572,2019-01-01 15:00:00,334,"Concert Hall Approach 1, South Bank",2019-01-01 15:00:00,230,"Poured Lines, Bankside",2019-01-01 15:14:00,15,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10310058,93988500,1200,8454,2019-12-31 14:00:00,216,"Old Brompton Road, South Kensington",2019-12-31 14:00:00,303,"Albert Gate, Hyde Park",2019-12-31 13:47:00,13,1
10310059,93973049,3960,11780,2019-12-30 15:00:00,303,"Albert Gate, Hyde Park",2019-12-30 14:00:00,303,"Albert Gate, Hyde Park",2019-12-30 13:50:00,13,0
10310060,93989586,2820,2080,2019-12-31 16:00:00,303,"Albert Gate, Hyde Park",2019-12-31 15:00:00,303,"Albert Gate, Hyde Park",2019-12-31 14:53:00,14,1
10310061,93969138,840,4499,2019-12-30 11:00:00,99,"Old Quebec Street, Marylebone",2019-12-30 11:00:00,303,"Albert Gate, Hyde Park",2019-12-30 10:47:00,10,0
10310062,93974189,2040,2603,2019-12-30 15:00:00,348,"Grosvenor Square, Mayfair",2019-12-30 15:00:00,303,"Albert Gate, Hyde Park",2019-12-30 14:34:00,14,0

Before appling the compute_both_events() function to the 2022 dataframe, lets assign Ids to all the rows with missing start and end stations ids - note, this is for all journys after September 2022

In [39]:
bd_data_2022_clean2

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
0,115964384.0,780.0,10825.0,2022-01-01 19:00:00,762.0,"Storey's Gate, Westminster",2022-01-01 19:00:00,325.0,"St. Martin's Street, West End",None,None,None,18,5
1,115966909.0,1020.0,13614.0,2022-01-01 22:00:00,259.0,"Bourne Street, Belgravia",2022-01-01 22:00:00,325.0,"St. Martin's Street, West End",None,None,None,21,5
2,115984745.0,1860.0,929.0,2022-02-02 00:00:00,462.0,"Bonny Street, Camden Town",2022-02-01 23:00:00,325.0,"St. Martin's Street, West End",None,None,None,23,1
3,115946833.0,900.0,17544.0,2022-01-01 02:00:00,815.0,"Lambeth Palace Road, Waterloo",2022-01-01 01:00:00,325.0,"St. Martin's Street, West End",None,None,None,1,5
4,115968215.0,420.0,20869.0,2022-02-01 00:00:00,751.0,"Newton Street, Covent Garden",2022-02-01 00:00:00,325.0,"St. Martin's Street, West End",None,None,None,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11166106,115953334.0,780.0,17932.0,2022-01-01 12:00:00,445.0,"Cheshire Street, Bethnal Green",2022-01-01 12:00:00,445.0,"Cheshire Street, Bethnal Green",None,None,None,11,5
11166107,116018337.0,1140.0,10440.0,2022-04-01 20:00:00,471.0,"Hewison Street, Old Ford",2022-04-01 20:00:00,445.0,"Cheshire Street, Bethnal Green",None,None,None,20,4
11166108,116011360.0,240.0,21413.0,2022-04-01 15:00:00,534.0,"Goldsmith's Row, Haggerston",2022-04-01 15:00:00,445.0,"Cheshire Street, Bethnal Green",None,None,None,14,4
11166109,115989148.0,1260.0,18210.0,2022-03-01 12:00:00,436.0,"Red Lion Street, Holborn",2022-03-01 12:00:00,445.0,"Cheshire Street, Bethnal Green",None,None,None,11,1
11166110,116015590.0,1140.0,12058.0,2022-04-01 18:00:00,789.0,"Podium, Queen Elizabeth Olympic Park",2022-04-01 18:00:00,445.0,"Cheshire Street, Bethnal Green",None,None,None,18,4

In [40]:
# new dictionary with switched keys and values
switched_dict = {value: key for key, value in station_allnames_newdic.items()}

In [42]:
# let's assign station ids if it exist in our dictionary 

#sorting start station Ids first
bd_data_2022_clean3 = bd_data_2022_clean2.copy()
for index, row in bd_data_2022_clean3.iterrows():
    if pd.isnull(row['StartStation Id']) and row['StartStation Name'] in switched_dict:
        bd_data_2022_clean3.at[index, 'StartStation Id'] = switched_dict[row['StartStation Name']]

In [43]:
bd_data_2022_clean3.isnull().sum()

Rental Id                  0
Duration                   0
Bike Id                    0
End Date                   0
EndStation Id        2857164
EndStation Name            0
Start Date                 0
StartStation Id       106649
StartStation Name          0
SS Terminal Name     8621091
ES Terminal Name     8621091
Bike model           8621091
Hour                       0
Day                        0
dtype: int64

In [44]:
# sorting end station Ids 
bd_data_2022_clean4 = bd_data_2022_clean3.copy()
for index, row in bd_data_2022_clean4.iterrows():
    if pd.isnull(row['EndStation Id']) and row['EndStation Name'] in switched_dict:
        bd_data_2022_clean4.at[index, 'EndStation Id'] = switched_dict[row['EndStation Name']]

In [45]:
bd_data_2022_clean4.isnull().sum()

Rental Id                  0
Duration                   0
Bike Id                    0
End Date                   0
EndStation Id         117635
EndStation Name            0
Start Date                 0
StartStation Id       106649
StartStation Name          0
SS Terminal Name     8621091
ES Terminal Name     8621091
Bike model           8621091
Hour                       0
Day                        0
dtype: int64

In [47]:
grouped_counts_start = bd_data_2022_clean4[bd_data_2022_clean4['StartStation Id'].isnull()].groupby('StartStation Name').size()
grouped_counts_start_df = grouped_counts_start.reset_index(name='count')
grouped_counts_start_df

                              StartStation Name  count
0                Bermondsey Station, Bermondsey   2955
1                          Blythe Road, Olympia   1922
2                      Brandon Street, Walworth   1853
3            Burgess Park Albany Road, Walworth   2947
4             Canada Water Station, Rotherhithe   3121
5                  Chicheley Street, South Bank    254
6        Clapham Common Station, Clapham Common   6070
7                     Clements Road, Bermondsey    926
8                      Clifford Street, Mayfair   1335
9             Coomer Place, West Kensington_OLD   1940
10                 Crimscott Street, Bermondsey    126
11  Exhibition Road Museums 1, South Kensington   2925
12  Exhibition Road Museums 2, South Kensington   2758
13                       Ferndale Road, Brixton   3539
14                 Gascoyne Road, Victoria Park   2664
15                         Gauden Road, Clapham   3938
16                       George Row, Bermondsey   3951
17                   Harris Academy, Bermondsey    588
18             Lansdowne Drive, Hackney Central   2492
19               London Fields, Hackney Central   6902
20                    London Street, Paddington   5943
21                      Maplin Street, Mile End   5786
22                                   One London      4
23                     Portugal Street, Holborn   1706
24                Queensway, Kensington Gardens   5182
25                    Regent's Row , Haggerston   7452
26          Rotherhithe Roundabout, Rotherhithe   2039
27         South Bermondsey Station, Bermondsey    591
28               St Mary's Hospital, Paddington   4325
29                     Store Street, Bloomsbury   3770
30                 Sun Street, Liverpool Street   4190
31                       Temple Gardens, Temple   2022
32                         The Blue, Bermondsey    442
33                 The Metropolitan, Portobello   2317
34                     Thurtle Road, Haggerston   1907
35                      Tower Wharf, Bermondsey   3819
36                Victoria Rise, Clapham Common   1948

In [48]:
grouped_counts_end = bd_data_2022_clean4[bd_data_2022_clean4['EndStation Id'].isnull()].groupby('EndStation Name').size()
grouped_counts_end_df = grouped_counts_end.reset_index(name='count')
grouped_counts_end_df

                                EndStation Name  count
0                Bermondsey Station, Bermondsey   3572
1                          Blythe Road, Olympia   2078
2                      Brandon Street, Walworth   1859
3            Burgess Park Albany Road, Walworth   2976
4             Canada Water Station, Rotherhithe   3843
5                  Chicheley Street, South Bank    291
6        Clapham Common Station, Clapham Common   6832
7                     Clements Road, Bermondsey    931
8                      Clifford Street, Mayfair   1841
9             Coomer Place, West Kensington_OLD   1915
10                 Crimscott Street, Bermondsey    112
11  Exhibition Road Museums 1, South Kensington   3561
12  Exhibition Road Museums 2, South Kensington   3329
13                       Ferndale Road, Brixton   4239
14                 Gascoyne Road, Victoria Park   3102
15                         Gauden Road, Clapham   4407
16                       George Row, Bermondsey   4324
17                   Harris Academy, Bermondsey    603
18             Lansdowne Drive, Hackney Central   2726
19               London Fields, Hackney Central   7883
20                    London Street, Paddington   5862
21                      Maplin Street, Mile End   6279
22                  Mechanical Workshop Clapham     39
23                   Mechanical Workshop Penton     37
24                                   One London      4
25                     Portugal Street, Holborn   1768
26                Queensway, Kensington Gardens   5673
27                    Regent's Row , Haggerston   7356
28          Rotherhithe Roundabout, Rotherhithe   2310
29         South Bermondsey Station, Bermondsey    629
30               St Mary's Hospital, Paddington   4594
31                     Store Street, Bloomsbury   4312
32                 Sun Street, Liverpool Street   4860
33                       Temple Gardens, Temple   2729
34                         The Blue, Bermondsey    482
35                 The Metropolitan, Portobello   2515
36                     Thurtle Road, Haggerston   1344
37                      Tower Wharf, Bermondsey   4244
38                Victoria Rise, Clapham Common   2174

there are 36 starting docking stations and 38 ending docking stations that don't have an Id through TfLs previous data recording method. The majority of these dockign station were likely added between September 2022 and 2023.
Let's add to the exsisting station name and Id dictionary to remove all the Id nulls from the 2022 dataframe

In [49]:
switched_dict_updated = switched_dict.copy()

In [50]:
# appending the docking stations that don't have an id to the end of the dictionary and assigning them an Id

for index, row in grouped_counts_start_df.iterrows():
    value = row['StartStation Name']
    if value not in switched_dict_updated:
        last_value = switched_dict_updated[max(switched_dict_updated, key=switched_dict_updated.get)] if switched_dict_updated else 0
        new_value = last_value + 1
        switched_dict_updated[value] = new_value


for index, row in grouped_counts_end_df.iterrows():
    value = row['EndStation Name']
    if value not in switched_dict_updated:
        last_value = switched_dict_updated[max(switched_dict_updated, key=switched_dict_updated.get)] if switched_dict_updated else 0
        new_value = last_value + 1
        switched_dict_updated[value] = new_value

In [51]:
switched_dict_updated

{'River Street , Clerkenwell': 1,
 'Phillimore Gardens, Kensington': 2,
 'Christopher Street, Liverpool Street': 3,
 "St. Chad's Street, King's Cross": 4,
 'Sedding Street, Sloane Square': 5,
 'Broadcasting House, Marylebone': 6,
 "Charlbert Street, St. John's Wood": 7,
 'Maida Vale, Maida Vale': 8,
 'New Globe Walk, Bankside': 9,
 'Park Street, Bankside': 10,
 'Brunswick Square, Bloomsbury': 11,
 'Malet Street, Bloomsbury': 12,
 'Scala Street, Fitzrovia': 13,
 "Belgrove Street , King's Cross": 14,
 'Great Russell Street, Bloomsbury': 15,
 'Cartwright Gardens , Bloomsbury': 16,
 'Hatton Wall, Holborn': 17,
 'Drury Lane, Covent Garden': 18,
 'Taviton Street, Bloomsbury': 19,
 'Drummond Street , Euston': 20,
 'Hampstead Road (Cartmel), Euston': 21,
 'Northington Street , Holborn': 22,
 'Red Lion Square, Holborn': 23,
 'British Museum, Bloomsbury': 24,
 'Doric Way , Somers Town': 25,
 'Ampton Street , Clerkenwell': 26,
 'Bouverie Street, Temple': 27,
 'Bolsover Street, Fitzrovia': 28,
 'Hereford Road, Bayswater': 29,
 'Windsor Terrace, Hoxton': 30,
 'Fanshaw Street, Hoxton': 31,
 'Leonard Circus , Shoreditch': 32,
 'Central House, Aldgate': 33,
 "Pancras Road, King's Cross": 34,
 'De Vere Gardens, Kensington': 36,
 "Penywern Road, Earl's Court": 37,
 'Abingdon Villas, Kensington': 38,
 'Shoreditch High Street, Shoreditch': 39,
 'Commercial Street, Shoreditch': 40,
 'Pindar Street, Liverpool Street': 41,
 'Wenlock Road , Hoxton': 42,
 'Crawford Street, Marylebone': 43,
 'Bruton Street, Mayfair': 44,
 'Boston Place, Marylebone': 45,
 'Nesham Street, Wapping': 46,
 'Warwick Avenue Station, Maida Vale': 47,
 "Godliman Street, St. Paul's": 48,
 'Curzon Street, Mayfair': 49,
 'East Road, Hoxton': 50,
 'Finsbury Library , Finsbury': 51,
 "Roscoe Street, St. Luke's": 52,
 'Grafton Street, Mayfair': 53,
 'Golden Lane, Barbican': 54,
 'Finsbury Circus, Liverpool Street': 55,
 'Paddington Street, Marylebone': 56,
 'Guilford Street , Bloomsbury': 57,
 'New Inn Yard, Shoreditch': 58,
 "Lisson Grove, St. John's Wood": 60,
 'Great Dover Street, The Borough': 61,
 'Cotton Garden Estate, Kennington': 62,
 'Murray Grove , Hoxton': 63,
 'William IV Street, Strand': 64,
 'Gower Place , Euston': 65,
 'Holborn Circus, Holborn': 66,
 'Hatton Garden, Holborn': 67,
 "Theobald's Road , Holborn": 68,
 'Euston Road, Euston': 69,
 "Calshot Street , King's Cross": 70,
 "Newgate Street , St. Paul's": 71,
 'Farringdon Lane, Clerkenwell': 72,
 "Old Street Station, St. Luke's": 73,
 'Vauxhall Cross, Vauxhall': 74,
 'Torrens Street, Angel': 75,
 "Longford Street, The Regent's Park": 76,
 'Russell Square Station, Bloomsbury': 77,
 'Sadlers Sports Centre, Finsbury': 78,
 'Arundel Street, Temple': 79,
 'Webber Street , Southwark': 80,
 'Great Titchfield Street, Fitzrovia': 81,
 'Chancery Lane, Holborn': 82,
 'Panton Street, West End': 83,
 'Breams Buildings, Holborn': 84,
 'Tanner Street, Bermondsey': 85,
 'Sancroft Street, Vauxhall': 86,
 'Devonshire Square, Liverpool Street': 87,
 'Bayley Street , Bloomsbury': 88,
 'Tavistock Place, Bloomsbury': 89,
 'Harrington Square 1, Camden Town': 90,
 'Walnut Tree Walk, Vauxhall': 91,
 'Borough Road, Elephant & Castle': 92,
 'Cloudesley Road, Angel': 93,
 'Bricklayers Arms, Borough': 94,
 'Aldersgate Street, Barbican': 95,
 'Falkirk Street, Hoxton': 96,
 'Gloucester Road (North), Kensington': 97,
 'Hampstead Road, Euston': 98,
 'Old Quebec Street, Marylebone': 99,
 'Albert Embankment, Vauxhall': 100,
 'Queen Street 1, Bank': 101,
 'Jewry Street, Aldgate': 102,
 'Vicarage Gate, Kensington': 103,
 'Crosswall, Tower': 104,
 'Westbourne Grove, Bayswater': 105,
 'Woodstock Street, Mayfair': 106,
 "Finsbury Leisure Centre, St. Luke's": 107,
 'Abbey Orchard Street, Westminster': 108,
 'Soho Square , Soho': 109,
 "Wellington Road, St. John's Wood": 110,
 'Park Lane , Hyde Park': 111,
 'Stonecutter Street, Holborn': 112,
 'Gloucester Road (Central), South Kensington': 113,
 "Park Road (Baker Street), The Regent's Park": 114,
 'Braham Street, Aldgate': 115,
 'Little Argyll Street, West End': 116,
 'Lollard Street, Vauxhall': 117,
 'Rochester Row, Westminster': 118,
 "Bath Street, St. Luke's": 119,
 'The Guildhall, Guildhall': 120,
 'Baker Street, Marylebone': 121,
 'Norton Folgate, Liverpool Street': 122,
 'St. John Street, Finsbury': 123,
 'Eaton Square, Belgravia': 124,
 'Borough High Street, The Borough': 125,
 'Museum of London, Barbican': 126,
 'Wood Street, Guildhall': 127,
 "Emperor's Gate, South Kensington": 128,
 'Golden Square, Soho': 129,
 'Tower Gardens , Tower': 130,
 'Eversholt Street , Camden Town': 131,
 'Bethnal Green Road, Shoreditch': 132,
 'Derry Street, Kensington': 133,
 'Wapping High Street, Wapping': 134,
 'Clerkenwell Green, Clerkenwell': 135,
 "Queen Victoria Street, St. Paul's": 136,
 'Green Street, Mayfair': 138,
 'Lambeth Road, Vauxhall': 139,
 'Finsbury Square , Moorgate': 140,
 'Chapel Place, Marylebone': 141,
 "West Cromwell Road, Earl's Court": 142,
 'Pont Street, Knightsbridge': 143,
 'Kennington Cross, Kennington': 144,
 'Ilchester Place, Kensington': 145,
 'Vauxhall Bridge , Pimlico': 146,
 'Tachbrook Street, Victoria': 148,
 'Kennington Road Post Office, Oval': 149,
 'Holy Trinity Brompton, Knightsbridge': 150,
 'Chepstow Villas, Notting Hill': 151,
 'Hampton Street, Walworth': 152,
 'Bayswater Road, Hyde Park': 153,
 'Waterloo Station 3, Waterloo': 154,
 'Lexham Gardens, Kensington': 155,
 'New Kent Road, The Borough': 156,
 "Wright's Lane, Kensington": 157,
 "Trebovir Road, Earl's Court": 158,
 'Great Marlborough Street, Soho': 159,
 "Waterloo Place, St. James's": 160,
 'Guildhouse Street, Victoria': 161,
 'Southampton Place, Holborn': 162,
 'Sloane Avenue, Knightsbridge': 163,
 'Cleveland Gardens, Bayswater': 164,
 'Orsett Terrace, Bayswater': 165,
 'Seville Street, Knightsbridge': 166,
 'Eccleston Place, Victoria': 167,
 'Argyll Road, Kensington': 168,
 'Porchester Place, Paddington': 169,
 'Hardwick Street, Clerkenwell': 170,
 "Collingham Gardens, Earl's Court": 171,
 'Sumner Place, South Kensington': 172,
 'Waterloo Road, South Bank': 173,
 'Strand, Strand': 174,
 'Worship Street, Shoreditch': 175,
 'Gloucester Terrace, Bayswater': 176,
 'Ashley Place, Victoria': 177,
 'Warwick Square, Pimlico': 178,
 'North Audley Street, Mayfair': 180,
 'Belgrave Square, Belgravia': 181,
 'Bell Street , Marylebone': 182,
 'Riverlight North, Nine Elms': 183,
 'Portland Place, Marylebone': 184,
 'Alderney Street, Pimlico': 185,
 'South Wharf Road, Paddington': 186,
 "Queen's Gate (South), South Kensington": 187,
 'Nutford Place, Marylebone': 188,
 'Claremont Square, Angel': 189,
 'Rampayne Street, Pimlico': 190,
 'Hyde Park Corner, Hyde Park': 191,
 'Wardour Street, Soho': 192,
 'Bankside Mix, Bankside': 193,
 'Hop Exchange, The Borough': 194,
 'Milroy Walk, South Bank': 195,
 'Union Street, The Borough': 196,
 'Stamford Street, South Bank': 197,
 'Great Tower Street, Monument': 199,
 'LMU Commercial Road, Whitechapel': 200,
 'Dorset Square, Marylebone': 201,
 'Leman Street, Aldgate': 202,
 'West Smithfield Rotunda, Farringdon': 203,
 'Margery Street, Clerkenwell': 204,
 'New Road 1 , Whitechapel': 206,
 'Grosvenor Crescent, Belgravia': 207,
 'Mallory Street, Marylebone': 208,
 'Denyer Street, Knightsbridge': 209,
 'Hinde Street, Marylebone': 210,
 'Cadogan Place, Knightsbridge': 211,
 'Campden Hill Road, Notting Hill': 212,
 'Wellington Arch, Hyde Park': 213,
 'Endsleigh Gardens, Euston': 214,
 'Moorfields, Moorgate': 215,
 'Old Brompton Road, South Kensington': 216,
 'Wormwood Street, Liverpool Street': 217,
 "St. Luke's Church, Chelsea": 218,
 "Bramham Gardens, Earl's Court": 219,
 'Chelsea Green, Chelsea': 220,
 'Horseferry Road, Westminster': 221,
 'Knightsbridge, Hyde Park': 222,
 'Rodney Road , Walworth': 223,
 'Queensway, Westminster': 224,
 'Notting Hill Gate Station, Notting Hill': 225,
 'Charles II Street, West End': 226,
 'Great Percy Street, Clerkenwell': 227,
 "St. James's Square, St. James's": 228,
 'Whitehall Place, Strand': 229,
 'Poured Lines, Bankside': 230,
 "Queen's Gate (Central), South Kensington": 231,
 'Carey Street, Holborn': 232,
 'Pall Mall East, West End': 233,
 'Liverpool Road (N1 Centre), Angel': 234,
 'Kennington Road  , Vauxhall': 235,
 'Fashion Street, Whitechapel': 236,
 'Dock Street, Wapping': 237,
 'Frampton Street, Paddington': 238,
 'Warren Street Station, Euston': 239,
 'Colombo Street, Southwark': 240,
 'Beaumont Street, Marylebone': 242,
 'Gloucester Street, Pimlico': 243,
 'Earnshaw Street , Covent Garden': 244,
 'Grosvenor Road, Pimlico': 245,
 'Berry Street, Clerkenwell': 246,
 "St. John's Wood Church, The Regent's Park": 247,
 'Triangle Car Park, Hyde Park': 248,
 'Harper Road, The Borough': 249,
 'Royal Avenue 1, Chelsea': 250,
 'Brushfield Street, Liverpool Street': 251,
 'Jubilee Gardens, South Bank': 252,
 'Shoreditch Park, Hoxton': 253,
 'Chadwell Street, Angel': 254,
 'Clifton Road, Maida Vale': 255,
 'Houghton Street, Strand': 256,
 'Westminster University, Marylebone': 257,
 'Kensington Gore, Knightsbridge': 258,
 'Bourne Street, Belgravia': 259,
 'Broadwick Street, Soho': 260,
 'Princes Square, Bayswater': 261,
 'LSBU (Borough Road), Elephant & Castle': 262,
 'St. Mary Axe, Aldgate': 263,
 'Tysoe Street, Clerkenwell': 264,
 'Southwick Street, Paddington': 265,
 "Queen's Gate (North), Kensington": 266,
 'Regency Street, Westminster': 267,
 'Belgrave Road, Victoria': 268,
 'Empire Square, The Borough': 269,
 'Kennington Lane Rail Bridge, Vauxhall': 270,
 "London Zoo,  The Regent's Park": 271,
 'Baylis Road, Waterloo': 272,
 'Belvedere Road 1, South Bank': 273,
 'Warwick Road, Olympia': 274,
 'Barbican Centre, Barbican': 275,
 'Lower Thames Street, Monument': 276,
 'Kensington Church Street, Kensington': 277,
 'Tooley Street, Bermondsey': 278,
 'North Wharf Road, Paddington': 279,
 'Royal Avenue 2, Chelsea': 280,
 'Smith Square, Westminster': 281,
 'Royal London Hospital, Whitechapel': 282,
 'Kingsway, Covent Garden': 283,
 'Lambeth North Station, Waterloo': 284,
 "St. John's Wood Road, St. John's Wood": 286,
 'Bedford Way, Bloomsbury': 287,
 'Elizabeth Bridge, Victoria': 288,
 'South Audley Street, Mayfair': 289,
 'Winsland Street, Paddington': 290,
 'Claverton Street, Pimlico': 291,
 'Montpelier Street, Knightsbridge': 292,
 'Kensington Olympia Station, Olympia': 293,
 "St. George's Square, Pimlico": 294,
 'Swan Street, The Borough': 295,
 "Knaresborough Place, Earl's Court": 296,
 'Geraldine Street, Elephant & Castle': 297,
 'Curlew Street, Shad Thames': 298,
 'Vincent Square, Westminster': 299,
 'Serpentine Car Park, Hyde Park': 300,
 'Marylebone Lane, Marylebone': 301,
 'Putney Pier, Wandsworth': 302,
 'Albert Gate, Hyde Park': 303,
 'Kennington Lane Tesco, Vauxhall': 305,
 'Rathbone Street, Fitzrovia': 306,
 'Black Lion Gate, Kensington Gardens': 307,
 'Long Lane , Bermondsey': 308,
 'Embankment (Savoy), Strand': 309,
 'Black Prince Road, Vauxhall': 310,
 'Foley Street, Fitzrovia': 311,
 "Grove End Road, St. John's Wood": 312,
 'Wells Street, Fitzrovia': 313,
 'Tyers Gate, Bermondsey': 314,
 "The Tennis Courts, The Regent's Park": 315,
 'Warwick Row, Westminster': 316,
 'Dickens Square, Borough': 317,
 'Sackville Street, Mayfair': 318,
 "Baldwin Street, St. Luke's": 319,
 'Queen Mother Sports Centre, Victoria': 320,
 'Bermondsey Street, Bermondsey': 321,
 'Palissy Street, Shoreditch': 322,
 'Clifton Street, Shoreditch': 323,
 'Ontario Street, Elephant & Castle': 324,
 "St. Martin's Street, West End": 325,
 'Graham Street, Angel': 326,
 'New North Road 1, Hoxton': 327,
 'New North Road 2, Hoxton': 328,
 "Prince Albert Road, The Regent's Park": 329,
 'Eastbourne Mews, Paddington': 330,
 'Bunhill Row, Moorgate': 331,
 "Nevern Place, Earl's Court": 332,
 'Palace Gardens Terrace, Notting Hill': 333,
 'Concert Hall Approach 1, South Bank': 334,
 'Tavistock Street, Covent Garden': 335,
 'Concert Hall Approach 2, South Bank': 336,
 'Pembridge Villas, Notting Hill': 337,
 'Wellington Street , Strand': 338,
 'Risinghill Street, Angel': 339,
 'Bank of England Museum, Bank': 340,
 'Craven Street, Strand': 341,
 "London Zoo Car Park, The Regent's Park": 343,
 'Goswell Road (City Uni), Finsbury': 344,
 'Flood Street, Chelsea': 345,
 'Lower Marsh, Waterloo': 347,
 'Grosvenor Square, Mayfair': 348,
 'St. George Street, Mayfair': 349,
 "Queen's Gate, Kensington Gardens": 350,
 'Macclesfield Rd, St Lukes': 351,
 'Vauxhall Street, Vauxhall': 352,
 'Greycoat Street , Westminster': 353,
 'Northumberland Avenue, Strand': 354,
 'Oval Way, Vauxhall': 355,
 'South Kensington Station, South Kensington': 356,
 'Howland Street, Fitzrovia': 357,
 'High Holborn , Covent Garden': 358,
 'Butler Place, Westminster': 359,
 'Howick Place, Westminster': 360,
 'Waterloo Station 2, Waterloo': 361,
 'Royal College Street, Camden Town': 362,
 "Lord's, St. John's Wood": 363,
 'Alfred Place, Bloomsbury': 364,
 'City Road, Angel': 365,
 'Millennium Hotel, Mayfair': 366,
 'Harrowby Street, Marylebone': 367,
 'Harriet Street, Knightsbridge': 368,
 'Paddington Green, Paddington': 370,
 'King Edward Walk, Waterloo': 371,
 'Sardinia Street, Holborn': 372,
 'Prince Consort Road, Knightsbridge': 373,
 'Waterloo Station 1, Waterloo': 374,
 'Kensington Town Hall, Kensington': 375,
 'Millbank Tower, Pimlico': 376,
 'Waterloo Bridge, South Bank': 377,
 'Natural History Museum, South Kensington': 378,
 'Turquoise Island, Notting Hill': 379,
 'Stanhope Gate, Mayfair': 380,
 'Charlotte Street, Fitzrovia': 381,
 'Farm Street, Mayfair': 382,
 'Frith Street, Soho': 383,
 'Marloes Road, Kensington': 384,
 'Moor Street, Soho': 386,
 'Fire Brigade Pier, Vauxhall': 387,
 'Southampton Street, Strand': 388,
 'Upper Grosvenor Street, Mayfair': 389,
 'Buxton Street 1, Shoreditch': 390,
 'Imperial College, Knightsbridge': 392,
 'Snow Hill, Farringdon': 393,
 "Aberdeen Place, St. John's Wood": 394,
 'Cadogan Gardens, Chelsea': 395,
 'Shouldham Street, Marylebone': 396,
 'Devonshire Terrace, Bayswater': 397,
 'Holland Park, Kensington': 398,
 'Brick Lane Market, Shoreditch': 399,
 'George Street, Marylebone': 400,
 'Columbia Road, Shoreditch': 401,
 'Penfold Street, Marylebone': 402,
 'George Place Mews, Marylebone': 403,
 'Palace Gate, Kensington Gardens': 404,
 'Gloucester Road Station, South Kensington': 405,
 'Paddington Green Police Station, Paddington': 408,
 'Strata, Elephant & Castle': 409,
 'Edgware Road Station, Marylebone': 410,
 'Walworth Road, Elephant & Castle': 411,
 'Cleaver Street, Kennington': 412,
 'Chelsea Bridge, Pimlico': 419,
 'Southwark Station 1, Southwark': 420,
 'Southwark Station 2, Southwark': 421,
 'Eaton Square (South), Belgravia': 423,
 'Ebury Bridge, Pimlico': 424,
 'Harrington Square 2, Camden Town': 425,
 'Vincent Street, Pimlico': 426,
 'Cheapside, Bank': 427,
 'Exhibition Road, Knightsbridge': 428,
 'South Parade, Chelsea': 430,
 "Crinan Street, King's Cross": 431,
 'Exhibition Road Museums, South Kensington': 432,
 'Wren Street, Holborn': 433,
 'Kennington Station, Kennington': 435,
 'Red Lion Street, Holborn': 436,
 'Vauxhall Walk, Vauxhall': 437,
 "Killick Street, King's Cross": 439,
 'Kennington Oval, Oval': 440,
 'Sail Street, Vauxhall': 441,
 'Walmer Road, Avondale': 442,
 'Philpot Street, Whitechapel': 443,
 'Bethnal Green Garden, Bethnal Green': 444,
 'Cheshire Street, Bethnal Green': 445,
 'York Hall, Bethnal Green': 446,
 'Jubilee Crescent, Cubitt Town': 447,
 "Fisherman's Walk West, Canary Wharf": 448,
 'Shadwell Station, Shadwell': 449,
 'Jubilee Street, Stepney': 450,
 'Hermitage Court, Wapping': 451,
 "St. Katharine's Way, Tower": 452,
 'Garnet Street, Shadwell': 453,
 'Napier Avenue, Millwall': 454,
 'East Ferry Road, Cubitt Town': 455,
 'Parkway, Camden Town': 456,
 'Castlehaven Road, Camden Town': 457,
 'Wapping Lane, Wapping': 458,
 'Gunmakers Lane, Old Ford': 459,
 'Burdett Road, Mile End': 460,
 'Aston Street, Stepney': 461,
 'Bonny Street, Camden Town': 462,
 'Thurtle road, Haggerston': 463,
 'St. Mary & St. Michael Church, Stepney': 464,
 'Pitfield Street North,Hoxton': 465,
 'Whiston Road, Haggerston': 466,
 'Southern Grove, Bow': 467,
 'Cantrell Road, Bow': 468,
 'Lindfield Street, Poplar': 469,
 'Mostyn Grove, Bow': 470,
 'Hewison Street, Old Ford': 471,
 'Malmesbury Road, Bow': 472,
 'Millharbour, Millwall': 473,
 'Castalia Square, Cubitt Town': 474,
 'Lightermans Road, Millwall': 475,
 'Stebondale Street, Cubitt Town': 476,
 'Spindrift Avenue, Millwall': 477,
 'Stepney Green Station, Stepney': 478,
 'Pott Street, Bethnal Green': 479,
 'Flamborough Street, Limehouse': 480,
 'Saunders Ness Road, Cubitt Town': 481,
 'Albert Gardens, Stepney': 483,
 'Bromley High Street, Bow': 484,
 'Old Ford Road, Bethnal Green': 485,
 'Granby Street, Shoreditch': 486,
 'Canton Street, Poplar': 487,
 'Reardon Street, Wapping': 488,
 'Christian Street, Whitechapel': 489,
 'Pennington Street, Wapping': 490,
 "Queen Mary's, Mile End": 491,
 'The Green Bridge, Mile End': 492,
 'South Quay East, Canary Wharf': 494,
 'Bow Church Station, Bow': 495,
 'Devons Road, Bow': 496,
 'Merchant Street, Bow': 497,
 'Bow Road Station, Bow': 498,
 'Furze Green, Bow': 499,
 'Ansell House, Stepney': 500,
 'Cephas Street, Bethnal Green': 501,
 'Bonner Gate, Victoria Park': 502,
 'Cleveland Way, Stepney': 503,
 "St. John's Park, Cubitt Town": 504,
 'Ackroyd Drive, Bow': 505,
 'Bell Lane, Liverpool Street': 506,
 'Clarkson Street, Bethnal Green': 507,
 'Fournier Street, Whitechapel': 508,
 'Fore Street, Guildhall': 509,
 'Westferry DLR, Limehouse': 510,
 'Sutton Street, Shadwell': 511,
 "Pritchard's Road, Bethnal Green": 512,
 'Watney Market, Stepney': 513,
 'Portman Square, Marylebone': 514,
 'Russell Gardens, Olympia': 515,
 'Chrisp Street Market, Poplar': 516,
 'Ford Road, Old Ford': 517,
 'Antill Road, Mile End': 518,
 'Teviot Street, Poplar': 519,
 'Bancroft Road, Bethnal Green': 520,
 'Driffield Road, Old Ford': 521,
 'Clinton Road, Mile End': 522,
 'Langdon Park, Poplar': 523,
 'Lancaster Gate , Bayswater': 524,
 'Lancaster Drive, Blackwall': 526,
 'Hansard Mews, Holland Park': 527,
 'Clarges Street, Mayfair': 528,
 'Manresa Road, Chelsea': 529,
 'Newby Place, Poplar': 530,
 'Twig Folly Bridge, Mile End': 531,
 'Jubilee Plaza, Canary Wharf': 532,
 'Wellington Row, Bethnal Green': 533,
 "Goldsmith's Row, Haggerston": 534,
 'Gloucester Avenue, Camden Town': 535,
 'Queensbridge Road, Haggerston': 536,
 'Old Montague Street, Whitechapel': 537,
 'Naval Row, Blackwall': 538,
 'Hoxton Station, Hoxton': 539,
 "Albany Street, The Regent's Park": 540,
 'Green Park Station, Mayfair': 541,
 'Salmon Lane, Limehouse': 542,
 'Lansdowne Walk, Ladbroke Grove': 543,
 'Percival Street, Finsbury': 544,
 'Arlington Road, Camden Town': 545,
 'New Fetter Lane, Holborn': 546,
 'East India DLR, Blackwall': 547,
 'Westminster Bridge Road, Elephant & Castle': 548,
 'Gaywood  Street, Elephant & Castle': 549,
 'Harford Street, Mile End': 550,
 'Import Dock, Canary Wharf': 551,
 'Watney Street, Shadwell': 552,
 "Regent's Row , Haggerston ": 553,
 'Aberfeldy Street, Poplar': 554,
 'Heron Quays DLR, Canary Wharf': 556,
 'King Edward Street, St Pauls': 557,
 'Page Street, Westminster': 558,
 'Abbotsbury Road, Holland Park': 559,
 'Ladbroke Grove Central, Ladbroke Grove': 560,
 'Rectory Square, Stepney': 561,
 'Bury Place, Holborn': 562,
 "Preston's Road, Cubitt Town": 563,
 'Somerset House, Strand': 564,
 'Selby Street, Whitechapel': 565,
 'Westfield Ariel Way, White City': 566,
 "Bishop's Bridge Road West, Bayswater": 568,
 'Pitfield Street Central, Hoxton': 569,
 'Upper Bank Street, Canary Wharf': 570,
 "Westfield Southern Terrace ,Shepherd's Bush": 571,
 'Greenland Road, Camden Town': 572,
 'Limerston Street, West Chelsea': 573,
 'Eagle Wharf Road, Hoxton': 574,
 'Alpha Grove, Millwall': 576,
 'Globe Town Market, Bethnal Green': 577,
 'Hollybush Gardens, Bethnal Green': 578,
 'Queen Street 2, Bank': 579,
 'Doddington Grove, Kennington': 580,
 'New Cavendish Street, Marylebone': 581,

In [52]:
#let's pickle this updated dictionary 

import pickle

# Pickle the dictionary
subfolder = 'data'
filename = 'station_id_dic_2022.p'
file_path = os.path.join(subfolder, filename)

with open(file_path, 'wb') as file:
    pickle.dump(switched_dict_updated, file)

In [53]:
# import station id pickle 
import pickle

# loading pickle
subfolder = 'data'
filename = 'station_id_dic_2022.p'
file_path = os.path.join(subfolder, filename)

# Load the pickled dictionary
with open(file_path, 'rb') as file:
    loaded_dict = pickle.load(file)

In [54]:
loaded_dict

{'River Street , Clerkenwell': 1,
 'Phillimore Gardens, Kensington': 2,
 'Christopher Street, Liverpool Street': 3,
 "St. Chad's Street, King's Cross": 4,
 'Sedding Street, Sloane Square': 5,
 'Broadcasting House, Marylebone': 6,
 "Charlbert Street, St. John's Wood": 7,
 'Maida Vale, Maida Vale': 8,
 'New Globe Walk, Bankside': 9,
 'Park Street, Bankside': 10,
 'Brunswick Square, Bloomsbury': 11,
 'Malet Street, Bloomsbury': 12,
 'Scala Street, Fitzrovia': 13,
 "Belgrove Street , King's Cross": 14,
 'Great Russell Street, Bloomsbury': 15,
 'Cartwright Gardens , Bloomsbury': 16,
 'Hatton Wall, Holborn': 17,
 'Drury Lane, Covent Garden': 18,
 'Taviton Street, Bloomsbury': 19,
 'Drummond Street , Euston': 20,
 'Hampstead Road (Cartmel), Euston': 21,
 'Northington Street , Holborn': 22,
 'Red Lion Square, Holborn': 23,
 'British Museum, Bloomsbury': 24,
 'Doric Way , Somers Town': 25,
 'Ampton Street , Clerkenwell': 26,
 'Bouverie Street, Temple': 27,
 'Bolsover Street, Fitzrovia': 28,
 'Hereford Road, Bayswater': 29,
 'Windsor Terrace, Hoxton': 30,
 'Fanshaw Street, Hoxton': 31,
 'Leonard Circus , Shoreditch': 32,
 'Central House, Aldgate': 33,
 "Pancras Road, King's Cross": 34,
 'De Vere Gardens, Kensington': 36,
 "Penywern Road, Earl's Court": 37,
 'Abingdon Villas, Kensington': 38,
 'Shoreditch High Street, Shoreditch': 39,
 'Commercial Street, Shoreditch': 40,
 'Pindar Street, Liverpool Street': 41,
 'Wenlock Road , Hoxton': 42,
 'Crawford Street, Marylebone': 43,
 'Bruton Street, Mayfair': 44,
 'Boston Place, Marylebone': 45,
 'Nesham Street, Wapping': 46,
 'Warwick Avenue Station, Maida Vale': 47,
 "Godliman Street, St. Paul's": 48,
 'Curzon Street, Mayfair': 49,
 'East Road, Hoxton': 50,
 'Finsbury Library , Finsbury': 51,
 "Roscoe Street, St. Luke's": 52,
 'Grafton Street, Mayfair': 53,
 'Golden Lane, Barbican': 54,
 'Finsbury Circus, Liverpool Street': 55,
 'Paddington Street, Marylebone': 56,
 'Guilford Street , Bloomsbury': 57,
 'New Inn Yard, Shoreditch': 58,
 "Lisson Grove, St. John's Wood": 60,
 'Great Dover Street, The Borough': 61,
 'Cotton Garden Estate, Kennington': 62,
 'Murray Grove , Hoxton': 63,
 'William IV Street, Strand': 64,
 'Gower Place , Euston': 65,
 'Holborn Circus, Holborn': 66,
 'Hatton Garden, Holborn': 67,
 "Theobald's Road , Holborn": 68,
 'Euston Road, Euston': 69,
 "Calshot Street , King's Cross": 70,
 "Newgate Street , St. Paul's": 71,
 'Farringdon Lane, Clerkenwell': 72,
 "Old Street Station, St. Luke's": 73,
 'Vauxhall Cross, Vauxhall': 74,
 'Torrens Street, Angel': 75,
 "Longford Street, The Regent's Park": 76,
 'Russell Square Station, Bloomsbury': 77,
 'Sadlers Sports Centre, Finsbury': 78,
 'Arundel Street, Temple': 79,
 'Webber Street , Southwark': 80,
 'Great Titchfield Street, Fitzrovia': 81,
 'Chancery Lane, Holborn': 82,
 'Panton Street, West End': 83,
 'Breams Buildings, Holborn': 84,
 'Tanner Street, Bermondsey': 85,
 'Sancroft Street, Vauxhall': 86,
 'Devonshire Square, Liverpool Street': 87,
 'Bayley Street , Bloomsbury': 88,
 'Tavistock Place, Bloomsbury': 89,
 'Harrington Square 1, Camden Town': 90,
 'Walnut Tree Walk, Vauxhall': 91,
 'Borough Road, Elephant & Castle': 92,
 'Cloudesley Road, Angel': 93,
 'Bricklayers Arms, Borough': 94,
 'Aldersgate Street, Barbican': 95,
 'Falkirk Street, Hoxton': 96,
 'Gloucester Road (North), Kensington': 97,
 'Hampstead Road, Euston': 98,
 'Old Quebec Street, Marylebone': 99,
 'Albert Embankment, Vauxhall': 100,
 'Queen Street 1, Bank': 101,
 'Jewry Street, Aldgate': 102,
 'Vicarage Gate, Kensington': 103,
 'Crosswall, Tower': 104,
 'Westbourne Grove, Bayswater': 105,
 'Woodstock Street, Mayfair': 106,
 "Finsbury Leisure Centre, St. Luke's": 107,
 'Abbey Orchard Street, Westminster': 108,
 'Soho Square , Soho': 109,
 "Wellington Road, St. John's Wood": 110,
 'Park Lane , Hyde Park': 111,
 'Stonecutter Street, Holborn': 112,
 'Gloucester Road (Central), South Kensington': 113,
 "Park Road (Baker Street), The Regent's Park": 114,
 'Braham Street, Aldgate': 115,
 'Little Argyll Street, West End': 116,
 'Lollard Street, Vauxhall': 117,
 'Rochester Row, Westminster': 118,
 "Bath Street, St. Luke's": 119,
 'The Guildhall, Guildhall': 120,
 'Baker Street, Marylebone': 121,
 'Norton Folgate, Liverpool Street': 122,
 'St. John Street, Finsbury': 123,
 'Eaton Square, Belgravia': 124,
 'Borough High Street, The Borough': 125,
 'Museum of London, Barbican': 126,
 'Wood Street, Guildhall': 127,
 "Emperor's Gate, South Kensington": 128,
 'Golden Square, Soho': 129,
 'Tower Gardens , Tower': 130,
 'Eversholt Street , Camden Town': 131,
 'Bethnal Green Road, Shoreditch': 132,
 'Derry Street, Kensington': 133,
 'Wapping High Street, Wapping': 134,
 'Clerkenwell Green, Clerkenwell': 135,
 "Queen Victoria Street, St. Paul's": 136,
 'Green Street, Mayfair': 138,
 'Lambeth Road, Vauxhall': 139,
 'Finsbury Square , Moorgate': 140,
 'Chapel Place, Marylebone': 141,
 "West Cromwell Road, Earl's Court": 142,
 'Pont Street, Knightsbridge': 143,
 'Kennington Cross, Kennington': 144,
 'Ilchester Place, Kensington': 145,
 'Vauxhall Bridge , Pimlico': 146,
 'Tachbrook Street, Victoria': 148,
 'Kennington Road Post Office, Oval': 149,
 'Holy Trinity Brompton, Knightsbridge': 150,
 'Chepstow Villas, Notting Hill': 151,
 'Hampton Street, Walworth': 152,
 'Bayswater Road, Hyde Park': 153,
 'Waterloo Station 3, Waterloo': 154,
 'Lexham Gardens, Kensington': 155,
 'New Kent Road, The Borough': 156,
 "Wright's Lane, Kensington": 157,
 "Trebovir Road, Earl's Court": 158,
 'Great Marlborough Street, Soho': 159,
 "Waterloo Place, St. James's": 160,
 'Guildhouse Street, Victoria': 161,
 'Southampton Place, Holborn': 162,
 'Sloane Avenue, Knightsbridge': 163,
 'Cleveland Gardens, Bayswater': 164,
 'Orsett Terrace, Bayswater': 165,
 'Seville Street, Knightsbridge': 166,
 'Eccleston Place, Victoria': 167,
 'Argyll Road, Kensington': 168,
 'Porchester Place, Paddington': 169,
 'Hardwick Street, Clerkenwell': 170,
 "Collingham Gardens, Earl's Court": 171,
 'Sumner Place, South Kensington': 172,
 'Waterloo Road, South Bank': 173,
 'Strand, Strand': 174,
 'Worship Street, Shoreditch': 175,
 'Gloucester Terrace, Bayswater': 176,
 'Ashley Place, Victoria': 177,
 'Warwick Square, Pimlico': 178,
 'North Audley Street, Mayfair': 180,
 'Belgrave Square, Belgravia': 181,
 'Bell Street , Marylebone': 182,
 'Riverlight North, Nine Elms': 183,
 'Portland Place, Marylebone': 184,
 'Alderney Street, Pimlico': 185,
 'South Wharf Road, Paddington': 186,
 "Queen's Gate (South), South Kensington": 187,
 'Nutford Place, Marylebone': 188,
 'Claremont Square, Angel': 189,
 'Rampayne Street, Pimlico': 190,
 'Hyde Park Corner, Hyde Park': 191,
 'Wardour Street, Soho': 192,
 'Bankside Mix, Bankside': 193,
 'Hop Exchange, The Borough': 194,
 'Milroy Walk, South Bank': 195,
 'Union Street, The Borough': 196,
 'Stamford Street, South Bank': 197,
 'Great Tower Street, Monument': 199,
 'LMU Commercial Road, Whitechapel': 200,
 'Dorset Square, Marylebone': 201,
 'Leman Street, Aldgate': 202,
 'West Smithfield Rotunda, Farringdon': 203,
 'Margery Street, Clerkenwell': 204,
 'New Road 1 , Whitechapel': 206,
 'Grosvenor Crescent, Belgravia': 207,
 'Mallory Street, Marylebone': 208,
 'Denyer Street, Knightsbridge': 209,
 'Hinde Street, Marylebone': 210,
 'Cadogan Place, Knightsbridge': 211,
 'Campden Hill Road, Notting Hill': 212,
 'Wellington Arch, Hyde Park': 213,
 'Endsleigh Gardens, Euston': 214,
 'Moorfields, Moorgate': 215,
 'Old Brompton Road, South Kensington': 216,
 'Wormwood Street, Liverpool Street': 217,
 "St. Luke's Church, Chelsea": 218,
 "Bramham Gardens, Earl's Court": 219,
 'Chelsea Green, Chelsea': 220,
 'Horseferry Road, Westminster': 221,
 'Knightsbridge, Hyde Park': 222,
 'Rodney Road , Walworth': 223,
 'Queensway, Westminster': 224,
 'Notting Hill Gate Station, Notting Hill': 225,
 'Charles II Street, West End': 226,
 'Great Percy Street, Clerkenwell': 227,
 "St. James's Square, St. James's": 228,
 'Whitehall Place, Strand': 229,
 'Poured Lines, Bankside': 230,
 "Queen's Gate (Central), South Kensington": 231,
 'Carey Street, Holborn': 232,
 'Pall Mall East, West End': 233,
 'Liverpool Road (N1 Centre), Angel': 234,
 'Kennington Road  , Vauxhall': 235,
 'Fashion Street, Whitechapel': 236,
 'Dock Street, Wapping': 237,
 'Frampton Street, Paddington': 238,
 'Warren Street Station, Euston': 239,
 'Colombo Street, Southwark': 240,
 'Beaumont Street, Marylebone': 242,
 'Gloucester Street, Pimlico': 243,
 'Earnshaw Street , Covent Garden': 244,
 'Grosvenor Road, Pimlico': 245,
 'Berry Street, Clerkenwell': 246,
 "St. John's Wood Church, The Regent's Park": 247,
 'Triangle Car Park, Hyde Park': 248,
 'Harper Road, The Borough': 249,
 'Royal Avenue 1, Chelsea': 250,
 'Brushfield Street, Liverpool Street': 251,
 'Jubilee Gardens, South Bank': 252,
 'Shoreditch Park, Hoxton': 253,
 'Chadwell Street, Angel': 254,
 'Clifton Road, Maida Vale': 255,
 'Houghton Street, Strand': 256,
 'Westminster University, Marylebone': 257,
 'Kensington Gore, Knightsbridge': 258,
 'Bourne Street, Belgravia': 259,
 'Broadwick Street, Soho': 260,
 'Princes Square, Bayswater': 261,
 'LSBU (Borough Road), Elephant & Castle': 262,
 'St. Mary Axe, Aldgate': 263,
 'Tysoe Street, Clerkenwell': 264,
 'Southwick Street, Paddington': 265,
 "Queen's Gate (North), Kensington": 266,
 'Regency Street, Westminster': 267,
 'Belgrave Road, Victoria': 268,
 'Empire Square, The Borough': 269,
 'Kennington Lane Rail Bridge, Vauxhall': 270,
 "London Zoo,  The Regent's Park": 271,
 'Baylis Road, Waterloo': 272,
 'Belvedere Road 1, South Bank': 273,
 'Warwick Road, Olympia': 274,
 'Barbican Centre, Barbican': 275,
 'Lower Thames Street, Monument': 276,
 'Kensington Church Street, Kensington': 277,
 'Tooley Street, Bermondsey': 278,
 'North Wharf Road, Paddington': 279,
 'Royal Avenue 2, Chelsea': 280,
 'Smith Square, Westminster': 281,
 'Royal London Hospital, Whitechapel': 282,
 'Kingsway, Covent Garden': 283,
 'Lambeth North Station, Waterloo': 284,
 "St. John's Wood Road, St. John's Wood": 286,
 'Bedford Way, Bloomsbury': 287,
 'Elizabeth Bridge, Victoria': 288,
 'South Audley Street, Mayfair': 289,
 'Winsland Street, Paddington': 290,
 'Claverton Street, Pimlico': 291,
 'Montpelier Street, Knightsbridge': 292,
 'Kensington Olympia Station, Olympia': 293,
 "St. George's Square, Pimlico": 294,
 'Swan Street, The Borough': 295,
 "Knaresborough Place, Earl's Court": 296,
 'Geraldine Street, Elephant & Castle': 297,
 'Curlew Street, Shad Thames': 298,
 'Vincent Square, Westminster': 299,
 'Serpentine Car Park, Hyde Park': 300,
 'Marylebone Lane, Marylebone': 301,
 'Putney Pier, Wandsworth': 302,
 'Albert Gate, Hyde Park': 303,
 'Kennington Lane Tesco, Vauxhall': 305,
 'Rathbone Street, Fitzrovia': 306,
 'Black Lion Gate, Kensington Gardens': 307,
 'Long Lane , Bermondsey': 308,
 'Embankment (Savoy), Strand': 309,
 'Black Prince Road, Vauxhall': 310,
 'Foley Street, Fitzrovia': 311,
 "Grove End Road, St. John's Wood": 312,
 'Wells Street, Fitzrovia': 313,
 'Tyers Gate, Bermondsey': 314,
 "The Tennis Courts, The Regent's Park": 315,
 'Warwick Row, Westminster': 316,
 'Dickens Square, Borough': 317,
 'Sackville Street, Mayfair': 318,
 "Baldwin Street, St. Luke's": 319,
 'Queen Mother Sports Centre, Victoria': 320,
 'Bermondsey Street, Bermondsey': 321,
 'Palissy Street, Shoreditch': 322,
 'Clifton Street, Shoreditch': 323,
 'Ontario Street, Elephant & Castle': 324,
 "St. Martin's Street, West End": 325,
 'Graham Street, Angel': 326,
 'New North Road 1, Hoxton': 327,
 'New North Road 2, Hoxton': 328,
 "Prince Albert Road, The Regent's Park": 329,
 'Eastbourne Mews, Paddington': 330,
 'Bunhill Row, Moorgate': 331,
 "Nevern Place, Earl's Court": 332,
 'Palace Gardens Terrace, Notting Hill': 333,
 'Concert Hall Approach 1, South Bank': 334,
 'Tavistock Street, Covent Garden': 335,
 'Concert Hall Approach 2, South Bank': 336,
 'Pembridge Villas, Notting Hill': 337,
 'Wellington Street , Strand': 338,
 'Risinghill Street, Angel': 339,
 'Bank of England Museum, Bank': 340,
 'Craven Street, Strand': 341,
 "London Zoo Car Park, The Regent's Park": 343,
 'Goswell Road (City Uni), Finsbury': 344,
 'Flood Street, Chelsea': 345,
 'Lower Marsh, Waterloo': 347,
 'Grosvenor Square, Mayfair': 348,
 'St. George Street, Mayfair': 349,
 "Queen's Gate, Kensington Gardens": 350,
 'Macclesfield Rd, St Lukes': 351,
 'Vauxhall Street, Vauxhall': 352,
 'Greycoat Street , Westminster': 353,
 'Northumberland Avenue, Strand': 354,
 'Oval Way, Vauxhall': 355,
 'South Kensington Station, South Kensington': 356,
 'Howland Street, Fitzrovia': 357,
 'High Holborn , Covent Garden': 358,
 'Butler Place, Westminster': 359,
 'Howick Place, Westminster': 360,
 'Waterloo Station 2, Waterloo': 361,
 'Royal College Street, Camden Town': 362,
 "Lord's, St. John's Wood": 363,
 'Alfred Place, Bloomsbury': 364,
 'City Road, Angel': 365,
 'Millennium Hotel, Mayfair': 366,
 'Harrowby Street, Marylebone': 367,
 'Harriet Street, Knightsbridge': 368,
 'Paddington Green, Paddington': 370,
 'King Edward Walk, Waterloo': 371,
 'Sardinia Street, Holborn': 372,
 'Prince Consort Road, Knightsbridge': 373,
 'Waterloo Station 1, Waterloo': 374,
 'Kensington Town Hall, Kensington': 375,
 'Millbank Tower, Pimlico': 376,
 'Waterloo Bridge, South Bank': 377,
 'Natural History Museum, South Kensington': 378,
 'Turquoise Island, Notting Hill': 379,
 'Stanhope Gate, Mayfair': 380,
 'Charlotte Street, Fitzrovia': 381,
 'Farm Street, Mayfair': 382,
 'Frith Street, Soho': 383,
 'Marloes Road, Kensington': 384,
 'Moor Street, Soho': 386,
 'Fire Brigade Pier, Vauxhall': 387,
 'Southampton Street, Strand': 388,
 'Upper Grosvenor Street, Mayfair': 389,
 'Buxton Street 1, Shoreditch': 390,
 'Imperial College, Knightsbridge': 392,
 'Snow Hill, Farringdon': 393,
 "Aberdeen Place, St. John's Wood": 394,
 'Cadogan Gardens, Chelsea': 395,
 'Shouldham Street, Marylebone': 396,
 'Devonshire Terrace, Bayswater': 397,
 'Holland Park, Kensington': 398,
 'Brick Lane Market, Shoreditch': 399,
 'George Street, Marylebone': 400,
 'Columbia Road, Shoreditch': 401,
 'Penfold Street, Marylebone': 402,
 'George Place Mews, Marylebone': 403,
 'Palace Gate, Kensington Gardens': 404,
 'Gloucester Road Station, South Kensington': 405,
 'Paddington Green Police Station, Paddington': 408,
 'Strata, Elephant & Castle': 409,
 'Edgware Road Station, Marylebone': 410,
 'Walworth Road, Elephant & Castle': 411,
 'Cleaver Street, Kennington': 412,
 'Chelsea Bridge, Pimlico': 419,
 'Southwark Station 1, Southwark': 420,
 'Southwark Station 2, Southwark': 421,
 'Eaton Square (South), Belgravia': 423,
 'Ebury Bridge, Pimlico': 424,
 'Harrington Square 2, Camden Town': 425,
 'Vincent Street, Pimlico': 426,
 'Cheapside, Bank': 427,
 'Exhibition Road, Knightsbridge': 428,
 'South Parade, Chelsea': 430,
 "Crinan Street, King's Cross": 431,
 'Exhibition Road Museums, South Kensington': 432,
 'Wren Street, Holborn': 433,
 'Kennington Station, Kennington': 435,
 'Red Lion Street, Holborn': 436,
 'Vauxhall Walk, Vauxhall': 437,
 "Killick Street, King's Cross": 439,
 'Kennington Oval, Oval': 440,
 'Sail Street, Vauxhall': 441,
 'Walmer Road, Avondale': 442,
 'Philpot Street, Whitechapel': 443,
 'Bethnal Green Garden, Bethnal Green': 444,
 'Cheshire Street, Bethnal Green': 445,
 'York Hall, Bethnal Green': 446,
 'Jubilee Crescent, Cubitt Town': 447,
 "Fisherman's Walk West, Canary Wharf": 448,
 'Shadwell Station, Shadwell': 449,
 'Jubilee Street, Stepney': 450,
 'Hermitage Court, Wapping': 451,
 "St. Katharine's Way, Tower": 452,
 'Garnet Street, Shadwell': 453,
 'Napier Avenue, Millwall': 454,
 'East Ferry Road, Cubitt Town': 455,
 'Parkway, Camden Town': 456,
 'Castlehaven Road, Camden Town': 457,
 'Wapping Lane, Wapping': 458,
 'Gunmakers Lane, Old Ford': 459,
 'Burdett Road, Mile End': 460,
 'Aston Street, Stepney': 461,
 'Bonny Street, Camden Town': 462,
 'Thurtle road, Haggerston': 463,
 'St. Mary & St. Michael Church, Stepney': 464,
 'Pitfield Street North,Hoxton': 465,
 'Whiston Road, Haggerston': 466,
 'Southern Grove, Bow': 467,
 'Cantrell Road, Bow': 468,
 'Lindfield Street, Poplar': 469,
 'Mostyn Grove, Bow': 470,
 'Hewison Street, Old Ford': 471,
 'Malmesbury Road, Bow': 472,
 'Millharbour, Millwall': 473,
 'Castalia Square, Cubitt Town': 474,
 'Lightermans Road, Millwall': 475,
 'Stebondale Street, Cubitt Town': 476,
 'Spindrift Avenue, Millwall': 477,
 'Stepney Green Station, Stepney': 478,
 'Pott Street, Bethnal Green': 479,
 'Flamborough Street, Limehouse': 480,
 'Saunders Ness Road, Cubitt Town': 481,
 'Albert Gardens, Stepney': 483,
 'Bromley High Street, Bow': 484,
 'Old Ford Road, Bethnal Green': 485,
 'Granby Street, Shoreditch': 486,
 'Canton Street, Poplar': 487,
 'Reardon Street, Wapping': 488,
 'Christian Street, Whitechapel': 489,
 'Pennington Street, Wapping': 490,
 "Queen Mary's, Mile End": 491,
 'The Green Bridge, Mile End': 492,
 'South Quay East, Canary Wharf': 494,
 'Bow Church Station, Bow': 495,
 'Devons Road, Bow': 496,
 'Merchant Street, Bow': 497,
 'Bow Road Station, Bow': 498,
 'Furze Green, Bow': 499,
 'Ansell House, Stepney': 500,
 'Cephas Street, Bethnal Green': 501,
 'Bonner Gate, Victoria Park': 502,
 'Cleveland Way, Stepney': 503,
 "St. John's Park, Cubitt Town": 504,
 'Ackroyd Drive, Bow': 505,
 'Bell Lane, Liverpool Street': 506,
 'Clarkson Street, Bethnal Green': 507,
 'Fournier Street, Whitechapel': 508,
 'Fore Street, Guildhall': 509,
 'Westferry DLR, Limehouse': 510,
 'Sutton Street, Shadwell': 511,
 "Pritchard's Road, Bethnal Green": 512,
 'Watney Market, Stepney': 513,
 'Portman Square, Marylebone': 514,
 'Russell Gardens, Olympia': 515,
 'Chrisp Street Market, Poplar': 516,
 'Ford Road, Old Ford': 517,
 'Antill Road, Mile End': 518,
 'Teviot Street, Poplar': 519,
 'Bancroft Road, Bethnal Green': 520,
 'Driffield Road, Old Ford': 521,
 'Clinton Road, Mile End': 522,
 'Langdon Park, Poplar': 523,
 'Lancaster Gate , Bayswater': 524,
 'Lancaster Drive, Blackwall': 526,
 'Hansard Mews, Holland Park': 527,
 'Clarges Street, Mayfair': 528,
 'Manresa Road, Chelsea': 529,
 'Newby Place, Poplar': 530,
 'Twig Folly Bridge, Mile End': 531,
 'Jubilee Plaza, Canary Wharf': 532,
 'Wellington Row, Bethnal Green': 533,
 "Goldsmith's Row, Haggerston": 534,
 'Gloucester Avenue, Camden Town': 535,
 'Queensbridge Road, Haggerston': 536,
 'Old Montague Street, Whitechapel': 537,
 'Naval Row, Blackwall': 538,
 'Hoxton Station, Hoxton': 539,
 "Albany Street, The Regent's Park": 540,
 'Green Park Station, Mayfair': 541,
 'Salmon Lane, Limehouse': 542,
 'Lansdowne Walk, Ladbroke Grove': 543,
 'Percival Street, Finsbury': 544,
 'Arlington Road, Camden Town': 545,
 'New Fetter Lane, Holborn': 546,
 'East India DLR, Blackwall': 547,
 'Westminster Bridge Road, Elephant & Castle': 548,
 'Gaywood  Street, Elephant & Castle': 549,
 'Harford Street, Mile End': 550,
 'Import Dock, Canary Wharf': 551,
 'Watney Street, Shadwell': 552,
 "Regent's Row , Haggerston ": 553,
 'Aberfeldy Street, Poplar': 554,
 'Heron Quays DLR, Canary Wharf': 556,
 'King Edward Street, St Pauls': 557,
 'Page Street, Westminster': 558,
 'Abbotsbury Road, Holland Park': 559,
 'Ladbroke Grove Central, Ladbroke Grove': 560,
 'Rectory Square, Stepney': 561,
 'Bury Place, Holborn': 562,
 "Preston's Road, Cubitt Town": 563,
 'Somerset House, Strand': 564,
 'Selby Street, Whitechapel': 565,
 'Westfield Ariel Way, White City': 566,
 "Bishop's Bridge Road West, Bayswater": 568,
 'Pitfield Street Central, Hoxton': 569,
 'Upper Bank Street, Canary Wharf': 570,
 "Westfield Southern Terrace ,Shepherd's Bush": 571,
 'Greenland Road, Camden Town': 572,
 'Limerston Street, West Chelsea': 573,
 'Eagle Wharf Road, Hoxton': 574,
 'Alpha Grove, Millwall': 576,
 'Globe Town Market, Bethnal Green': 577,
 'Hollybush Gardens, Bethnal Green': 578,
 'Queen Street 2, Bank': 579,
 'Doddington Grove, Kennington': 580,
 'New Cavendish Street, Marylebone': 581,

In [55]:
bd_data_2022_clean5 = bd_data_2022_clean4.copy()
for index, row in bd_data_2022_clean5.iterrows():
    if pd.isnull(row['StartStation Id']) and row['StartStation Name'] in loaded_dict:
        bd_data_2022_clean5.at[index, 'StartStation Id'] = loaded_dict[row['StartStation Name']]

In [56]:
bd_data_2022_clean6 = bd_data_2022_clean5.copy()
for index, row in bd_data_2022_clean6.iterrows():
    if pd.isnull(row['EndStation Id']) and row['EndStation Name'] in loaded_dict:
        bd_data_2022_clean6.at[index, 'EndStation Id'] = loaded_dict[row['EndStation Name']]

In [ ]:
bd_data_2022_clean6.isnull().sum()

Rental Id                  0
Duration                   0
Bike Id                    0
End Date                   0
EndStation Id              0
EndStation Name            0
Start Date                 0
StartStation Id            0
StartStation Name          0
SS Terminal Name     8621091
ES Terminal Name     8621091
Bike model           8621091
Hour                       0
Day                        0
dtype: int64

In [ ]:
events_data_2022

Station,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,836.0,838.0,839.0,840.0,841.0,842.0,844.0,845.0,846.0,850.0
,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,...,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,2.0,0.0,5.0,15.0,1.0,0.0,0.0,0.0
2022-01-01 01:00:00,0.0,0.0,0.0,5.0,0.0,2.0,3.0,1.0,0.0,0.0,...,0.0,0.0,14.0,1.0,4.0,14.0,3.0,1.0,0.0,0.0
2022-01-01 02:00:00,0.0,0.0,0.0,3.0,2.0,0.0,3.0,3.0,0.0,4.0,...,0.0,0.0,2.0,1.0,2.0,3.0,10.0,0.0,0.0,0.0
2022-01-01 03:00:00,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,...,0.0,0.0,1.0,4.0,1.0,2.0,5.0,0.0,0.0,0.0
2022-01-01 04:00:00,0.0,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-09 09:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-09 10:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-09 15:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-09 18:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-09 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# creating a new dictionary with switched keys and values so the id is the key and the station name is the value
id_station_dict = {value: key for key, value in loaded_dict.items()}

In [ ]:
print(id_station_dict)

{1: 'River Street , Clerkenwell', 2: 'Phillimore Gardens, Kensington', 3: 'Christopher Street, Liverpool Street', 4: "St. Chad's Street, King's Cross", 5: 'Sedding Street, Sloane Square', 6: 'Broadcasting House, Marylebone', 7: "Charlbert Street, St. John's Wood", 8: 'Maida Vale, Maida Vale', 9: 'New Globe Walk, Bankside', 10: 'Park Street, Bankside', 11: 'Brunswick Square, Bloomsbury', 12: 'Malet Street, Bloomsbury', 13: 'Scala Street, Fitzrovia', 14: "Belgrove Street , King's Cross", 15: 'Great Russell Street, Bloomsbury', 16: 'Cartwright Gardens , Bloomsbury', 17: 'Hatton Wall, Holborn', 18: 'Drury Lane, Covent Garden', 19: 'Taviton Street, Bloomsbury', 20: 'Drummond Street , Euston', 21: 'Hampstead Road (Cartmel), Euston', 22: 'Northington Street , Holborn', 23: 'Red Lion Square, Holborn', 24: 'British Museum, Bloomsbury', 25: 'Doric Way , Somers Town', 26: 'Ampton Street , Clerkenwell', 27: 'Bouverie Street, Temple', 28: 'Bolsover Street, Fitzrovia', 29: 'Hereford Road, Bayswater', 30: 'Windsor Terrace, Hoxton', 31: 'Fanshaw Street, Hoxton', 32: 'Leonard Circus , Shoreditch', 33: 'Central House, Aldgate', 34: "Pancras Road, King's Cross", 36: 'De Vere Gardens, Kensington', 37: "Penywern Road, Earl's Court", 38: 'Abingdon Villas, Kensington', 39: 'Shoreditch High Street, Shoreditch', 40: 'Commercial Street, Shoreditch', 41: 'Pindar Street, Liverpool Street', 42: 'Wenlock Road , Hoxton', 43: 'Crawford Street, Marylebone', 44: 'Bruton Street, Mayfair', 45: 'Boston Place, Marylebone', 46: 'Nesham Street, Wapping', 47: 'Warwick Avenue Station, Maida Vale', 48: "Godliman Street, St. Paul's", 49: 'Curzon Street, Mayfair', 50: 'East Road, Hoxton', 51: 'Finsbury Library , Finsbury', 52: "Roscoe Street, St. Luke's", 53: 'Grafton Street, Mayfair', 54: 'Golden Lane, Barbican', 55: 'Finsbury Circus, Liverpool Street', 56: 'Paddington Street, Marylebone', 57: 'Guilford Street , Bloomsbury', 58: 'New Inn Yard, Shoreditch', 60: "Lisson Grove, St. John's Wood", 61: 'Great Dover Street, The Borough', 62: 'Cotton Garden Estate, Kennington', 63: 'Murray Grove , Hoxton', 64: 'William IV Street, Strand', 65: 'Gower Place , Euston', 66: 'Holborn Circus, Holborn', 67: 'Hatton Garden, Holborn', 68: "Theobald's Road , Holborn", 69: 'Euston Road, Euston', 70: "Calshot Street , King's Cross", 71: "Newgate Street , St. Paul's", 72: 'Farringdon Lane, Clerkenwell', 73: "Old Street Station, St. Luke's", 74: 'Vauxhall Cross, Vauxhall', 75: 'Torrens Street, Angel', 76: "Longford Street, The Regent's Park", 77: 'Russell Square Station, Bloomsbury', 78: 'Sadlers Sports Centre, Finsbury', 79: 'Arundel Street, Temple', 80: 'Webber Street , Southwark', 81: 'Great Titchfield Street, Fitzrovia', 82: 'Chancery Lane, Holborn', 83: 'Panton Street, West End', 84: 'Breams Buildings, Holborn', 85: 'Tanner Street, Bermondsey', 86: 'Sancroft Street, Vauxhall', 87: 'Devonshire Square, Liverpool Street', 88: 'Bayley Street , Bloomsbury', 89: 'Tavistock Place, Bloomsbury', 90: 'Harrington Square 1, Camden Town', 91: 'Walnut Tree Walk, Vauxhall', 92: 'Borough Road, Elephant & Castle', 93: 'Cloudesley Road, Angel', 94: 'Bricklayers Arms, Borough', 95: 'Aldersgate Street, Barbican', 96: 'Falkirk Street, Hoxton', 97: 'Gloucester Road (North), Kensington', 98: 'Hampstead Road, Euston', 99: 'Old Quebec Street, Marylebone', 100: 'Albert Embankment, Vauxhall', 101: 'Queen Street 1, Bank', 102: 'Jewry Street, Aldgate', 103: 'Vicarage Gate, Kensington', 104: 'Crosswall, Tower', 105: 'Westbourne Grove, Bayswater', 106: 'Woodstock Street, Mayfair', 107: "Finsbury Leisure Centre, St. Luke's", 108: 'Abbey Orchard Street, Westminster', 109: 'Soho Square , Soho', 110: "Wellington Road, St. John's Wood", 111: 'Park Lane , Hyde Park', 112: 'Stonecutter Street, Holborn', 113: 'Gloucester Road (Central), South Kensington', 114: "Park Road (Baker Street), The Regent's Park", 115: 'Braham Street, Aldgate', 116: 'Little Argyll Street, West End', 117: 'Lollard Street, Vauxhall', 118: 'Rochester Row, Westminster', 119: "Bath Street, St. Luke's", 120: 'The Guildhall, Guildhall', 121: 'Baker Street, Marylebone', 122: 'Norton Folgate, Liverpool Street', 123: 'St. John Street, Finsbury', 124: 'Eaton Square, Belgravia', 125: 'Borough High Street, The Borough', 126: 'Museum of London, Barbican', 127: 'Wood Street, Guildhall', 128: "Emperor's Gate, South Kensington", 129: 'Golden Square, Soho', 130: 'Tower Gardens , Tower', 131: 'Eversholt Street , Camden Town', 132: 'Bethnal Green Road, Shoreditch', 133: 'Derry Street, Kensington', 134: 'Wapping High Street, Wapping', 135: 'Clerkenwell Green, Clerkenwell', 136: "Queen Victoria Street, St. Paul's", 138: 'Green Street, Mayfair', 139: 'Lambeth Road, Vauxhall', 140: 'Finsbury Square , Moorgate', 141: 'Chapel Place, Marylebone', 142: "West Cromwell Road, Earl's Court", 143: 'Pont Street, Knightsbridge', 144: 'Kennington Cross, Kennington', 145: 'Ilchester Place, Kensington', 146: 'Vauxhall Bridge , Pimlico', 148: 'Tachbrook Street, Victoria', 149: 'Kennington Road Post Office, Oval', 150: 'Holy Trinity Brompton, Knightsbridge', 151: 'Chepstow Villas, Notting Hill', 152: 'Hampton Street, Walworth', 153: 'Bayswater Road, Hyde Park', 154: 'Waterloo Station 3, Waterloo', 155: 'Lexham Gardens, Kensington', 156: 'New Kent Road, The Borough', 157: "Wright's Lane, Kensington", 158: "Trebovir Road, Earl's Court", 159: 'Great Marlborough Street, Soho', 160: "Waterloo Place, St. James's", 161: 'Guildhouse Street, Victoria', 162: 'Southampton Place, Holborn', 163: 'Sloane Avenue, Knightsbridge', 164: 'Cleveland Gardens, Bayswater', 165: 'Orsett Terrace, Bayswater', 166: 'Seville Street, Knightsbridge', 167: 'Eccleston Place, Victoria', 168: 'Argyll Road, Kensington', 169: 'Porchester Place, Paddington', 170: 'Hardwick Street, Clerkenwell', 171: "Collingham Gardens, Earl's Court", 172: 'Sumner Place, South Kensington', 173: 'Waterloo Road, South Bank', 174: 'Strand, Strand', 175: 'Worship Street, Shoreditch', 176: 'Gloucester Terrace, Bayswater', 177: 'Ashley Place, Victoria', 178: 'Warwick Square, Pimlico', 180: 'North Audley Street, Mayfair', 181: 'Belgrave Square, Belgravia', 182: 'Bell Street , Marylebone', 183: 'Riverlight North, Nine Elms', 184: 'Portland Place, Marylebone', 185: 'Alderney Street, Pimlico', 186: 'South Wharf Road, Paddington', 187: "Queen's Gate (South), South Kensington", 188: 'Nutford Place, Marylebone', 189: 'Claremont Square, Angel', 190: 'Rampayne Street, Pimlico', 191: 'Hyde Park Corner, Hyde Park', 192: 'Wardour Street, Soho', 193: 'Bankside Mix, Bankside', 194: 'Hop Exchange, The Borough', 195: 'Milroy Walk, South Bank', 196: 'Union Street, The Borough', 197: 'Stamford Street, South Bank', 199: 'Great Tower Street, Monument', 200: 'LMU Commercial Road, Whitechapel', 201: 'Dorset Square, Marylebone', 202: 'Leman Street, Aldgate', 203: 'West Smithfield Rotunda, Farringdon', 204: 'Margery Street, Clerkenwell', 206: 'New Road 1 , Whitechapel', 207: 'Grosvenor Crescent, Belgravia', 208: 'Mallory Street, Marylebone', 209: 'Denyer Street, Knightsbridge', 210: 'Hinde Street, Marylebone', 211: 'Cadogan Place, Knightsbridge', 212: 'Campden Hill Road, Notting Hill', 213: 'Wellington Arch, Hyde Park', 214: 'Endsleigh Gardens, Euston', 215: 'Moorfields, Moorgate', 216: 'Old Brompton Road, South Kensington', 217: 'Wormwood Street, Liverpool Street', 218: "St. Luke's Church, Chelsea", 219: "Bramham Gardens, Earl's Court", 220: 'Chelsea Green, Chelsea', 221: 'Horseferry Road, Westminster', 222: 'Knightsbridge, Hyde Park', 223: 'Rodney Road , Walworth', 224: 'Queensway, Westminster', 225: 'Notting Hill Gate Station, Notting Hill', 226: 'Charles II Street, West End', 227: 'Great Percy Street, Clerkenwell', 228: "St. James's Square, St. James's", 229: 'Whitehall Place, Strand', 230: 'Poured Lines, Bankside', 231: "Queen's Gate (Central), South Kensington", 232: 'Carey Street, Holborn', 233: 'Pall Mall East, West End', 234: 'Liverpool Road (N1 Centre), Angel', 235: 'Kennington Road  , Vauxhall', 236: 'Fashion Street, Whitechapel', 237: 'Dock Street, Wapping', 238: 'Frampton Street, Paddington', 239: 'Warren Street Station, Euston', 240: 'Colombo Street, Southwark', 242: 'Beaumont Street, Marylebone', 243: 'Gloucester Street, Pimlico', 244: 'Earnshaw Street , Covent Garden', 245: 'Grosvenor Road, Pimlico', 246: 'Berry Street, Clerkenwell', 247: "St. John's Wood Church, The Regent's Park", 248: 'Triangle Car Park, Hyde Park', 249: 'Harper Road, The Borough', 250: 'Royal Avenue 1, Chelsea', 251: 'Brushfield Street, Liverpool Street', 252: 'Jubilee Gardens, South Bank', 253: 'Shoreditch Park, Hoxton', 254: 'Chadwell Street, Angel', 255: 'Clifton Road, Maida Vale', 256: 'Houghton Street, Strand', 257: 'Westminster University, Marylebone', 258: 'Kensington Gore, Knightsbridge', 259: 'Bourne Street, Belgravia', 260: 'Broadwick Street, Soho', 261: 'Princes Square, Bayswater', 262: 'LSBU (Borough Road), Elephant & Castle', 263: 'St. Mary Axe, Aldgate', 264: 'Tysoe Street, Clerkenwell', 265: 'Southwick Street, Paddington', 266: "Queen's Gate (North), Kensington", 267: 'Regency Street, Westminster', 268: 'Belgrave Road, Victoria', 269: 'Empire Square, The Borough', 270: 'Kennington Lane Rail Bridge, Vauxhall', 271: "London Zoo,  The Regent's Park", 272: 'Baylis Road, Waterloo', 273: 'Belvedere Road 1, South Bank', 274: 'Warwick Road, Olympia', 275: 'Barbican Centre, Barbican', 276: 'Lower Thames Street, Monument', 277: 'Kensington Church Street, Kensington', 278: 'Tooley Street, Bermondsey', 279: 'North Wharf Road, Paddington', 280: 'Royal Avenue 2, Chelsea', 281: 'Smith Square, Westminster', 282: 'Royal London Hospital, Whitechapel', 283: 'Kingsway, Covent Garden', 284: 'Lambeth North Station, Waterloo', 286: "St. John's Wood Road, St. John's Wood", 287: 'Bedford Way, Bloomsbury', 288: 'Elizabeth Bridge, Victoria', 289: 'South Audley Street, Mayfair', 290: "St Mary's Hospital, Westminster", 291: 'Claverton Street, Pimlico', 292: 'Montpelier Street, Knightsbridge', 293: 'Kensington Olympia Station, Olympia', 294: "St. George's Square, Pimlico", 295: 'Swan Street, The Borough', 296: "Knaresborough Place, Earl's Court", 297: 'Geraldine Street, Elephant & Castle', 298: 'Curlew Street, Shad Thames', 299: 'Vincent Square, Westminster', 300: 'Serpentine Car Park, Hyde Park', 301: 'Marylebone Lane, Marylebone', 302: 'Putney Pier, Wandsworth', 303: 'Albert Gate, Hyde Park', 305: 'Kennington Lane Tesco, Vauxhall', 306: 'Rathbone Street, Fitzrovia', 307: 'Black Lion Gate, Kensington Gardens', 308: 'Long Lane , Bermondsey', 309: 'Embankment (Savoy), Strand', 310: 'Black Prince Road, Vauxhall', 311: 'Foley Street, Fitzrovia', 312: "Grove End Road, St. John's Wood", 313: 'Wells Street, Fitzrovia', 314: 'Tyers Gate, Bermondsey', 315: "The Tennis Courts, The Regent's Park", 316: 'Warwick Row, Westminster', 317: 'Dickens Square, Borough', 318: 'Sackville Street, Mayfair', 319: "Baldwin Street, St. Luke's", 320: 'Queen Mother Sports Centre, Victoria', 321: 'Bermondsey Street, Bermondsey', 322: 'Palissy Street, Shoreditch', 323: 'Clifton Street, Shoreditch', 324: 'Ontario Street, Elephant & Castle', 325: "St. Martin's Street, West End", 326: 'Graham Street, Angel', 327: 'New North Road 1, Hoxton', 328: 'New North Road 2, Hoxton', 329: "Prince Albert Road, The Regent's Park", 330: 'Eastbourne Mews, Paddington', 331: 'Bunhill Row, Moorgate', 332: "Nevern Place, Earl's Court", 333: 'Palace Gardens Terrace, Notting Hill', 334: 'Concert Hall Approach 1, South Bank', 335: 'Tavistock Street, Covent Garden', 336: 'Concert Hall Approach 2, South Bank', 337: 'Pembridge Villas, Notting Hill', 338: 'Wellington Street , Strand', 339: 'Risinghill Street, Angel', 340: 'Bank of England Museum, Bank', 341: 'Craven Street, Strand', 343: "London Zoo Car Park, The Regent's Park", 344: 'Goswell Road (City Uni), Finsbury', 345: 'Flood Street, Chelsea', 347: 'Lower Marsh, Waterloo', 348: 'Grosvenor Square, Mayfair', 349: 'St. George Street, Mayfair', 350: "Queen's Gate, Kensington Gardens", 351: 'Macclesfield Rd, St Lukes', 352: 'Vauxhall Street, Vauxhall', 353: 'Greycoat Street , Westminster', 354: 'Northumberland Avenue, Strand', 355: 'Oval Way, Vauxhall', 356: 'South Kensington Station, South Kensington', 357: 'Howland Street, Fitzrovia', 358: 'High Holborn , Covent Garden', 359: 'Butler Place, Westminster', 360: 'Howick Place, Westminster', 361: 'Waterloo Station 2, Waterloo', 362: 'Royal College Street, Camden Town', 363: "Lord's, St. John's Wood", 364: 'Alfred Place, Bloomsbury', 365: 'City Road, Angel', 366: 'Millennium Hotel, Mayfair', 367: 'Harrowby Street, Marylebone', 368: 'Harriet Street, Knightsbridge', 370: 'Paddington Green, Paddington', 371: 'King Edward Walk, Waterloo', 372: 'Sardinia Street, Holborn', 373: 'Prince Consort Road, Knightsbridge', 374: 'Waterloo Station 1, Waterloo', 375: 'Kensington Town Hall, Kensington', 376: 'Millbank Tower, Pimlico', 377: 'Waterloo Bridge, South Bank', 378: 'Natural History Museum, South Kensington', 379: 'Turquoise Island, Notting Hill', 380: 'Stanhope Gate, Mayfair', 381: 'Charlotte Street, Fitzrovia', 382: 'Farm Street, Mayfair', 383: 'Frith Street, Soho', 384: 'Marloes Road, Kensington', 386: 'Moor Street, Soho', 387: 'Fire Brigade Pier, Vauxhall', 388: 'Southampton Street, Strand', 389: 'Upper Grosvenor Street, Mayfair', 390: 'Buxton Street 1, Shoreditch', 392: 'Imperial College, Knightsbridge', 393: 'Snow Hill, Farringdon', 394: "Aberdeen Place, St. John's Wood", 395: 'Cadogan Gardens, Chelsea', 396: 'Shouldham Street, Marylebone', 397: 'Devonshire Terrace, Bayswater', 398: 'Holland Park, Kensington', 399: 'Brick Lane Market, Shoreditch', 400: 'George Street, Marylebone', 401: 'Columbia Road, Shoreditch', 402: 'Penfold Street, Marylebone', 403: 'George Place Mews, Marylebone', 404: 'Palace Gate, Kensington Gardens', 405: 'Gloucester Road Station, South Kensington', 408: 'Paddington Green Police Station, Paddington', 409: 'Strata, Elephant & Castle', 410: 'Edgware Road Station, Marylebone', 411: 'Walworth Road, Elephant & Castle', 412: 'Cleaver Street, Kennington', 419: 'Chelsea Bridge, Pimlico', 420: 'Southwark Station 1, Southwark', 421: 'Southwark Station 2, Southwark', 423: 'Eaton Square (South), Belgravia', 424: 'Ebury Bridge, Pimlico', 425: 'Harrington Square 2, Camden Town', 426: 'Vincent Street, Pimlico', 427: 'Cheapside, Bank', 428: 'Exhibition Road, Knightsbridge', 430: 'South Parade, Chelsea', 431: "Crinan Street, King's Cross", 432: 'Exhibition Road Museums, South Kensington', 433: 'Wren Street, Holborn', 435: 'Kennington Station, Kennington', 436: 'Red Lion Street, Holborn', 437: 'Vauxhall Walk, Vauxhall', 439: "Killick Street, King's Cross", 440: 'Kennington Oval, Oval', 441: 'Sail Street, Vauxhall', 442: 'Walmer Road, Avondale', 443: 'Philpot Street, Whitechapel', 444: 'Bethnal Green Garden, Bethnal Green', 445: 'Cheshire Street, Bethnal Green', 446: 'York Hall, Bethnal Green', 447: 'Jubilee Crescent, Cubitt Town', 448: "Fisherman's Walk West, Canary Wharf", 449: 'Shadwell Station, Shadwell', 450: 'Jubilee Street, Stepney', 451: 'Hermitage Court, Wapping', 452: "St. Katharine's Way, Tower", 453: 'Garnet Street, Shadwell', 454: 'Napier Avenue, Millwall', 455: 'East Ferry Road, Cubitt Town', 456: 'Parkway, Camden Town', 457: 'Castlehaven Road, Camden Town', 458: 'Wapping Lane, Wapping', 459: 'Gunmakers Lane, Old Ford', 460: 'Burdett Road, Mile End', 461: 'Aston Street, Stepney', 462: 'Bonny Street, Camden Town', 463: 'Thurtle road, Haggerston', 464: 'St. Mary & St. Michael Church, Stepney', 465: 'Pitfield Street North,Hoxton', 466: 'Whiston Road, Haggerston', 467: 'Southern Grove, Bow', 468: 'Cantrell Road, Bow', 469: 'Lindfield Street, Poplar', 470: 'Mostyn Grove, Bow', 471: 'Hewison Street, Old Ford', 472: 'Malmesbury Road, Bow', 473: 'Millharbour, Millwall', 474: 'Castalia Square, Cubitt Town', 475: 'Lightermans Road, Millwall', 476: 'Stebondale Street, Cubitt Town', 477: 'Spindrift Avenue, Millwall', 478: 'Stepney Green Station, Stepney', 479: 'Pott Street, Bethnal Green', 480: 'Flamborough Street, Limehouse', 481: 'Saunders Ness Road, Cubitt Town', 483: 'Albert Gardens, Stepney', 484: 'Bromley High Street, Bow', 485: 'Old Ford Road, Bethnal Green', 486: 'Granby Street, Shoreditch', 487: 'Canton Street, Poplar', 488: 'Reardon Street, Wapping', 489: 'Christian Street, Whitechapel', 490: 'Pennington Street, Wapping', 491: "Queen Mary's, Mile End", 492: 'The Green Bridge, Mile End', 494: 'South Quay East, Canary Wharf', 495: 'Bow Church Station, Bow', 496: 'Devons Road, Bow', 497: 'Merchant Street, Bow', 498: 'Bow Road Station, Bow', 499: 'Furze Green, Bow', 500: 'Ansell House, Stepney', 501: 'Cephas Street, Bethnal Green', 502: 'Bonner Gate, Victoria Park', 503: 'Cleveland Way, Stepney', 504: "St. John's Park, Cubitt Town", 505: 'Ackroyd Drive, Bow', 506: 'Bell Lane, Liverpool Street', 507: 'Clarkson Street, Bethnal Green', 508: 'Fournier Street, Whitechapel', 509: 'Fore Street, Guildhall', 510: 'Westferry DLR, Limehouse', 511: 'Sutton Street, Shadwell', 512: "Pritchard's Road, Bethnal Green", 513: 'Watney Market, Stepney', 514: 'Portman Square, Marylebone', 515: 'Russell Gardens, Olympia', 516: 'Chrisp Street Market, Poplar', 517: 'Ford Road, Old Ford', 518: 'Antill Road, Mile End', 519: 'Teviot Street, Poplar', 520: 'Bancroft Road, Bethnal Green', 521: 'Driffield Road, Old Ford', 522: 'Clinton Road, Mile End', 523: 'Langdon Park, Poplar', 524: 'Lancaster Gate , Bayswater', 526: 'Lancaster Drive, Blackwall', 527: 'Hansard Mews, Holland Park', 528: 'Clarges Street, Mayfair', 529: 'Manresa Road, Chelsea', 530: 'Newby Place, Poplar', 531: 'Twig Folly Bridge, Mile End', 532: 'Jubilee Plaza, Canary Wharf', 533: 'Wellington Row, Bethnal Green', 534: "Goldsmith's Row, Haggerston", 535: 'Gloucester Avenue, Camden Town', 536: 'Queensbridge Road, Haggerston', 537: 'Old Montague Street, Whitechapel', 538: 'Naval Row, Blackwall', 539: 'Hoxton Station, Hoxton', 540: "Albany Street, The Regent's Park", 541: 'Green Park Station, Mayfair', 542: 'Salmon Lane, Limehouse', 543: 'Lansdowne Walk, Ladbroke Grove', 544: 'Percival Street, Finsbury', 545: 'Arlington Road, Camden Town', 546: 'New Fetter Lane, Holborn', 547: 'East India DLR, Blackwall', 548: 'Westminster Bridge Road, Elephant & Castle', 549: 'Gaywood  Street, Elephant & Castle', 550: 'Harford Street, Mile End', 551: 'Import Dock, Canary Wharf', 552: 'Watney Street, Shadwell', 553: "Regent's Row , Haggerston ", 554: 'Aberfeldy Street, Poplar', 556: 'Heron Quays DLR, Canary Wharf', 557: 'King Edward Street, St Pauls', 558: 'Page Street, Westminster', 559: 'Abbotsbury Road, Holland Park', 560: 'Ladbroke Grove Central, Ladbroke Grove', 561: 'Rectory Square, Stepney', 562: 'Bury Place, Holborn', 563: "Preston's Road, Cubitt Town", 564: 'Somerset House, Strand', 565: 'Selby Street, Whitechapel', 566: 'Westfield Ariel Way, White City', 568: "Bishop's Bridge Road West, Bayswater", 569: 'Pitfield Street Central, Hoxton', 570: 'Upper Bank Street, Canary Wharf', 571: "Westfield Southern Terrace ,Shepherd's Bush", 572: 'Greenland Road, Camden Town', 573: 'Limerston Street, West Chelsea', 574: 'Eagle Wharf Road, Hoxton', 576: 'Alpha Grove, Millwall', 577: 'Globe Town Market, Bethnal Green', 578: 'Hollybush Gardens, Bethnal Green', 579: 'Queen Street 2, Bank', 580: 'Doddington Grove, Kennington', 581: 'New Cavendish Street, Marylebone', 583: 'Abingdon Green, Westminster', 584: 'Ilchester Gardens, Bayswater', 586: 'Mudchute DLR, Cubitt Town', 587: 'Monument Street, Monument', 588: 'Hoxton Street, Hoxton', 589: 'Drayton Gardens, West Chelsea', 590: "Greenberry Street, St.John's Wood", 591: "Westfield Library Corner, Shepherd's Bush", 592: "Bishop's Bridge Road East, Bayswater", 593: "Northdown Street, King's Cross", 594: 'Kingsway Southbound, Strand', 595: 'Hammersmith Road, Hammersmith', 596: "Parson's Green , Parson's Green", 597: 'Fulham Park Road, Fulham', 598: 'Southerton Road, Hammersmith', 599

In [ ]:
events_data_2022 = compute_both_events(bd_data_2022_clean6)

In [ ]:
bd_data_2022_clean6

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
0,115967515.0,1260.000,15338.0,2022-01-01 23:00:00,310.0,"Black Prince Road, Vauxhall",2022-01-01 23:00:00,529.0,"Manresa Road, Chelsea",None,None,None,22,5
1,116017034.0,720.000,19861.0,2022-04-01 19:00:00,11.0,"Brunswick Square, Bloomsbury",2022-04-01 19:00:00,804.0,"Good's Way, King's Cross",None,None,None,18,4
2,116016563.0,480.000,19861.0,2022-04-01 19:00:00,804.0,"Good's Way, King's Cross",2022-04-01 19:00:00,57.0,"Guilford Street , Bloomsbury",None,None,None,18,4
3,116014412.0,1260.000,17235.0,2022-04-01 18:00:00,14.0,"Belgrove Street , King's Cross",2022-04-01 17:00:00,297.0,"Geraldine Street, Elephant & Castle",None,None,None,17,4
4,116013350.0,480.000,13790.0,2022-04-01 17:00:00,252.0,"Jubilee Gardens, South Bank",2022-04-01 17:00:00,310.0,"Black Prince Road, Vauxhall",None,None,None,16,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11166106,127641458.0,6544.593,53664.0,2022-12-26 02:00:00,491.0,"Queen Mary's, Mile End",2022-12-26 00:00:00,613.0,"Woodstock Grove, Shepherd's Bush",200214,200249,CLASSIC,0,0
11166107,127641459.0,1936.877,54303.0,2022-12-26 01:00:00,542.0,"Salmon Lane, Limehouse",2022-12-26 00:00:00,298.0,"Curlew Street, Shad Thames",1213,200147,CLASSIC,0,0
11166108,127641453.0,2955.280,21426.0,2022-12-26 01:00:00,523.0,"Langdon Park, Poplar",2022-12-26 00:00:00,298.0,"Curlew Street, Shad Thames",1213,200160,CLASSIC,0,0
11166109,127641454.0,5427.555,54786.0,2022-12-26 02:00:00,473.0,"Millharbour, Millwall",2022-12-26 00:00:00,473.0,"Millharbour, Millwall",22167,22167,CLASSIC,0,0
11166110,127641455.0,2902.467,30605.0,2022-12-26 01:00:00,523.0,"Langdon Park, Poplar",2022-12-26 00:00:00,298.0,"Curlew Street, Shad Thames",1213,200160,CLASSIC,0,0

In [ ]:
# Finally rename the columns according to the chosen names for stations.
events_2022 = events_data_2022.rename(mapper=id_station_dict, axis=1, level=0)
events_2022 = events_2022.sort_index(axis=1, level=0)

4 stations id 147, 391, 482, 525, still seem to have names assocaited with them.
Let's try to figure out wha thte station names might be

filtering the data using the following code revealed the station names for 
```
id = ...
bd_data_2022_clean6[bd_data_2022_clean6['StartStation Id'] == id]
```
- Id 147 is Portugal Street, Holborn
- Id 391 is Clifford Street, Mayfair
- Id 482 is Exhibition Road Museums 2, South Kensington
- Id 525 is Blythe Road, Olympia (note, of of the 4769 rows associated with 512, 4694 are Blythe Road, Olympia whilst 75 are Cartier Circle, Canary Whard. We assume this to be an error and go with Names over Id in this instance)

In [ ]:
test = bd_data_2022_clean6[bd_data_2022_clean6['StartStation Id'] == 525]

test['StartStation Name'].value_counts()

Blythe Road, Olympia            4694
Cartier Circle, Canary Wharf      75
Name: StartStation Name, dtype: int64

In [ ]:
add_4_ids_dict = {147 : 'Portugal Street, Holborn', 
                  391 : 'Clifford Street, Mayfair', 
                  482 : 'Exhibition Road Museums 2, South Kensington', 
                  525 : 'Blythe Road, Olympia'}

In [ ]:
add_4_ids_dict

{147: 'Portugal Street, Holborn',
 391: 'Clifford Street, Mayfair',
 482: 'Exhibition Road Museums 2, South Kensington',
 525: 'Blythe Road, Olympia'}

In [ ]:
#append dictionary with dictionary of 4 additional stations using use the update() method.
id_station_dict.update(add_4_ids_dict)

In [ ]:
print(id_station_final_dict)

None

In [ ]:
# renaming the final 4 columns 
events_final_2022 = events_data_2022.rename(mapper=id_station_dict, axis=1, level=0)
events_final_2022 = events_final_2022.sort_index(axis=1, level=0)

In [ ]:
events_final_2022

Station             Abbey Orchard Street, Westminster             \
                                             Arrivals Departures
Date
2022-01-01 00:00:00                               0.0        0.0
2022-01-01 01:00:00                               1.0       24.0
2022-01-01 02:00:00                               1.0        9.0
2022-01-01 03:00:00                               4.0        0.0
2022-01-01 04:00:00                               0.0        0.0
...                                               ...        ...
2023-01-13 15:00:00                               0.0        0.0
2023-01-13 17:00:00                               0.0        0.0
2023-01-13 18:00:00                               0.0        0.0
2023-01-16 13:00:00                               0.0        0.0
2023-01-17 08:00:00                               0.0        0.0

Station             Abbotsbury Road, Holland Park             \
                                         Arrivals Departures
Date
2022-01-01 00:00:00                           0.0        0.0
2022-01-01 01:00:00                           0.0        0.0
2022-01-01 02:00:00                           0.0        0.0
2022-01-01 03:00:00                           0.0        1.0
2022-01-01 04:00:00                           0.0        0.0
...                                           ...        ...
2023-01-13 15:00:00                           0.0        0.0
2023-01-13 17:00:00                           0.0        0.0
2023-01-13 18:00:00                           0.0        0.0
2023-01-16 13:00:00                           0.0        0.0
2023-01-17 08:00:00                           0.0        0.0

Station             Aberdeen Place, St. John's Wood             \
                                           Arrivals Departures
Date
2022-01-01 00:00:00                             0.0        0.0
2022-01-01 01:00:00                             0.0        0.0
2022-01-01 02:00:00                             4.0        0.0
2022-01-01 03:00:00                             0.0        0.0
2022-01-01 04:00:00                             0.0        0.0
...                                             ...        ...
2023-01-13 15:00:00                             0.0        0.0
2023-01-13 17:00:00                             0.0        0.0
2023-01-13 18:00:00                             0.0        0.0
2023-01-16 13:00:00                             0.0        0.0
2023-01-17 08:00:00                             0.0        0.0

Station             Aberfeldy Street, Poplar             \
                                    Arrivals Departures
Date
2022-01-01 00:00:00                      0.0        0.0
2022-01-01 01:00:00                      1.0        0.0
2022-01-01 02:00:00                      0.0        0.0
2022-01-01 03:00:00                      0.0        0.0
2022-01-01 04:00:00                      0.0        0.0
...                                      ...        ...
2023-01-13 15:00:00                      0.0        0.0
2023-01-13 17:00:00                      0.0        0.0
2023-01-13 18:00:00                      0.0        0.0
2023-01-16 13:00:00                      0.0        0.0
2023-01-17 08:00:00                      0.0        0.0

Station             Abingdon Green, Westminster             ...  \
                                       Arrivals Departures  ...
Date                                                        ...
2022-01-01 00:00:00                         0.0        7.0  ...
2022-01-01 01:00:00                         8.0       24.0  ...
2022-01-01 02:00:00                         1.0        4.0  ...
2022-01-01 03:00:00                        14.0        3.0  ...
2022-01-01 04:00:00                         0.0        0.0  ...
...                                         ...        ...  ...
2023-01-13 15:00:00                         0.0        0.0  ...
2023-01-13 17:00:00                         0.0        0.0  ...
2023-01-13 18:00:00                         0.0        0.0  ...
2023-01-16 13:00:00                         0.0        0.0  ...
2023-01-17 08:00:00                         0.0        0.0  ...

Station             Wren Street, Holborn            Wright's Lane, Kensington  \
                                Arrivals Departures                  Arrivals
Date
2022-01-01 00:00:00                  0.0        0.0                       1.0
2022-01-01 01:00:00                 12.0        0.0                       6.0
2022-01-01 02:00:00                  4.0        2.0                       0.0
2022-01-01 03:00:00                  1.0        0.0                       0.0
2022-01-01 04:00:00                  2.0        1.0                       0.0
...                                  ...        ...                       ...
2023-01-13 15:00:00                  0.0        0.0                       0.0
2023-01-13 17:00:00                  0.0        0.0                       0.0
2023-01-13 18:00:00                  0.0        0.0                       0.0
2023-01-16 13:00:00                  0.0        0.0                       0.0
2023-01-17 08:00:00                  0.0        0.0                       0.0

Station                        Wynne Road, Stockwell             \
                    Departures              Arrivals Departures
Date
2022-01-01 00:00:00        0.0                   0.0        0.0
2022-01-01 01:00:00        0.0                   0.0        0.0
2022-01-01 02:00:00        0.0                   2.0        4.0
2022-01-01 03:00:00        1.0                   0.0        0.0
2022-01-01 04:00:00        1.0                   0.0        1.0
...                        ...                   ...        ...
2023-01-13 15:00:00        0.0                   0.0        0.0
2023-01-13 17:00:00        0.0                   0.0        0.0
2023-01-13 18:00:00        0.0                   0.0        0.0
2023-01-16 13:00:00        0.0                   0.0        0.0
2023-01-17 08:00:00        0.0                   0.0        0.0

Station             York Hall, Bethnal Green            York Way, Kings Cross  \
                                    Arrivals Departures              Arrivals
Date
2022-01-01 00:00:00                      0.0        0.0                   0.0
2022-01-01 01:00:00                      2.0        0.0                   0.0
2022-01-01 02:00:00                      1.0        3.0                   1.0
2022-01-01 03:00:00                      1.0        1.0                   0.0
2022-01-01 04:00:00                      2.0        9.0                   2.0
...                                      ...        ...                   ...
2023-01-13 15:00:00                      0.0        0.0                   0.0
2023-01-13 17:00:00                      0.0        0.0                   0.0
2023-01-13 18:00:00                      0.0        0.0                   0.0
2023-01-16 13:00:00                      0.0        0.0                   0.0
2023-01-17 08:00:00                      0.0        0.0                   0.0

Station
                    Departures
Date
2022-01-01 00:00:00        0.0
2022-01-01 01:00:00        0.0
2022-01-01 02:00:00        0.0
2022-01-01 03:00:00        0.0
2022-01-01 04:00:00        0.0
...                        ...
2023-01-13 15:00:00        0.0
2023-01-13 17:00:00        0.0
2023-01-13 18:00:00        0.0
2023-01-16 13:00:00        0.0
2023-01-17 08:00:00        0.0

[8211 rows x 1666 columns]

In [ ]:
events_clean_2022 = events_final_2022.drop(events_final_2022.tail(82).index)

Uploaded the cleaned 2022 data with all rows having Stations Id's to postgres

In [ ]:
# connection to postgres database
conn = psycopg2.connect(
    user="postgres",
    password="password123",
    host="localhost",
    database="diss_data",
)

# Create a SQLAlchemy engine: Create a SQLAlchemy engine using the create_engine function, which will be used to write the DataFrame to the database.
engine = create_engine('postgresql+psycopg2://postgres:password123@localhost:5432/diss_data')

# Export the DataFrame to the database: Once you have the connection and engine set up, you can use the to_sql method of the DataFrame to export it to the database.
# save the DataFrame to the PostgreSQL database
# set the index parameter to False to avoid saving the DataFrame's index as a separate column in the database.
bd_data_2022_clean6.to_sql('bike_data_2022_tb_v03', engine, if_exists='replace', index=False)

Exporting the the events data frame as a pickle

In [203]:
import pickle
import os
from pathlib import Path
events_path = Path("data/events_2019.p")

# Store the file on disk so we can read it later.
events_2019.to_pickle(events_path)

In [184]:
events_path_2022 = Path("data/events_2022.p")
events_final_2022.to_pickle(events_path_2022)

In [ ]:
#dropping the last 82 rows as they a in 2023 
events_clean_2022 = events_2022.drop(events_2022.tail(82).index)

events_path = Path("data/events_v02_2022.p")

# Store the file on disk so we can read it later.
events_clean_2022.to_pickle(events_path)