# TFL Bike data prep
___

#### Exploratory data analysis as part of my MSc thesis, "Using machine learning to predict Transport for London bike sharing habits in the post COVID-19 era".

The following code for downloading the data has been adopted from [Markus Hauru's](https://github.com/mhauru) analysis, 'Predicting Boris Bike usage'.

In [14]:
# importing libraries

import os
import pickle
import requests
import zipfile
import pandas as pd
import numpy as np
import scipy as sp
import statsmodels.api as sm
from sklearn import linear_model, svm, neighbors, tree
from matplotlib import pyplot as plt
import matplotlib
import seaborn as sns
from pathlib import Path
from timeit import default_timer as timer
from IPython.display import set_matplotlib_formats
from urllib.parse import urlparse
import openpyxl

try:
    import xlrd
except Exception as e:
    msg = (
        "Please install the package xlrd: `pip install --user xlrd`"
        "It's an optional requirement for pandas, and we'll be needing it."
    )
    print(msg)
    raise e

In [15]:
# For pretty and exportable matplotlib plots.
# If you are running this yourself and want interactivity,
# try `%matplotlib widget` instead.
set_matplotlib_formats("svg")
%matplotlib inline
# %matplotlib widget
# Set a consistent plotting style across the notebook using Seaborn.
sns.set_style("darkgrid")
sns.set_context("notebook")
# Make pandas cooperate with pyplot
pd.plotting.register_matplotlib_converters()

C:\Users\EMoses\AppData\Local\Temp\ipykernel_27248\99259732.py:4: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats("svg")

1. Processing and cleaning the bike data
Before getting anywhere with it, we'll need to process the bike data quite a bit. The data comes in CSV files, each of which covers a period of time. Up first, we need to download the data from the TfL website. If you are running this code yourself, here's a script that does that. Be warned though, it's almost seven gigs of data. You can run it repeatedly, and it'll only download data that it doesn't have already.

In [16]:
bikefolder = "data/bikes"

In [17]:
def download_file(datafolder, url, verbosity=0):
    """Download the data from the given URL into the datafolder, unless it's
    already there. Return path to downloaded file.
    """
    datafolder = Path(datafolder)
    datafolder.mkdir(parents=True, exist_ok=True)

    a = urlparse(url)
    filename = Path(os.path.basename(a.path))
    filepath = datafolder / filename
    # Don't redownload if we already have this file.
    if filepath.exists():
        if verbosity > 1:
            print("Already have {}".format(filename))
    else:
        if verbosity > 0:
            print("Downloading {}".format(filename))
        rqst = requests.get(url)
        rqst.raise_for_status()
        with open(filepath, "wb") as f:
            f.write(rqst.content)
    return filepath

In [18]:
# Adjust whether to print progress reports of the downloads.
# verbosity=0 is silence, verbosity=1 reports only when actually doing things,
# verbosity>1 also reports when there's nothing to do.
verbosity = 1

# Most files are individual CSV files, listed in bike_data_urls.txt. Download them.
urlsfile = "data/bikes/bike_data_urls.txt"
with open(urlsfile, "r") as f:
    urls = f.read().splitlines()
# There are a few comments in the file, marked by lines starting with #.
# Filter them out.
urls = [u for u in urls if u[0] != "#"]
for url in urls:
    download_file(bikefolder, url, verbosity)

# The early years come in zips. Download and unzip them.
zipsfolder = Path("data/bikes/bikezips")
bikezipurls = [
    "https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2012.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2013.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2014.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/2015TripDatazip.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/2016TripDataZip.zip",
]
# A list of CSV files that are already there. Only unzip if some of the files
# in the zip aren't present already.
current_csvs = sorted(os.listdir(bikefolder))
for url in bikezipurls:
    zippath = download_file(zipsfolder, url, verbosity)
    with zipfile.ZipFile(zippath, "r") as z:
        namelist = z.namelist()
        has_been_extracted = any(name not in current_csvs for name in namelist)
        if has_been_extracted:
            if verbosity > 0:
                print("Unzipping {}".format(zippath))
            z.extractall(bikefolder)
        else:
            if verbosity > 1:
                print("{} has already been extracted.".format(zippath))

# Finally, there's an odd one out: One week's data comes in as an .xlsx.
# Download it and use pandas to convert it to csv.
xlsxurl = "https://cycling.data.tfl.gov.uk/usage-stats/49JourneyDataExtract15Mar2017-21Mar2017.xlsx"
xlsxfile = download_file(bikefolder, xlsxurl)
csvfile = xlsxfile.with_suffix(".csv")
if not csvfile.exists():
    if verbosity > 0:
        print("Converting .xlsx to .csv.")
    pd.read_excel(xlsxfile).to_csv(csvfile, date_format="%d/%m/%Y %H:%M:%S")
else:
    if verbosity > 1:
        print("Already have {}".format(csvfile))

The data we have now lists on each line of the CSV file a single bike trip, with starting point and time, end point and time, and things like bike ID number. Here's an example.

In [19]:
example_file  = Path(bikefolder) / Path("47JourneyDataExtract01Mar2017-07Mar2017.csv")
pd.read_csv(example_file, encoding="ISO-8859-2").head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,62857677,3780.0,7851,06/03/2017 19:20,43.0,"Crawford Street, Marylebone",06/03/2017 18:17,811,"Westferry Circus, Canary Wharf"
1,62863035,540.0,4089,06/03/2017 22:17,295.0,"Swan Street, The Borough",06/03/2017 22:08,272,"Baylis Road, Waterloo"
2,62775896,600.0,4895,02/03/2017 21:27,295.0,"Swan Street, The Borough",02/03/2017 21:17,197,"Stamford Street, South Bank"
3,62747748,420.0,4347,01/03/2017 21:08,295.0,"Swan Street, The Borough",01/03/2017 21:01,803,"Southwark Street, Bankside"
4,62843939,420.0,3192,06/03/2017 09:28,193.0,"Bankside Mix, Bankside",06/03/2017 09:21,197,"Stamford Street, South Bank"

In [20]:
bikefolder

'data/bikes'

In [21]:
from glob import glob 

# using glob to list all the csv file in the bikefolder filepath
all_csv = glob(bikefolder+str('/*.csv'))
all_csv

['data/bikes\\01aJourneyDataExtract10Jan16-23Jan16.csv',
 'data/bikes\\01bJourneyDataExtract24Jan16-06Feb16.csv',
 'data/bikes\\02aJourneyDataExtract07Feb16-20Feb2016.csv',
 'data/bikes\\02bJourneyDataExtract21Feb16-05Mar2016.csv',
 'data/bikes\\03JourneyDataExtract06Mar2016-31Mar2016.csv',
 'data/bikes\\04JourneyDataExtract01Apr2016-30Apr2016.csv',
 'data/bikes\\05JourneyDataExtract01May2016-17May2016.csv',
 'data/bikes\\06JourneyDataExtract18May2016-24May2016.csv',
 'data/bikes\\07JourneyDataExtract25May2016-31May2016.csv',
 'data/bikes\\08JourneyDataExtract01Jun2016-07Jun2016.csv',
 'data/bikes\\09JourneyDataExtract08Jun2016-14Jun2016.csv',
 'data/bikes\\1. Journey Data Extract 01Jan-05Jan13.csv',
 'data/bikes\\1. Journey Data Extract 04Jan-31Jan 12.csv',
 'data/bikes\\1. Journey Data Extract 05Jan14-02Feb14.csv',
 'data/bikes\\10. Journey Data Extract 18Aug-13Sep13.csv',
 'data/bikes\\10. Journey Data Extract 21Aug-22 Aug12.csv',
 'data/bikes\\10a Journey Data Extract 20Sep15-03Oct15.csv',
 'data/bikes\\10a. Journey Data Extract 14Sep14-27Sep14.csv',
 'data/bikes\\10b Journey Data Extract 04Oct15-17Oct15.csv',
 'data/bikes\\10b. Journey Data Extract 28Sep14-11Oct14.csv',
 'data/bikes\\10JourneyDataExtract15Jun2016-21Jun2016.csv',
 'data/bikes\\11. Journey Data Extract 14Sep13-12Oct13.csv',
 'data/bikes\\11. Journey Data Extract 23Aug-25 Aug12.csv',
 'data/bikes\\11a Journey Data Extract 18Oct15-31Oct15.csv',
 'data/bikes\\11a. Journey Data Extract 12Oct14-08Nov14.csv',
 'data/bikes\\11b Journey Data Extract 01Nov15-14Nov15.csv',
 'data/bikes\\11b. Journey Data Extract 12Oct14-08Nov14.csv',
 'data/bikes\\11JourneyDataExtract22Jun2016-28Jun2016.csv',
 'data/bikes\\12. Journey Data Extract 13Oct13-09Nov13.csv',
 'data/bikes\\12. Journey Data Extract 26Aug-27 Aug12.csv',
 'data/bikes\\12a Journey Data Extract 15Nov15-27Nov15.csv',
 'data/bikes\\12a. Journey Data Extract 09Nov14-06Dec14.csv',
 'data/bikes\\12b Journey Data Extract 28Nov15-12Dec15.csv',
 'data/bikes\\12b. Journey Data Extract 09Nov14-06Dec14.csv',
 'data/bikes\\12JourneyDataExtract29Jun2016-05Jul2016.csv',
 'data/bikes\\13. Journey Data Extract 10Nov13-07Dec13.csv',
 'data/bikes\\13. Journey Data Extract 28Aug-29 Aug12.csv',
 'data/bikes\\13a Journey Data Extract 13Dec15-24Dec15.csv',
 'data/bikes\\13a. Journey Data Extract 07Dec14-21Dec14.csv',
 'data/bikes\\13b Journey Data Extract 25Dec15-09Jan16.csv',
 'data/bikes\\13b. Journey Data Extract 22Dec14-03Jan15.csv',
 'data/bikes\\13JourneyDataExtract06Jul2016-12Jul2016.csv',
 'data/bikes\\14. Journey Data Extract 08Dec13-04Jan14.csv',
 'data/bikes\\14. Journey Data Extract 30Aug-31 Aug12.csv',
 'data/bikes\\142JourneyDataExtract26Dec2018-01Jan2019.csv',
 'data/bikes\\143JourneyDataExtract02Jan2019-08Jan2019.csv',
 'data/bikes\\144JourneyDataExtract09Jan2019-15Jan2019.csv',
 'data/bikes\\145JourneyDataExtract16Jan2019-22Jan2019.csv',
 'data/bikes\\146JourneyDataExtract23Jan2019-29Jan2019.csv',
 'data/bikes\\147JourneyDataExtract30Jan2019-05Feb2019.csv',
 'data/bikes\\148JourneyDataExtract06Feb2019-12Feb2019.csv',
 'data/bikes\\149JourneyDataExtract13Feb2019-19Feb2019.csv',
 'data/bikes\\14JourneyDataExtract13Jul2016-19Jul2016.csv',
 'data/bikes\\15. Journey Data Extract 01Sep-30Sep12.csv',
 'data/bikes\\150JourneyDataExtract20Feb2019-26Feb2019.csv',
 'data/bikes\\151JourneyDataExtract27Feb2019-05Mar2019.csv',
 'data/bikes\\152JourneyDataExtract06Mar2019-12Mar2019.csv',
 'data/bikes\\153JourneyDataExtract13Mar2019-19Mar2019.csv',
 'data/bikes\\154JourneyDataExtract20Mar2019-26Mar2019.csv',
 'data/bikes\\155JourneyDataExtract27Mar2019-02Apr2019.csv',
 'data/bikes\\156JourneyDataExtract03Apr2019-09Apr2019.csv',
 'data/bikes\\157JourneyDataExtract10Apr2019-16Apr2019.csv',
 'data/bikes\\158JourneyDataExtract17Apr2019-23Apr2019.csv',
 'data/bikes\\159JourneyDataExtract24Apr2019-30Apr2019.csv',
 'data/bikes\\15JourneyDataExtract20Jul2016-26Jul2016.csv',
 'data/bikes\\16. Journey Data Extract 01Oct-31Oct12.csv',
 'data/bikes\\160JourneyDataExtract01May2019-07May2019.csv',
 'data/bikes\\161JourneyDataExtract08May2019-14May2019.csv',
 'data/bikes\\162JourneyDataExtract15May2019-21May2019.csv',
 'data/bikes\\163JourneyDataExtract22May2019-28May2019.csv',
 'data/bikes\\164JourneyDataExtract29May2019-04Jun2019.csv',
 'data/bikes\\165JourneyDataExtract05Jun2019-11Jun2019.csv',
 'data/bikes\\166JourneyDataExtract12Jun2019-18Jun2019.csv',
 'data/bikes\\167JourneyDataExtract19Jun2019-25Jun2019.csv',
 'data/bikes\\168JourneyDataExtract26Jun2019-02Jul2019.csv',
 'data/bikes\\169JourneyDataExtract03Jul2019-09Jul2019.csv',
 'data/bikes\\16JourneyDataExtract27Jul2016-02Aug2016.csv',
 'data/bikes\\17. Journey Data Extract 01Nov-30Nov12.csv',
 'data/bikes\\170JourneyDataExtract10Jul2019-16Jul2019.csv',
 'data/bikes\\171JourneyDataExtract17Jul2019-23Jul2019.csv',
 'data/bikes\\172JourneyDataExtract24Jul2019-30Jul2019.csv',
 'data/bikes\\173JourneyDataExtract31Jul2019-06Aug2019.csv',
 'data/bikes\\174JourneyDataExtract07Aug2019-13Aug2019.csv',
 'data/bikes\\175JourneyDataExtract14Aug2019-20Aug2019.csv',
 'data/bikes\\176JourneyDataExtract21Aug2019-27Aug2019.csv',
 'data/bikes\\177JourneyDataExtract28Aug2019-03Sep2019.csv',
 'data/bikes\\178JourneyDataExtract04Sep2019-10Sep2019.csv',
 'data/bikes\\179JourneyDataExtract11Sep2019-17Sep2019.csv',
 'data/bikes\\17JourneyDataExtract03Aug2016-09Aug2016.csv',
 'data/bikes\\18. Journey Data Extract 01Dec-31Dec12.csv',
 'data/bikes\\180JourneyDataExtract18Sep2019-24Sep2019.csv',
 'data/bikes\\181JourneyDataExtract25Sep2019-01Oct2019.csv',
 'data/bikes\\182JourneyDataExtract02Oct2019-08Oct2019.csv',
 'data/bikes\\183JourneyDataExtract09Oct2019-15Oct2019.csv',
 'data/bikes\\184JourneyDataExtract16Oct2019-22Oct2019.csv',
 'data/bikes\\185JourneyDataExtract23Oct2019-29Oct2019.csv',
 'data/bikes\\186JourneyDataExtract30Oct2019-05Nov2019.csv',
 'data/bikes\\187JourneyDataExtract06Nov2019-12Nov2019.csv',
 'data/bikes\\188JourneyDataExtract13Nov2019-19Nov2019.csv',
 'data/bikes\\189JourneyDataExtract20Nov2019-26Nov2019.csv',
 'data/bikes\\18JourneyDataExtract10Aug2016-16Aug2016.csv',
 'data/bikes\\190JourneyDataExtract27Nov2019-03Dec2019.csv',
 'data/bikes\\191JourneyDataExtract04Dec2019-10Dec2019.csv',
 'data/bikes\\192JourneyDataExtract11Dec2019-17Dec2019.csv',
 'data/bikes\\193JourneyDataExtract18Dec2019-24Dec2019.csv',
 'data/bikes\\194JourneyDataExtract25Dec2019-31Dec2019.csv',
 'data/bikes\\19JourneyDataExtract17Aug2016-23Aug2016.csv',
 'data/bikes\\1a.JourneyDataExtract04Jan15-17Jan15.csv',
 'data/bikes\\1b.JourneyDataExtract18Jan15-31Jan15.csv',
 'data/bikes\\2. Journey Data Extract 03Feb14-01Mar14.csv',
 'data/bikes\\2. Journey Data Extract 06Jan-02Feb13.csv',
 'data/bikes\\2. Journey Data Extract_01Feb-29Feb 12.csv',
 'data/bikes\\20JourneyDataExtract24Aug2016-30Aug2016.csv',
 'data/bikes\\21JourneyDataExtract31Aug2016-06Sep2016.csv',
 'data/bikes\\22JourneyDataExtract07Sep2016-13Sep2016.csv',
 'data/bikes\\23JourneyDataExtract14Sep2016-20Sep2016.csv',
 'data/bikes\\24JourneyDataExtract21Sep2016-27Sep2016.csv',
 'data/bikes\\25JourneyDataExtract28Sep2016-04Oct2016.csv',
 'data/bikes\\26JourneyDataExtract05Oct2016-11Oct2016.csv',
 'data/bikes\\27JourneyDataExtract12Oct2016-18Oct2016.csv',
 'data/bikes\\28JourneyDataExtract19Oct2016-25Oct2016.csv',
 'data/bikes\\298JourneyDataExtract29Dec2021-04Jan2022.csv',
 'data/bikes\\299JourneyDataExtract05Jan2022-11Jan2022.csv',
 'data/bikes\\29JourneyDataExtract26Oct2016-01Nov2016.csv',
 'data/bikes\\2a.JourneyDataExtract01Feb15-14Feb15.csv',
 'data/bikes\\2b.JourneyDataExtract15Feb15-28Feb15.csv',
 'data/bikes\\3. Journey Data Extract 02Mar14-31Mar14.csv',
 'data/bikes\\3. Journey Data Extract 03Feb-02Mar13.csv',
 'data/bikes\\3. Journey Data Extract_01Mar-31Mar12.csv',
 'data/bikes\\300JourneyDataExtract12Jan2022-18Jan2022.csv',
 'data/bikes\\301JourneyDataExtract19Jan2022-25Jan2022.csv',
 'data/bikes\\302JourneyDataExtract26Jan2022-01Feb2022.csv',
 'data/bikes\\303JourneyDataExtract02Feb2022-08Feb2022.csv',
 'data/bikes\\304JourneyDataExtract09Feb2022-15Feb2022.csv',
 'data/bikes\\305JourneyDataExtract16Feb2022-22Feb2022.csv',
 'data/bikes\\306JourneyDataExtract23Feb2022-01Mar2022.csv',
 'data/bikes\\307JourneyDataExtract02Mar2022-08Mar2022.csv',
 'data/bikes\\308JourneyDataExtract09Mar2022-15Mar2022.csv',
 'data/bikes\\309JourneyDataExtract16Mar2022-22Mar2022.csv',
 'data/bikes\\30JourneyDataExtract02Nov2016-08Nov2016.csv',
 'data/bikes\\310JourneyDataExtract23Mar2022-29Mar2022.csv',
 'data/bikes\\311JourneyDataExtract30Mar2022-05Apr2022.csv',
 'data/bikes\\312JourneyDataExtract06Apr2022-12Apr2022.csv',
 'data/bikes\\313JourneyDataExtract13Apr2022-19Apr2022.csv',
 'data/bikes\\314JourneyDataExtract20Apr2022-26Apr2022.csv',
 'data/bikes\\315JourneyDataExtract27Apr2022-03May2022.csv',
 'data/bikes\\316JourneyDataExtract04May2022-10May2022.csv',
 'data/bikes\\317JourneyDataExtract11May2022-17May2022.csv',
 'data/bikes\\318JourneyDataExtract18May2022-24May2022.csv',
 'data/bikes\\319JourneyDataExtract25May2022-31May2022.csv',
 'data/bikes\\31JourneyDataExtract09Nov2016-15Nov2016.csv',
 'data/bikes\\320JourneyDataExtract01Jun2022-07Jun2022.csv',
 'data/bikes\\321JourneyDataExtract08Jun2022-14Jun2022.csv',
 'data/bikes\\322JourneyDataExtract15Jun2022-21Jun2022.csv',
 'data/bikes\\323JourneyDataExtract22Jun2022-28Jun2022.csv',
 'data/bikes\\324JourneyDataExtract29Jun2022-05Jul2022.csv',
 'data/bikes\\325JourneyDataExtract06Jul2022-12Jul2022.csv',
 'data/bikes\\326JourneyDataExtract13Jul2022-19Jul2022.csv',
 'data/bikes\\327JourneyDataExtract20Jul2022-26Jul2022.csv',
 'data/bikes\\328JourneyDataExtract27Jul2022-02Aug2022.csv',
 'data/bikes\\329JourneyDataExtract03Aug2022-09Aug2022.csv',
 'data/bikes\\32JourneyDataExtract16Nov2016-22Nov2016.csv',
 'data/bikes\\330JourneyDataExtract10Aug2022-16Aug2022.csv',
 'data/bikes\\331JourneyDataExtract17Aug2022-23Aug2022.csv',
 'data/bikes\\332JourneyDataExtract24Aug2022-30Aug2022.csv',
 'data/bikes\\333JourneyDataExtract31Aug2022-06Sep2022.csv',
 'data/bikes\\334JourneyDataExtract07Sep2022-11Sep2022.csv',
 'data/bikes\\335JourneyDataExtract12Sep2022-18Sep2022.csv',
 'data/bikes\\336JourneyDataExtract19Sep2022-25Sep2022.csv',
 'data/bikes\\337JourneyDataExtract26Sep2022-02Oct2022.csv',
 'data/bikes\\338JourneyDataExtract03Oct2022-09Oct2022.csv',
 'data/bikes\\339JourneyDataExtract10Oct2022-16Oct2022.csv',
 'data/bikes\\33JourneyDataExtract23Nov2016-29Nov2016.csv',
 'data/bikes\\340JourneyDataExtract17Oct2022-23Oct2022.csv',
 'data/bikes\\341JourneyDataExtract24Oct2022-30Oct2022.csv',
 'data/bikes\\342JourneyDataExtract31Oct2022-06Nov2022.csv',
 'data/bikes\\343JourneyDataExtract07Nov2022-13Nov2022.csv',
 'data/bikes\\344JourneyDataExtract14Nov2022-20Nov2022.csv',
 'data/bikes\\345JourneyDataExtract21Nov2022-27Nov2022.csv',
 'data/bikes\\346JourneyDataExtract28Nov2022-04Dec2022.csv',
 'data/bikes\\347JourneyDataExtract05Dec2022-11Dec2022.csv',
 'data/bikes\\348JourneyDataExtract12Dec2022-18Dec2022.csv',
 'data/bikes\\349JourneyDataExtract19Dec2022-25Dec2022.csv',
 'data/bikes\\34JourneyDataExtract30Nov2016-06Dec2016.csv',
 'data/bikes\\350JourneyDataExtract26Dec2022-01Jan2023.csv',
 'data/bikes\\35JourneyDataExtract07Dec2016-13Dec2016.csv',
 'data/bikes\\36JourneyDataExtract14Dec2016-20Dec2016.csv',
 'data/bikes\\37JourneyDataExtract21Dec2016-27Dec2016.csv',
 'data/bikes\\38JourneyDataExtract28Dec2016-03Jan2017.csv',
 'data/bikes\\39JourneyDataExtract04Jan2017-10Jan2017.csv',
 'data/bikes\\3a.JourneyDataExtract01Mar15-15Mar15.csv',
 'data/bikes\\3b.JourneyDataExtract16Mar15-31Mar15.csv',
 'data/bikes\\4. Journey Data Extract 01Apr14-26Apr14.csv',
 'data/bikes\\4. Journey Data Extract 03Mar-31Mar13.csv',
 'data/bikes\\4. Journey Data Extract_1Apr-28Apr12.csv',
 'data/bikes\\40JourneyDataExtract11Jan2017-17Jan2017.csv',
 'data/bikes\\41JourneyDataExtract18Jan2017-24Jan2017.csv',
 'data/bikes\\42JourneyDataExtract25Jan2017-31Jan2017.csv',
 'data/bikes\\43JourneyDataExtract01Feb2017-07Feb2017.csv',
 'data/bikes\\44JourneyDataExtract08Feb2017-14Feb2017.csv',
 'data/bikes\\45JourneyDataExtract15Feb2017-21Feb2017.csv',
 'data/bikes\\46JourneyDataExtract22Feb2017-28Feb2017.csv',
 'data/bikes\\47JourneyDataExtract01Mar2017-07Mar2017.csv',
 'data/bikes\\48JourneyDataExtract08Mar2017-14Mar2017.csv',
 'data/bikes\\49JourneyDataExtract15Mar2017-21Mar2017.csv',
 'data/bikes\\4a.JourneyDataExtract01Apr15-16Apr15.csv',
 'data/bikes\\4b.JourneyDataExtract 17Apr15-02May15.csv',
 'data/bikes\\5. Journey Data Extract 01Apr-27Apr13.csv',
 'data/bikes\\5. Journey Data Extract 27Apr14-24May14.csv',
 'data/bikes\\5. Journey Data Extract_29Apr-26May12.csv',
 'data/bikes\\50 Journey Data Extract 22Mar2017-28Mar2017.csv',
 'data/bikes\\51 Journey Data Extract 29Mar2017-04Apr2017.csv',
 'data/bikes\\52 Journey Data Extract 05Apr2017-11Apr2017.csv',
 'data/bikes\\53JourneyDataExtract12Apr2017-18Apr2017.csv',
 'data/bikes\\54JourneyDataExtract19Apr2017-25Apr2017.csv',
 'data/bikes\\55JourneyData Extract26Apr2017-02May2017.csv',
 'data/bikes\\56JourneyDataExtract 03May2017-09May2017.csv',
 'data/bikes\\57JourneyDataExtract10May2017-16May2017.csv',
 'data/bikes\\5a.JourneyDataExtract03May15-16May15.csv',
 'data/bikes\\5b.JourneyDataExtract17May15-30May15.csv',
 'data/bikes\\6. Journey Data Extract 25May14-21Jun14.csv',
 'data/bikes\\6. Journey Data Extract 28Apr-25May13.csv',
 'data/bikes\\6. Journey Data Extract_27May-23Jun12.csv',
 'data/bikes\\6aJourneyDataExtract31May15-12Jun15.csv',
 'data/bikes\\6bJourneyDataExtract13Jun15-27Jun15.csv',
 'data/bikes\\7. Journey Data Extract 22Jun14-19Jul14.csv',
 'data/bikes\\7. Journey Data Extract 26May-22Jun13.csv',
 'data/bikes\\7. Journey Data Extract_24Jun-21Jul12.csv',
 'data/bikes\\7a.JourneyDataExtract28Jun15-11Jul15.csv',
 'data/bikes\\7b.JourneyDataExtract12Jul15-25Jul15.csv',
 'data/bikes\\8. Journey Data Extract 22Jul-18Aug12.csv',
 'data/bikes\\8. Journey Data Extract 23Jun-20Jul13.csv',
 'data/bikes\\8a Journey Data Extract 20Jul14-31Jul14.csv',
 'data/bikes\\8aJourneyDataExtract26Jul15-07Aug15.csv',
 'data/bikes\\8b Journey Data Extract 01Aug14-16Aug14.csv',
 'data/bikes\\8bJourneyData Extract 08Aug15-22Aug15.csv',
 'data/bikes\\9. Journey Data Extract 19Aug-20 Aug12.csv',
 'data/bikes\\9. Journey Data Extract 21Jul-17Aug13.csv',
 'data/bikes\\9a Journey Data Extract 17Aug14-31Aug14.csv',
 'data/bikes\\9a-Journey-Data-Extract-23Aug15-05Sep15.csv',
 'data/bikes\\9b Journey Data Extract 01Sep14-13Sep14.csv',
 'data/bikes\\9b-Journey-Data-Extract-06Sep15-19Sep15.csv']

In [22]:
# creating a list of csv files that contain '2019' and '2022' respectively
csv_2019 = [item for item in all_csv if '2019' in item]
csv_2017 = [item for item in all_csv if '2017' in item]
csv_2022 = [item for item in all_csv if '2022' in item]

In [23]:
# using list comprehension that reads each csv file from the list and gnerators a sequence of dataframes
dfs = (pd.read_csv(csv) for csv in csv_2019)

# concatenate csvs them into a single DataFrame using pd.concat()
# ignore_index=True parameter resets the index of the resulting DataFrame, so that it is a continuous sequence of integers.
data_2019 = pd.concat(dfs, ignore_index=True)

In [24]:
# doing the same for the 2022 data
# passing errors within the csv files as per https://stackoverflow.com/questions/52105659/pandas-read-csv-unexpected-end-of-data-error
dfs_2022 = (pd.read_csv(csv, engine='python', encoding='utf-8', on_bad_lines='skip') for csv in csv_2022)
data_2022 = pd.concat(dfs_2022, ignore_index=True)

In [25]:
print(data_2019.shape)
data_2019.head()
print(data_2022.shape)
data_2022.head()

(10388411, 9)
(11232181, 20)

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,115967515.0,1260.0,15338.0,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529.0,"Manresa Road, Chelsea",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,116017034.0,720.0,19861.0,04/01/2022 19:08,11.0,"Brunswick Square, Bloomsbury",04/01/2022 18:56,804.0,"Good's Way, King's Cross",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,115895660.0,360.0,19666.0,29/12/2021 16:34,70.0,"Calshot Street , King's Cross",29/12/2021 16:28,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,116016563.0,480.0,19861.0,04/01/2022 18:46,804.0,"Good's Way, King's Cross",04/01/2022 18:38,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,116014412.0,1260.0,17235.0,04/01/2022 17:45,14.0,"Belgrove Street , King's Cross",04/01/2022 17:24,297.0,"Geraldine Street, Elephant & Castle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# 2019

## Add some extra variables to the dataset for use later in filtering

import datetime

## Feeding a specififed date format speeds up the pd.to_datetime function immeasurably, especially over large datasets
## e.g. http://stackoverflow.com/questions/32034689/why-is-pandas-to-datetime-slow-for-non-standard-time-format-such-as-2014-12-31

format = "%d/%m/%Y %H:%M"

## Some routes had dates with a seconds component, whereas some didn't - the below code cuts these seconds off
data_2019['Start Date']= data_2019['Start Date'].str[:16]

data_2019['Start Date Converted']= pd.to_datetime(data_2019['Start Date'], format=format).dt.date

data_2019['Hours']= pd.to_datetime(data_2019['Start Date'], format=format).dt.hour

data_2019['Day']= pd.to_datetime(data_2019['Start Date'], format=format).dt.weekday

data_2019.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Start Date Converted,Hours,Day
0,83252102,720,2077,31/12/2018 19:05,272,"Baylis Road, Waterloo",31/12/2018 18:53,94,"Bricklayers Arms, Borough",2018-12-31,18,0
1,83195883,120,10781,27/12/2018 19:47,93,"Cloudesley Road, Angel",27/12/2018 19:45,339,"Risinghill Street, Angel",2018-12-27,19,3
2,83196070,120,2977,27/12/2018 20:11,339,"Risinghill Street, Angel",27/12/2018 20:09,234,"Liverpool Road (N1 Centre), Angel",2018-12-27,20,3
3,83197932,660,10802,28/12/2018 07:35,282,"Royal London Hospital, Whitechapel",28/12/2018 07:24,698,"Shoreditch Court, Haggerston",2018-12-28,7,4
4,83176351,1380,15749,26/12/2018 11:55,785,"Aquatic Centre, Queen Elizabeth Olympic Park",26/12/2018 11:32,783,"Monier Road, Hackney Wick",2018-12-26,11,2

In [27]:
data_2022.shape

#data_2022.sort_values(by='End date', ascending=True)
data_2022.sort_values(by='Bike model', ascending=False)

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
10300669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126646858.0,2022-11-09 10:24,22180,"Cheapside, Bank",2022-11-09 10:33,1151,"Whitehall Place, Strand",60399.0,PBSC_EBIKE,9m 34s,574742.0
9708807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126117045.0,2022-10-19 21:42,300012,"Irene Road, Parsons Green",2022-10-19 21:48,300058,"The Vale, Chelsea",60402.0,PBSC_EBIKE,6m 3s,363321.0
9856202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126367091.0,2022-10-28 18:30,003467,"Dock Street, Wapping",2022-10-28 18:56,200129,"Charlotte Terrace, Angel",60130.0,PBSC_EBIKE,26m 0s,1560647.0
9856197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126367086.0,2022-10-28 18:30,000973,"Bethnal Green Road, Shoreditch",2022-10-28 18:57,300009,"World's End Place, West Chelsea",60150.0,PBSC_EBIKE,27m 14s,1634782.0
10089427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126498212.0,2022-11-02 16:14,1186,"Belvedere Road 1, South Bank",2022-11-02 16:27,2667,"Tower Wharf, Bermondsey",60272.0,PBSC_EBIKE,13m 20s,800924.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8677099,125044170.0,3840.0,21738.0,11/09/2022 09:45,201.0,"Dorset Square, Marylebone",11/09/2022 08:41,514.0,"Portman Square, Marylebone",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8677100,125102716.0,360.0,10886.0,11/09/2022 10:19,5.0,"Sedding Street, Sloane Square",11/09/2022 10:13,826.0,"Allington Street, Victoria",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8677101,125102718.0,540.0,8719.0,11/09/2022 10:53,270.0,"Kennington Lane Rail Bridge, Vauxhall",11/09/2022 10:44,826.0,"Allington Street, Victoria",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8677102,125044249.0,6000.0,8881.0,11/09/2022 14:13,757.0,"Harcourt Terrace, West Brompton",11/09/2022 12:33,757.0,"Harcourt Terrace, West Brompton",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8677103,125044312.0,480.0,23806.0,12/09/2022 00:06,339.0,"Risinghill Street, Angel",11/09/2022 23:58,189.0,"Claremont Square, Angel",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# 2022

# In September 2022 the column names change slightly and additional clumns have been added
# for example the 'Bike model' column has been added (classic or PBSC_EBIKE)

# Let's clean this up and get all the data into single columns
# transfering values from one pandas column to another pandas column only for null rows

#creating a copy of the orginal data
data_2022_clean = data_2022.copy()

In [29]:
data_2022_clean.loc[data_2022_clean['Rental Id'].isnull(), 'Rental Id'] = data_2022_clean['Number']
# converting from milliseconds to seconds, multipyling by 1000 
data_2022_clean.loc[data_2022_clean['Duration'].isnull(), 'Duration'] = data_2022_clean['Total duration (ms)'] / 1000
data_2022_clean.loc[data_2022_clean['Bike Id'].isnull(), 'Bike Id'] = data_2022_clean['Bike number']
data_2022_clean.loc[data_2022_clean['End Date'].isnull(), 'End Date'] = data_2022_clean['End date']
#data_2022_clean.loc[data_2022_clean['EndStation Id'].isnull(), 'EndStation Id'] = data_2022_clean['End station number']
data_2022_clean.loc[data_2022_clean['EndStation Name'].isnull(), 'EndStation Name'] = data_2022_clean['End station']
data_2022_clean.loc[data_2022_clean['Start Date'].isnull(), 'Start Date'] = data_2022_clean['Start date']
#data_2022_clean.loc[data_2022_clean['StartStation Id'].isnull(), 'StartStation Id'] = data_2022_clean['End station number']
data_2022_clean.loc[data_2022_clean['StartStation Name'].isnull(), 'StartStation Name'] = data_2022_clean['Start station']

#data_2022_clean.sort_values(by='Bike model', ascending=False)

In [30]:
# Docking station id also recorded differently from September 2022...
# before September station id is associated with the id value in the xml below
# however after September, station id is associated with terminalName value in the xml below
# https://tfl.gov.uk/tfl/syndication/feeds/cycle-hire/livecyclehireupdates.xml

# for example docking station, 'Chepside Bank' has an id of 427 and a terminal name of 022180
#data_2022_clean.loc[data_2022_clean['EndStation Id'] == 427.0]
#data_2022_clean.loc[data_2022_clean['End station number'] == 22180]

In [31]:
# using the tfl xml, lets create a dataframe which includes name both docking station id and terminal name 
# we will then join it to the bike data dataframe to populate the missing data 

import requests
from xml.etree import ElementTree as ET
import pandas as pd

site = "https://tfl.gov.uk/tfl/syndication/feeds/cycle-hire/livecyclehireupdates.xml"

response = requests.get(site)
root = ET.fromstring(response.content)

id_list = [int(root[i][0].text) for i in range(0, len(root))]
name_list = [root[i][1].text for i in range(0, len(root))]
terminal_name_list = [int(root[i][2].text) for i in range(0, len(root))]
df_id = pd.DataFrame(list(zip(name_list, id_list, terminal_name_list)), columns = ["name","id","terminal name"])

# exporting as a csv
#df_id.to_csv('output/docking_station_terminalname_id.csv', header=True)

df_id.head(5)

                                   name  id  terminal name
0            River Street , Clerkenwell   1           1023
1        Phillimore Gardens, Kensington   2           1018
2  Christopher Street, Liverpool Street   3           1012
3       St. Chad's Street, King's Cross   4           1013
4         Sedding Street, Sloane Square   5           3420

In [32]:
# joining the the 2 dataframes dataframes based on the station names

# let's populate the 'Endstation Id' column 
# joining the tables
data_2022_clean = pd.merge(data_2022_clean, df_id, left_on='End station', right_on='name', how='outer')

In [33]:
# populating table
data_2022_clean.loc[data_2022_clean['EndStation Id'].isnull(), 'EndStation Id'] = data_2022_clean['id']

In [34]:
data_2022_clean

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,...,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms),name,id,terminal name
0,115967515.0,1260.000,15338.0,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529.0,"Manresa Road, Chelsea",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,116017034.0,720.000,19861.0,04/01/2022 19:08,11.0,"Brunswick Square, Bloomsbury",04/01/2022 18:56,804.0,"Good's Way, King's Cross",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,115895660.0,360.000,19666.0,29/12/2021 16:34,70.0,"Calshot Street , King's Cross",29/12/2021 16:28,57.0,"Guilford Street , Bloomsbury",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,116016563.0,480.000,19861.0,04/01/2022 18:46,804.0,"Good's Way, King's Cross",04/01/2022 18:38,57.0,"Guilford Street , Bloomsbury",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,116014412.0,1260.000,17235.0,04/01/2022 17:45,14.0,"Belgrove Street , King's Cross",04/01/2022 17:24,297.0,"Geraldine Street, Elephant & Castle",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11232180,127642060.0,1776.354,19859.0,2022-12-26 08:30,672.0,"Chicheley Street, South Bank",2022-12-26 08:01,NaN,"Cantrell Road, Bow",127642060.0,...,2022-12-26 08:30,200206,"Chicheley Street, South Bank",19859.0,CLASSIC,29m 36s,1776354.0,"Chicheley Street, South Bank",672.0,200206.0
11232181,NaN,NaN,NaN,NaN,220.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chelsea Green, Chelsea",220.0,1179.0
11232182,NaN,NaN,NaN,NaN,240.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colombo Street, Southwark",240.0,3472.0
11232183,NaN,NaN,NaN,NaN,363.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Lord's, St. John's Wood",363.0,2665.0
11232184,NaN,NaN,NaN,NaN,731.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Michael Road, Walham Green",731.0,300095.0

In [37]:
#dropping the last three columns from the dataframe 
data_2022_clean = data_2022_clean.drop(columns=['id', 'name', 'terminal name'])

In [38]:
# join tables by start station name
data_2022_clean = pd.merge(data_2022_clean, df_id, left_on='Start station', right_on='name', how='outer')

In [39]:
# populating 'StartStation Id'
data_2022_clean.loc[data_2022_clean['StartStation Id'].isnull(), 'StartStation Id'] = data_2022_clean['id']

In [ ]:
# summerising the remaing null values 
# it's look a lot better but there's still quite a few EndStation Ids and StartStation Ids with null values 
data_2022_clean.isnull().sum()

Rental Id                    28
Duration                     28
Bike Id                      28
End Date                     28
EndStation Id            332434
EndStation Name              28
Start Date                   28
StartStation Id           35142
StartStation Name            28
Number                  8677132
Start date              8677132
Start station number    8677132
Start station           8677132
End date                8677132
End station number      8677132
End station             8677132
Bike number             8677132
Bike model              8677132
Total duration          8677132
Total duration (ms)     8677132
name                    8713108
id                      8713108
terminal name           8713108
dtype: int64

In [ ]:
# sum of null ids by start station
print(data_2022_clean.loc[data_2022_clean['StartStation Id'].isnull(), 'StartStation Name'].value_counts())
# sum of null ids by end station
print(data_2022_clean.loc[data_2022_clean['EndStation Id'].isnull(), 'EndStation Name'].value_counts())

Wellington Street , Strand            6296
Leonard Circus , Shoreditch           5066
Jubilee Gardens, South Bank           4990
Southampton Street, Strand            4227
Jubilee Plaza, Canary Wharf           4173
Chesilton Road, Fulham                3403
Bruton Street, Mayfair                2289
Coomer Place, West Kensington_OLD     1940
Abyssinia Close, Clapham Junction     1614
New North Road 1, Hoxton              1115
One London                               4
Hammersmith Town Hall, Hammersmith       1
Name: StartStation Name, dtype: int64

In [ ]:
# Some docking stations have closed, as per the tfl website, https://tfl.gov.uk/modes/cycling/santander-cycles/docking-stations

# we will leave this for now

In [ ]:
# dropping unwanted columns from the 2022 data frame
data_2022 = data_2022_clean.drop(columns=['Number', 'Start date', 'Start station number', 'Start station', 'End date',
                                                'End station number', 'End station', 'Bike number', 'Bike model', 'Total duration', 
                                                'Total duration (ms)', 'id', 'name', 'terminal name'])

In [ ]:
data_2022

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,115967515.0,1260.000,15338.0,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529.0,"Manresa Road, Chelsea"
1,116017034.0,720.000,19861.0,04/01/2022 19:08,11.0,"Brunswick Square, Bloomsbury",04/01/2022 18:56,804.0,"Good's Way, King's Cross"
2,115895660.0,360.000,19666.0,29/12/2021 16:34,70.0,"Calshot Street , King's Cross",29/12/2021 16:28,57.0,"Guilford Street , Bloomsbury"
3,116016563.0,480.000,19861.0,04/01/2022 18:46,804.0,"Good's Way, King's Cross",04/01/2022 18:38,57.0,"Guilford Street , Bloomsbury"
4,116014412.0,1260.000,17235.0,04/01/2022 17:45,14.0,"Belgrove Street , King's Cross",04/01/2022 17:24,297.0,"Geraldine Street, Elephant & Castle"
...,...,...,...,...,...,...,...,...,...
11232204,127137507.0,171.717,90223.0,2022-11-28 14:51,NaN,One London,2022-11-28 14:48,NaN,One London
11232205,NaN,NaN,NaN,NaN,220.0,NaN,NaN,NaN,NaN
11232206,NaN,NaN,NaN,NaN,240.0,NaN,NaN,NaN,NaN
11232207,NaN,NaN,NaN,NaN,363.0,NaN,NaN,NaN,NaN
11232208,NaN,NaN,NaN,NaN,731.0,NaN,NaN,NaN,NaN

In [ ]:
# cleaning the 2022 data following the same process
data_2022['Start Date']= data_2022['Start Date'].str[:16]

data_2022['Start Date Converted']= pd.to_datetime(data_2022['Start Date'], format=format).dt.date

data_2022['Hours']= pd.to_datetime(data_2022['Start Date'], format=format).dt.hour

data_2022['Day']= pd.to_datetime(data_2022['Start Date'], format=format).dt.weekday

data_2022.head()

ValueError: time data '2022-09-18 23:59' does not match format '%d/%m/%Y %H:%M' (match)

In [48]:
# Convert the date column to datetime format
data_2019['Start Date Converted'] = pd.to_datetime(data_2019['Start Date Converted'])
#data_2022['Start Date Converted'] = pd.to_datetime(data_2022['Start Date Converted'])

In [49]:
# Filter the dataframe to only include data from 2019
# Remember, one of the merged csv files contain data between 26/12/2018 to 01/01/2019 - filtering will remove the 2018 data 
bike_data_2019 = data_2019[data_2019['Start Date Converted'].dt.year == 2019]
print(bike_data_2019.shape)

# 2022 filtering data
#bike_data_2022 = data_2022[data_2022['Start Date Converted'].dt.year == 2022]
#print(bike_data_2022.shape)

(10310063, 12)

### Storing data in an SQL databse

In [41]:
# psycopg2 library installed to connect to a PostgreSQL database from Python

import psycopg2
from sqlalchemy import create_engine

In [42]:
# connection to postgres database
conn = psycopg2.connect(
    user="postgres",
    password="password123",
    host="localhost",
    database="diss_data",
)

In [43]:
# Create a SQLAlchemy engine: Create a SQLAlchemy engine using the create_engine function, which will be used to write the DataFrame to the database.
engine = create_engine('postgresql+psycopg2://postgres:password123@localhost:5432/diss_data')

In [50]:
# Export the DataFrame to the database: Once you have the connection and engine set up, you can use the to_sql method of the DataFrame to export it to the database.
# save the DataFrame to the PostgreSQL database
# set the index parameter to False to avoid saving the DataFrame's index as a separate column in the database.
bike_data_2019.to_sql('bike_data_2019_tb', engine, if_exists='replace', index=False)

63